<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.kb</id>
	<name>Cerberus Helpdesk Knowledgebase</name>
	<description>Knowledgebase page providing articles organized into categories.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	
	<mapping>
		<uri value="kb" extension_id="core.page.kb" />
	</mapping>	
	
	<extensions>
	
		<extension point="cerberusweb.page">
			<id>core.page.kb</id>
			<name>Knowledgebase Page</name>
			<class>
				<file>classes.php</file>
				<name>ChKnowledgebasePage</name>
			</class>
			<params>
				<param key="title" value="Knowledgebase" />
				<param key="menutitle" value="Knowledgebase" />
			</params>
		</extension>
		
		<extension point="cerberusweb.display.module">
			<id>core.display.module.fnr</id>
			<name>Fetch &amp; Retrieve Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayFnr</name>
			</class>
			<params>
				<param key="title" value="Fetch &amp; Retrieve&amp;trade; - Suggested Resources" />
				<param key="icon" value="images/document.gif" />
			</params>
		</extension>
		
	</extensions>
</plugin>