<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>example.activity_log.event</id>
	<name>[Example] Activity Log Event</name>
	<description>This plugin creates a new activity log event and makes its entries creatable through the Web-API.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.0.1</version>
	<link>https://cerb.ai</link>
	<!--<image>plugin.png</image>-->

	<!-- Requirements -->

	<requires>
		<app_version min="9.2" max="9.2.99" />
		<!--<php_extension name="curl" />-->
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="9.2.0" />
	</dependencies>

	<!-- Exported Classes -->
	
	<class_loader>
	</class_loader>

	<!-- Activities -->
	
	<activity_points>
		<activity point="example.worker_high_five">
			<param key="label_key" value="Worker High Five" />
			<param key="string_key" value="activities.example.worker_high_five" />
			<param key="options" value="api_create" /> <!-- api_create, no_notifications -->
		</activity>
	</activity_points>

	<!-- Extensions -->

	<extensions>
	</extensions>
</plugin>
