<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerb.classifiers</id>
	<name>Classifiers</name>
	<description>Simple Naive Bayes classifiers for automations and bot behaviors.</description>
	<author>Webgroup Media, LLC.</author>
	<version>11.1.0</version>
	<link>https://cerb.ai/</link>
	<image>plugin.png</image>

	<!-- Requirements -->

	<requires>
		<app_version min="11.1" max="11.1.99" />
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" />
	</dependencies>

	<!-- Patches -->

	<patches>
		<patch version="11.0.0" revision="1" file="patches/11.0.0.php" />
	</patches>

	<!-- Classloader -->
	
	<class_loader>
		<file path="api/dao/classifier.php">
			<class name="Context_Classifier" />
			<class name="DAO_Classifier" />
			<class name="Model_Classifier" />
			<class name="SearchFields_Classifier" />
			<class name="View_Classifier" />
		</file>

		<file path="api/dao/classifier_class.php">
			<class name="Context_ClassifierClass" />
			<class name="DAO_ClassifierClass" />
			<class name="Model_ClassifierClass" />
			<class name="SearchFields_ClassifierClass" />
			<class name="View_ClassifierClass" />
		</file>

		<file path="api/dao/classifier_entity.php">
			<class name="Context_ClassifierEntity" />
			<class name="DAO_ClassifierEntity" />
			<class name="Model_ClassifierEntity" />
			<class name="SearchFields_ClassifierEntity" />
			<class name="View_ClassifierEntity" />
		</file>

		<file path="api/dao/classifier_example.php">
			<class name="Context_ClassifierExample" />
			<class name="DAO_ClassifierExample" />
			<class name="Model_ClassifierExample" />
			<class name="SearchFields_ClassifierExample" />
			<class name="View_ClassifierExample" />
		</file>
	</class_loader>

	<!-- Extensions -->

	<extensions>

		<!-- Contexts -->

		<extension point="devblocks.context">
			<id>cerberusweb.contexts.classifier</id>
			<name>Classifier</name>
			<class>
				<file>api/dao/classifier.php</file>
				<name>Context_Classifier</name>
			</class>
			<params>
				<param key="names">
					<value>
						<data key="classifier" value="singular" />
						<data key="classifiers" value="plural" />
					</value>
				</param>
				<param key="alias" value="classifier" />
				<param key="dao_class" value="DAO_Classifier" />
				<param key="view_class" value="View_Classifier" />
				<param key="options">
					<value>
						<data key="cards" />
						<data key="comments" />
						<data key="custom_fields" />
						<data key="links" />
						<data key="records" />
						<data key="search" />
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
				<param key="acl">
					<value>
						<data key="create" />
						<data key="delete" />
						<data key="import" />
						<data key="update" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="devblocks.context">
			<id>cerberusweb.contexts.classifier.class</id>
			<name>Classifier Classification</name>
			<class>
				<file>api/dao/classifier_class.php</file>
				<name>Context_ClassifierClass</name>
			</class>
			<params>
				<param key="names">
					<value>
						<data key="classification" value="singular" />
						<data key="classifications" value="plural" />
					</value>
				</param>
				<param key="alias" value="classifier_class" />
				<param key="dao_class" value="DAO_ClassifierClass" />
				<param key="view_class" value="View_ClassifierClass" />
				<param key="options">
					<value>
						<data key="cards" />
						<data key="comments" />
						<data key="custom_fields" />
						<data key="links" />
						<data key="records" />
						<data key="search" />
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
				<param key="acl">
					<value>
						<data key="create" />
						<data key="delete" />
						<data key="export" />
						<data key="import" />
						<data key="update" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="devblocks.context">
			<id>cerberusweb.contexts.classifier.entity</id>
			<name>Classifier Entity</name>
			<class>
				<file>api/dao/classifier_entity.php</file>
				<name>Context_ClassifierEntity</name>
			</class>
			<params>
				<param key="names">
					<value>
						<data key="classifier entity" value="singular" />
						<data key="classifier entities" value="plural" />
						<data key="entity" value="singular short" />
						<data key="entities" value="plural short" />
					</value>
				</param>
				<param key="alias" value="classifier_entity" />
				<param key="dao_class" value="DAO_ClassifierEntity" />
				<param key="view_class" value="View_ClassifierEntity" />
				<param key="options">
					<value>
						<data key="cards" />
						<data key="comments" />
						<data key="links" />
						<data key="records" />
						<data key="search" />
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
				<param key="acl">
					<value>
						<data key="create" />
						<data key="delete" />
						<data key="export" />
						<data key="update" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="devblocks.context">
			<id>cerberusweb.contexts.classifier.example</id>
			<name>Classifier Example</name>
			<class>
				<file>api/dao/classifier_example.php</file>
				<name>Context_ClassifierExample</name>
			</class>
			<params>
				<param key="names">
					<value>
						<data key="classifier example" value="singular" />
						<data key="classifier examples" value="plural" />
						<data key="example" value="singular short" />
						<data key="examples" value="plural short" />
					</value>
				</param>
				<param key="alias" value="classifier_example" />
				<param key="dao_class" value="DAO_ClassifierExample" />
				<param key="view_class" value="View_ClassifierExample" />
				<param key="options">
					<value>
						<data key="cards" />
						<data key="comments" />
						<data key="links" />
						<data key="records" />
						<data key="search" />
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
				<param key="acl">
					<value>
						<data key="create" />
						<data key="delete" />
						<data key="export" />
						<data key="import" />
						<data key="update" />
					</value>
				</param>
			</params>
		</extension>

		<!-- Card Widgets -->

		<extension point="cerb.card.widget">
			<id>cerb.card.widget.classifier.trainer</id>
			<name>Classifier Trainer</name>
			<class>
				<file>api/cards/widgets/classifier_trainer.php</file>
				<name>CardWidget_ClassifierTrainer</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Bot Actions -->

		<extension point="devblocks.event.action">
			<id>core.va.action.classifier_prediction</id>
			<name>Classifier Prediction</name>
			<class>
				<file>api/bots/actions/classifier.php</file>
				<name>BotAction_ClassifierPrediction</name>
			</class>
			<params>
				<param key="label" value="Execute classifier prediction" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>

		<!-- Profile Pages -->

		<extension point="cerberusweb.ui.page.section">
			<id>core.page.profiles.classifier</id>
			<name>Classifier Section</name>
			<class>
				<file>api/profiles/classifier.php</file>
				<name>PageSection_ProfilesClassifier</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="classifier" />
			</params>
		</extension>

		<extension point="cerberusweb.ui.page.section">
			<id>core.page.profiles.classifier_class</id>
			<name>Classifier Class Section</name>
			<class>
				<file>api/profiles/classifier_class.php</file>
				<name>PageSection_ProfilesClassifierClass</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="classifier_class" />
			</params>
		</extension>

		<extension point="cerberusweb.ui.page.section">
			<id>core.page.profiles.classifier_entity</id>
			<name>Classifier Entity Section</name>
			<class>
				<file>api/profiles/classifier_entity.php</file>
				<name>PageSection_ProfilesClassifierEntity</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="classifier_entity" />
			</params>
		</extension>

		<extension point="cerberusweb.ui.page.section">
			<id>core.page.profiles.classifier.example</id>
			<name>Classifier Example Section</name>
			<class>
				<file>api/profiles/classifier_example.php</file>
				<name>PageSection_ProfilesClassifierExample</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="classifier_example" />
			</params>
		</extension>

	</extensions>
</plugin>
