<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.gravatar</id>
	<name>[Cerb5] Gravatar Profile Pictures</name>
	<description>Displays profile pictures for contacts using gravatar.com</description>
	<author>WebGroup Media, LLC.</author>
	<version>5.6.3</version>
	<link>http://wiki.cerb5.com/wiki/Features:Gravatar_Profile_Pictures</link>
	<image>images/plugin.jpg</image>
	
	<!-- Requirements -->

	<requires>
		<app_version min="5.6" max="5.6.3" />
	</requires>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.1.0-dev" />
	</dependencies>
	
	<!-- Exported Classes -->

	<!--	
	<class_loader>
		<file path="api/App.php">
		</file>
	</class_loader>
	-->
	
	<extensions>
	
		<!-- Comment Badge -->
		
		<extension point="cerberusweb.comment.badge">
			<id>wgm.gravatar.comment.badge</id>
			<name>Gravatar Comment Badge</name>
			<class>
				<file>api/App.php</file>
				<name>WgmGravatarCommentBadge</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Message Badge -->
		
		<extension point="cerberusweb.message.badge">
			<id>wgm.gravatar.message.badge</id>
			<name>Gravatar Message Badge</name>
			<class>
				<file>api/App.php</file>
				<name>WgmGravatarMessageBadge</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Support Center -->
		
		<extension point="cerberusweb.support_center.message.badge">
			<id>wgm.gravatar.support_center.message.badge</id>
			<name>Gravatar Support Center Message Badge</name>
			<class>
				<file>api/App.php</file>
				<name>WgmGravatarSupportCenterMessageBadge</name>
			</class>
			<params>
			</params>
		</extension>
		
	</extensions>
</plugin>