<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.support_center</id>
	<name>Support Center</name>
	<description>Adds a Support Center community portal for public-facing support.</description>
	<author>WebGroup Media, LLC.</author>
	<version>6.0.0</version>
	<link>http://wiki.cerb5.com/wiki/Support_Center</link>
	<image>plugin.png</image>
 
	<!-- Requirements -->

	<requires>
		<app_version min="6.1" max="6.1.99" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.1.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="4.1.0" revision="13" file="patches/4.1.0.php" />
		<patch version="4.2.2" revision="14" file="patches/4.2.2.php" />
		<patch version="4.3.0" revision="15" file="patches/4.3.0.php" />
		<patch version="4.3.1" revision="16" file="patches/4.3.1.php" />
		<patch version="5.0.0-beta" revision="19" file="patches/5.0.0_beta.php" />
		<patch version="5.1.0-dev" revision="21" file="patches/5.1.0.php" />
		<patch version="5.2.0-dev" revision="24" file="patches/5.2.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/Extension.php">
			<class name="Extension_ScLoginAuthenticator" />
			<class name="Extension_SupportCenterMessageBadge" />
			<class name="Extension_UmScController" />
			<class name="Extension_UmScRssController" />
		</file>
		<file path="api/dao/supportcenter_address_share.php">
			<class name="DAO_SupportCenterAddressShare" />
			<class name="Model_SupportCenterAddressShare" />
		</file>
		<file path="api/sc/uri/ajax.php">
			<class name="UmScAjaxController" />
		</file>
		<file path="api/sc/uri/history.php">
			<class name="UmSc_TicketHistoryView" />
		</file>
	</class_loader>

	<!-- Templates -->
	
	<templates set="cerberusweb.support_center">
		<template path="support_center/index.tpl" />
		<template path="support_center/header.tpl" />
		<template path="support_center/footer.tpl" />
		<template path="support_center/style.css.tpl" />
		<template path="support_center/user_styles.css.tpl" />
		<template path="support_center/account/customfields_readonly.tpl" />
		<template path="support_center/account/customfields_writeable.tpl" />
		<template path="support_center/account/sidebar_menu.tpl" />
		<template path="support_center/account/delete/index.tpl" />
		<template path="support_center/account/email/confirm.tpl" />
		<template path="support_center/account/email/display.tpl" />
		<template path="support_center/account/email/index.tpl" />
		<template path="support_center/account/openid/display.tpl" />
		<template path="support_center/account/openid/index.tpl" />
		<template path="support_center/account/password/index.tpl" />
		<template path="support_center/account/sharing/index.tpl" />
		<template path="support_center/announcements/index.tpl" />
		<template path="support_center/contact/confirm.tpl" />
		<template path="support_center/contact/step1.tpl" />
		<template path="support_center/contact/step2.tpl" />
		<template path="support_center/history/display.tpl" />
		<template path="support_center/history/index.tpl" />
		<template path="support_center/history/view.tpl" />
		<template path="support_center/home/index.tpl" />
		<template path="support_center/internal/view/view_filters.tpl" />
		<template path="support_center/login/default/forgot_confirm.tpl" />
		<template path="support_center/login/default/forgot.tpl" />
		<template path="support_center/login/default/login.tpl" />
		<template path="support_center/login/default/register_confirm.tpl" />
		<template path="support_center/login/default/register.tpl" />
		<template path="support_center/login/openid/forgot_confirm.tpl" />
		<template path="support_center/login/openid/forgot.tpl" />
		<template path="support_center/login/openid/login.tpl" />
		<template path="support_center/login/openid/register_confirm.tpl" />
		<template path="support_center/login/openid/register.tpl" />
		<template path="support_center/login/switcher.tpl" />
	</templates>
	
	<!-- Extensions -->
 
	<extensions>

		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>sc.listeners.core</id>
			<name>Support Center Event Listener</name>
			<class>
				<file>api/UmScApp.php</file>
				<name>UmScEventListener</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="cron.maint" />						
					</value>
				</param>
			</params>
		</extension>

		<!-- Usermeet Tools -->
		
		<extension point="usermeet.tool">
			<id>sc.tool</id>
			<name>Support Center</name>
			<class>
				<file>api/UmScApp.php</file>
				<name>UmScApp</name>
			</class>
			<params>
				<param key="template_set" value="cerberusweb.support_center" />
			</params>
		</extension>
		
		<!-- Login Authenticators -->
		
		<extension point="usermeet.login.authenticator">
			<id>sc.login.auth.default</id>
			<name>Cerb6 (Default)</name>
			<class>
				<file>api/UmScApp.php</file>
				<name>UmScLoginAuthenticator</name>
			</class>
			<params>
				<param key="switcher_icon" value="images/mail.png" />
				<param key="switcher_label" value="Log in with email and password" />
			</params>
		</extension>
		
		<extension point="usermeet.login.authenticator">
			<id>sc.login.auth.openid</id>
			<name>OpenID (Recommended)</name>
			<class>
				<file>api/UmScApp.php</file>
				<name>ScOpenIDLoginAuthenticator</name>
			</class>
			<params>
				<param key="switcher_icon" value="images/openid.gif" />
				<param key="switcher_label" value="Log in with OpenID" />
			</params>
		</extension>
		
		<!-- Support Center Modules -->

		<extension point="usermeet.sc.controller">
			<id>sc.controller.home</id>
			<name>Home</name>
			<class>
				<file>api/sc/uri/home.php</file>
				<name>UmScHomeController</name>
			</class>
			<params>
				<param key="uri" value="home" />
				<param key="menu_title" value="portal.sc.public.home" />
			</params>
		</extension>
		
		<extension point="usermeet.sc.controller">
			<id>sc.controller.announcements</id>
			<name>Announcements</name>
			<class>
				<file>api/sc/uri/announcements.php</file>
				<name>UmScAnnouncementsController</name>
			</class>
			<params>
				<param key="uri" value="announcements" />
				<param key="menu_title" value="portal.sc.public.announcements" />
			</params>
		</extension>

		<extension point="usermeet.sc.controller">
			<id>sc.controller.contact</id>
			<name>Contact Us</name>
			<class>
				<file>api/sc/uri/contact.php</file>
				<name>UmScContactController</name>
			</class>
			<params>
				<param key="uri" value="contact" />
				<param key="menu_title" value="portal.common.open_ticket" />
			</params>
		</extension>
		
		<extension point="usermeet.sc.controller">
			<id>sc.controller.history</id>
			<name>Ticket History</name>
			<class>
				<file>api/sc/uri/history.php</file>
				<name>UmScHistoryController</name>
			</class>
			<params>
				<param key="uri" value="history" />
				<param key="menu_title" value="portal.sc.public.history.ticket_history" />
			</params>
		</extension>

		<extension point="usermeet.sc.controller">
			<id>sc.controller.account</id>
			<name>My Account</name>
			<class>
				<file>api/sc/uri/account.php</file>
				<name>UmScAccountController</name>
			</class>
			<params>
				<param key="uri" value="account" />
				<param key="menu_title" value="portal.sc.public.my_account" />
			</params>
		</extension>

		<extension point="usermeet.sc.controller">
			<id>sc.controller.login</id>
			<name>Login</name>
			<class>
				<file>api/sc/uri/login.php</file>
				<name>UmScLoginController</name>
			</class>
			<params>
				<param key="uri" value="login" />
				<param key="menu_title" value="portal.sc.public.themes.sign_in" />
			</params>
		</extension>
		
    </extensions> 	
</plugin>
