<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>example.event.condition</id>
	<name>[Example] Event Condition</name>
	<description>This plugin demonstrates a custom condition on an event.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.0.0</version>
	<link>http://www.cerbweb.com/</link>
	<!--<image>plugin.png</image>-->
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.3.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<!--
		<patch version="5.3.0" revision="1" file="patches/5.3.0.php" />
		-->
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<!--
		<file path="api/dao/example.php">
			<class name="DAO_Example" />
			<class name="Model_Example" />
			<class name="Plugin_Example" />
			<class name="SearchFields_Example" />
			<class name="View_Example" />
		</file>
		-->
	</class_loader>

	<!-- Templates -->
	
	<!--
	<templates set="example.template.namespace">
		<template path="path/to/template.tpl" />
	</templates>
	-->	

	<!-- Extensions -->
 
	<extensions>

		<!-- Event Conditions -->
		
		<extension point="devblocks.event.condition">
			<id>exampleeventcondition.condition</id>
			<name>Example Event Condition</name>
			<class>
				<file>api/App.php</file>
				<name>ExampleEventCondition_ExampleCondition</name>
			</class>
			<params>
				<param key="label" value="Example event condition" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>
		
    </extensions> 
</plugin>
