<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.forums</id>
	<name>Cerberus Helpdesk: Forum Explorer</name>
	<description>The Forum Explorer synchronizes with your various support forums (e.g. vBulletin, phpBB2) to allow you to efficiently handle forum threads like tickets.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/Forum_Explorer_(Plugin)</link>
	<class>
		<file>api/Plugin.php</file>
		<name>ChForumsPlugin</name>
	</class>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="C4_ForumsThreadView" />
		</file>
		<file path="api/Plugin.php">
			<class name="ChForumsPlugin" />
		</file>
	</class_loader>
	
	<extensions>
	
		<!-- Patch Containers -->
		
		<extension point="devblocks.patch.container">
			<id>forums.patches</id>
			<name>Forums Patches</name>
			<class>
				<file>api/Patch.php</file>
				<name>ChForumsPatchContainer</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Translations -->
		
		<extension point="devblocks.i18n.strings">
			<id>forums.translations</id>
			<name>Forums Strings</name>
			<class>
				<file>api/Plugin.php</file>
				<name>ChForumsTranslations</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Workspace Sources -->
		
		<extension point="cerberusweb.workspace.source">
			<id>forums.workspace.source.forum_thread</id>
			<name>Forum Threads</name>
			<class>
				<file>api/App.php</file>
				<name>ChWorkspaceSource_ForumThread</name>
			</class>
			<params>
				<param key="view_class" value="C4_ForumsThreadView" />
			</params>
		</extension>

		<!-- Activity Tabs -->
		
		<extension point="cerberusweb.activity.tab">
			<id>forums.activity.tab</id>
			<name>Forums Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChForumsActivityTab</name>
			</class>
			<params>
				<param key="uri" value="forums" />
				<param key="title" value="forums.activity.tab" />
			</params>
		</extension>
		
		<!-- Config Tabs -->
		
		<extension point="cerberusweb.config.tab">
			<id>forums.config.tab</id>
			<name>Forums Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChForumsConfigTab</name>
			</class>
			<params>
				<param key="uri" value="forums" />
				<param key="title" value="Forum Explorer" />
			</params>
		</extension>

		<!-- Controllers -->
		
		<extension point="devblocks.controller">
			<id>forums.controller</id>
			<name>Forums Controller</name>
			<class>
				<file>api/App.php</file>
				<name>ChForumsController</name>
			</class>
			<params>
				<param key="uri" value="forums" />
			</params>
		</extension>
		
	</extensions>
</plugin>