<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.pop3</id>
	<name>Cerberus Helpdesk POP3</name>
	<description>The POP3 polling functionality of Cerberus Helpdesk.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	
	<extensions>

		<!-- Cron Extensions -->
		
		<extension point="cerberusweb.cron">
			<id>cron.pop3</id>
			<name>POP3 Mail Checker</name>
			<class>
				<file>classes.php</file>
				<name>Pop3Cron</name>
			</class>
			<params>
			</params>
		</extension>		
		
	</extensions>
</plugin>