BODY, TD {
	font-family: Tahoma, Verdana, Arial;
	font-size:12px;
	color: rgb(60,60,60);
}

FORM {
	margin:0px;
}

H1 {
	font-size:16px;
	font-weight:bold;
	color: rgb(8,90,173);
	margin-top:0px;
	margin-bottom:3px;
}

H2 {
	font-size:14px;
	color: rgb(60,60,60);
	margin-top:0px;
	margin-bottom:3px;
}

BUTTON {
	background-color: rgb(238, 238, 238);
	color: rgb(30, 30, 30);
	border: 1px solid rgb(150, 150, 150);
	margin-right:1px;
}

BUTTON:hover {
	background-color: rgb(160,198,254);
	border: 1px solid rgb(36,111,223);
	cursor: hand;
}

DIV.header {
	border-bottom:1px solid rgb(180,180,180);
	margin-bottom:5px;
}

DIV.header H1 {
	margin-bottom:0px;
}

#menu TD A {
}

#menu TD A.selected {
	font-weight:bold;
	text-decoration:none;
}

#content {
}

#content A {
	color:rgb(50,50,50);
}

TABLE.sidebar {
	width:220px;
	border: 1px solid rgb(8,90,173);
}

TABLE.sidebar TH {
	background-color: rgb(8,90,173);
	font-size:10pt;
	font-weight:bold;
	line-height: 22px;
	padding-left: 6px;
	text-align: left;
	color: rgb(255,255,255);
}

TABLE.sidebar TD {
	background-color: rgb(238,238,238);
	padding: 3px;
}

TABLE.sidebar TD A {
	color: rgb(7,39,115);
}

TABLE.sidebar BUTTON {
	width:98%;
	text-align:center;
	background-color:rgb(255,255,255);
	border-top:1px solid rgb(204,204,204);	
	border-left:1px solid rgb(204,204,204);
	border-right:1px solid rgb(102,102,102);
	border-bottom:1px solid rgb(102,102,102);
	cursor: hand;
}

#footer {
	padding-bottom:10px;
	text-align:center;
}

#tagline {
	padding-top:5px;
	width:98%;
	padding:5px;
	text-align:right;
}

/* Modules */
#account {
	border:1px solid rgb(204,204,204);
	padding:5px;
}

#announcements DIV.feed {
	border:1px solid rgb(204,204,204);
	padding:5px;
	margin-bottom:10px;
}

#contact {
	border:1px solid rgb(204,204,204);
	padding:5px;
}

#home {
	padding:5px;
}

#history {
}

#history DIV.search {
	margin-bottom:5px;
}

#history DIV.search INPUT.query {
	width:200px;
	background-color:rgb(232,242,254);
	border:1px solid rgb(200,200,200);
	padding:2px;
}

#history DIV.message {
	margin:5px;
	margin-bottom:10px;
	border:1px solid rgb(200,200,200);
	padding:5px;
}

#history DIV.message SPAN.header {
}

#history DIV.outbound_message {
}

#history DIV.outbound_message SPAN.header {
	background-color:rgb(232,242,254);
	color:rgb(32,48,114);
	font-size:120%;
}

#history DIV.inbound_message {
}

#history DIV.reply {
	margin:10px;
}

#history DIV.reply TEXTAREA {
}

#kb {
}

#kb DIV.search {
	margin-bottom:5px;
}

#kb DIV.search INPUT.query {
	width:200px;
	background-color:rgb(232,242,254);
	border:1px solid rgb(200,200,200);
	padding:2px;
}

#kb DIV.browse {
	padding:5px;
	border:1px solid rgb(204,204,204);	
}

LABEL.error {
	background-color:rgb(255,235,235);
	color:rgb(180,0,0);
	font-weight:bold;
}

/* Cerb4 Styles */
DIV.error {
	border:1px solid rgb(180,0,0);
	background-color:rgb(255,235,235);
	color:rgb(180,0,0);
	font-weight:bold;
	margin:10px;
	padding:5px;
}

DIV.success {
	border:1px solid rgb(0,180,0);
	background-color:rgb(235,255,235);
	color:rgb(0,180,0);
	font-weight:bold;
	margin:10px;
	padding:5px;
}