<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.feed_reader</id>
	<name>[Cerb5] Feed Reader</name>
	<description>Share monitoring duties on RSS/Atom feeds: moderate blog comments, audit wiki changes, read new forum posts, track vendor announcements, etc.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://www.cerberusweb.com/</link>
	<image>plugin.png</image>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.2.0-dev" />
	</dependencies>
	
	<!-- Patches -->
	
	<patches>
		<patch version="5.2.0-dev" revision="1" file="patches/5.2.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="Extension_FeedTab" />
		</file>
		<file path="api/dao/feed.php">
			<class name="DAO_Feed" />
			<class name="Model_Feed" />
			<class name="SearchFields_Feed" />
			<class name="View_Feed" />
		</file>
		<file path="api/dao/feed_item.php">
			<class name="DAO_FeedItem" />
			<class name="Model_FeedItem" />
			<class name="SearchFields_FeedItem" />
			<class name="View_FeedItem" />
		</file>
	</class_loader>
	
	<extensions>
	
		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.feed</id>
			<name>Feed</name>
			<class>
				<file>api/dao/feed.php</file>
				<name>Context_Feed</name>
			</class>
			<params>
				<param key="view_class" value="View_Feed" />
				<param key="options">
						<!--
					<value>
						<data key="find" />
						<data key="workspace" />
					</value>
						-->
				</param>
			</params>
		</extension>	
	
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.feed.item</id>
			<name>Feed Item</name>
			<class>
				<file>api/dao/feed_item.php</file>
				<name>Context_FeedItem</name>
			</class>
			<params>
				<param key="view_class" value="View_FeedItem" />
				<param key="options">
					<value>
						<!--
						<data key="create" />
						-->
						<data key="find" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>	
	
		<!-- Activity Tabs -->
		
		<extension point="cerberusweb.activity.tab">
			<id>feeds.activity_tab</id>
			<name>Feeds Tab</name>
			<class>
				<file>api/App.php</file>
				<name>FeedsActivityTab</name>
			</class>
			<params>
				<param key="uri" value="feeds" />
				<param key="title" value="Feeds" />
			</params>
		</extension>	
	
		<!-- Scheduled Tasks -->
		
		<extension point="cerberusweb.cron">
			<id>feeds.cron</id>
			<name>Feeds Cron</name>
			<class>
				<file>api/App.php</file>
				<name>FeedsCron</name>
			</class>
			<params />
		</extension>
	
		<!-- Page -->
		
 		<extension point="cerberusweb.page">
			<id>feeds.page</id>
			<name>Feeds Page</name>
			<class>
				<file>api/App.php</file>
				<name>Page_Feeds</name>
			</class>
			<params>
				<param key="uri" value="feeds" />
				<param key="menutitle" value="" />
			</params>
		</extension>
		
		<!-- Explorer Toolbars -->
		
		<extension point="cerberusweb.explorer.toolbar">
			<id>cerberusweb.feed_reader.item.explore.toolbar</id>
			<name>Feed Item Toolbar</name>
			<class>
				<file>api/App.php</file>
				<name>ExplorerToolbar_FeedReaderItem</name>
			</class>
			<params>
			</params>
		</extension>		
	
	</extensions>
</plugin>