<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerb.file_bundles</id>
	<name>File Bundles</name>
	<description>This plugin adds a File Bundle record type for grouping attachments that can be reused (e.g. via #attach in mail). In modern versions of Cerb, use custom records instead.</description>
	<author>Webgroup Media, LLC.</author>
	<version>12.0.0</version>
	<link>https://cerb.ai/docs/plugins/cerb.file_bundles/</link>
	<image>plugin.png</image>

	<!-- Requirements -->

	<requires>
		<app_version min="12.0" max="12.0.99" />
	</requires>

	<!-- Plugin Dependencies -->

	<dependencies>
		<require plugin_id="cerberusweb.core" />
	</dependencies>

	<!-- Patches -->

	<patches>
		<patch version="12.0.0" revision="1" file="patches/12.0.0.php" />
	</patches>

	<!-- Exported Classes -->

	<class_loader>
		<file path="api/dao/file_bundle.php">
			<class name="Context_FileBundle" />
			<class name="DAO_FileBundle" />
			<class name="Model_FileBundle" />
			<class name="SearchFields_FileBundle" />
			<class name="View_FileBundle" />
		</file>
	</class_loader>

	<extensions>

		<!-- Contexts -->

		<extension point="devblocks.context">
			<id>cerberusweb.contexts.file_bundle</id>
			<name>File Bundle</name>
			<class>
				<file>api/dao/file_bundle.php</file>
				<name>Context_FileBundle</name>
			</class>
			<params>
				<param key="names">
					<value>
						<data key="file bundle" value="singular" />
						<data key="file bundles" value="plural" />
						<data key="bundle" value="singular short" />
						<data key="bundles" value="plural short" />
					</value>
				</param>
				<param key="alias" value="file_bundle" />
				<param key="icon" value="file-zip" />
				<param key="dao_class" value="DAO_FileBundle" />
				<param key="view_class" value="View_FileBundle" />
				<param key="options">
					<value>
						<data key="attachments" />
						<data key="autocomplete" />
						<data key="cards" />
						<data key="comments" />
						<data key="custom_fields" />
						<data key="links" />
						<data key="records" />
						<data key="search" />
						<data key="snippets" />
						<data key="va_variable" />
						<data key="watchers" />
						<data key="workspace" />
					</value>
				</param>
				<param key="acl">
					<value>
						<data key="comment" />
						<data key="create" />
						<data key="delete" />
						<data key="export" />
						<data key="update" />
					</value>
				</param>
			</params>
		</extension>

		<!-- Profile Page Sections -->

		<extension point="cerberusweb.ui.page.section">
			<id>core.page.profiles.file_bundle</id>
			<name>File Bundle Section</name>
			<class>
				<file>api/uri/profiles/file_bundle.php</file>
				<name>PageSection_ProfilesFileBundle</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="file_bundle" />
			</params>
		</extension>

	</extensions>
</plugin>
