<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.datacenter.domains</id>
	<name>[Cerb5] Datacenter: Domain Manager</name>
	<description>Management of hosting/SaaS/on-demand infrastructure.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>1</revision>
	<link>http://www.cerb5.com/</link>
	<image>plugin.png</image>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.1.0" />
		<require plugin_id="cerberusweb.datacenter" version="5.1.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="5.1.0" revision="1" file="patches/5.1.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/dao/datacenter_domain.php">
			<class name="Context_Domain" />
			<class name="DAO_Domain" />
			<class name="Model_Domain" />
			<class name="Plugin_Domain" />
			<class name="SearchFields_Domain" />
			<class name="View_Domain" />
		</file>
		<file path="api/events/abstract_event_domain.php">
			<class name="AbstractEvent_Domain" />
		</file>
		<file path="api/events/domain_macro.php">
			<class name="Event_DomainMacro" />
		</file>
	</class_loader>

	<!-- ACL -->

	<acl>
		<priv id="datacenter.domains.actions.delete" label="acl.datacenter.domains.actions.delete" />
	</acl>

	<!-- Extensions -->
 
	<extensions>

		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>cerberusweb.datacenter.domains.listener</id>
			<name>Event Listener</name>
			<class>
				<file>api/App.php</file>
				<name>EventListener_DatacenterDomains</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="cron.maint" />
					</value>
				</param>
			</params>
		</extension>

		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.datacenter.domain</id>
			<name>Domain</name>
			<class>
				<file>api/dao/datacenter_domain.php</file>
				<name>Context_Domain</name>
			</class>
			<params>
				<param key="view_class" value="View_Domain" />
				<param key="options">
					<value>
						<!--<data key="create" />-->
						<data key="find" />
						<data key="snippets" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>

		<!-- Events -->
		
		<extension point="devblocks.event">
			<id>event.macro.domain</id>
			<name>Custom domain behavior</name>
			<class>
				<file>api/events/domain_macro.php</file>
				<name>Event_DomainMacro</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.worker" />
					</value>
				</param>
			</params>
		</extension>

		<!-- Pages -->

		<extension point="cerberusweb.page">
			<id>cerberusweb.datacenter.domains.page</id>
			<name>Domains Page</name>
			<class>
				<file>api/App.php</file>
				<name>Page_Domains</name>
			</class>
			<params>
				<param key="uri" value="datacenter.domains" />
				<param key="menutitle" value="" />
			</params>
		</extension>
		
		<!-- Datacenter Tab -->
		
		<extension point="cerberusweb.datacenter.tab">
			<id>cerberusweb.datacenter.domains.datacenter_tab</id>
			<name>Domains Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChDomainsDatacenterTab</name>
			</class>
			<params>
				<param key="uri" value="domains" />
				<param key="title" value="cerberusweb.datacenter.domains" />
			</params>
		</extension>
		
		<!-- Server Tab -->
		
		<extension point="cerberusweb.datacenter.server.tab">
			<id>cerberusweb.datacenter.domains.server_tab</id>
			<name>Domains Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChDomainsServerTab</name>
			</class>
			<params>
				<param key="uri" value="domains" />
				<param key="title" value="cerberusweb.datacenter.domains" />
			</params>
		</extension>
		
    </extensions> 
</plugin>
