<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.kb</id>
	<name>[Cerb5] Knowledgebase</name>
	<description>((Knowledgebase))</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://www.cerberusweb.com/</link>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="DAO_KbArticle" />
			<class name="DAO_KbCategory" />
			<class name="Model_KbArticle" />
			<class name="Model_KbCategory" />
			<class name="Search_KbArticle" />
			<class name="SearchFields_KbArticle" />
			<class name="View_KbArticle" />
		</file>
	</class_loader>

	<!-- Templates -->
	
	<templates set="cerberusweb.support_center">
		<template path="support_center/kb/article.tpl" />
		<template path="support_center/kb/index.tpl" />
		<template path="support_center/kb/search_results.tpl" />
		<template path="support_center/kb/sidebar.tpl" />
		<template path="support_center/kb/view.tpl" />
	</templates>

	<!-- Permissions -->
	
	<acl>
		<!-- KB -->
		<priv id="core.kb.articles.modify" label="acl.core.kb.articles.modify" />
		<priv id="core.kb.categories.modify" label="acl.core.kb.categories.modify" />
		<priv id="core.kb.topics.modify" label="acl.core.kb.topics.modify" />
		<priv id="kb.articles.actions.update_all" label="acl.kb.articles.actions.update_all" />
	</acl>
	
	<extensions>
	
		<!-- Patch Containers -->
		
		<extension point="devblocks.patch.container">
			<id>cerberusweb.kb.patches</id>
			<name>Knowledgebase Patches</name>
			<class>
				<file>api/Patch.php</file>
				<name>ChKbPatchContainer</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Translations -->
		
		<extension point="devblocks.i18n.strings">
			<id>cerberusweb.kb.translations</id>
			<name>Knowledgebase Strings</name>
			<class>
				<file>api/Plugin.php</file>
				<name>ChKbTranslations</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!--
		<extension point="cerberusweb.page">
			<id>core.page.kb</id>
			<name>Knowledgebase Page</name>
			<class>
				<file>api/uri/kb.php</file>
				<name>ChKbPage</name>
			</class>
			<params>
				<param key="uri" value="kb" />
				<param key="menutitle" value="core.menu.knowledgebase" />
				<param key="acl" value="core.kb" />
			</params>
		</extension>
		-->
		
		<!-- Controllers -->
		
 		<extension point="devblocks.controller">
			<id>cerberusweb.kb.controller.ajax</id>
			<name>KB Ajax Controller</name>
			<class>
				<file>api/App.php</file>
				<name>ChKbAjaxController</name>
			</class>
			<params>
				<param key="uri" value="kb.ajax" />
			</params>
		</extension>
		
		<!-- Research Tab -->
		
		<extension point="cerberusweb.research.tab">
			<id>cerberusweb.kb.research.tab.kb</id>
			<name>Knowledgebase Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChKbResearchTab</name>
			</class>
			<params>
				<param key="uri" value="kb" />
				<param key="title" value="common.knowledgebase" />
			</params>
		</extension>

		<!-- Ticket Reply Toolbar -->
			
		<extension point="cerberusweb.reply.toolbaritem">
			<id>cerberusweb.kb.reply.toolbaritem.kb</id>
			<name>KB Reply Toolbar</name>
			<class>
				<file>api/App.php</file>
				<name>ChKbReplyToolbarButton</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Log Ticket Toolbar -->
			
		<extension point="cerberusweb.mail.log.toolbaritem">
			<id>cerberusweb.kb.logticket.toolbaritem.kb</id>
			<name>KB Log Ticket Toolbar</name>
			<class>
				<file>api/App.php</file>
				<name>ChKbLogTicketToolbarButton</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Send Mail Toolbar -->
			
		<extension point="cerberusweb.mail.send.toolbaritem">
			<id>cerberusweb.kb.sendmail.toolbaritem.kb</id>
			<name>KB Send Mail Toolbar</name>
			<class>
				<file>api/App.php</file>
				<name>ChKbSendMailToolbarButton</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Support Center Module -->
		
		<extension point="usermeet.sc.controller">
			<id>cerberusweb.kb.sc.controller</id>
			<name>Knowledgebase</name>
			<class>
				<file>api/sc/kb.php</file>
				<name>UmScKbController</name>
			</class>
			<params>
				<param key="uri" value="kb" />
				<param key="menu_title" value="common.knowledgebase" />
				<param key="icon" value="images/crystal/icon_knowledgebase.gif" />
			</params>
		</extension>
		
		<!-- Support Center RSS Controller -->

		<extension point="usermeet.sc.rss.controller">
			<id>cerberusweb.kb.sc.rss.controller</id>
			<name>Knowledgebase RSS</name>
			<class>
				<file>api/sc/rss/kb.php</file>
				<name>UmScKbRssController</name>
			</class>
			<params>
				<param key="uri" value="kb" />
			</params>
		</extension>
		
		<!-- Search Schemas -->
		
		<extension point="devblocks.search.schema">
			<id>cerberusweb.search.schema.kb_article</id>
			<name>Knowledgebase Articles</name>
			<class>
				<file>api/App.php</file>
				<name>Search_KbArticle</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Config Tabs -->
		<!-- 
		<extension point="cerberusweb.config.tab">
			<id>crm.config.tab.campaigns</id>
			<name>Campaigns Tab</name>
			<class>
				<file>api/App.php</file>
				<name>CrmConfigCampaignsTab</name>
			</class>
			<params>
				<param key="uri" value="crm.campaigns" />
				<param key="title" value="Campaigns (CRM)" />
			</params>
		</extension>
		-->
		
	</extensions>
</plugin>