<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.simulator</id>
	<name>Cerberus Helpdesk: Simulator</name>
	<description>A tool to assist evaluators with creating sample tickets</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<class>
		<file>classes.php</file>
		<name>ChSimulatorPlugin</name>
	</class>
	
	<extensions>
	
		<!-- Http Listeners -->
		
		<extension point="devblocks.listener.http">
			<id>simulator.listeners.tour</id>
			<name>Simulator Tour</name>
			<class>
				<file>listeners.classes.php</file>
				<name>ChSimulatorTour</name>
			</class>
			<params>
			</params>
		</extension>
	
		<extension point="cerberusweb.page">
			<id>core.page.simulator</id>
			<name>Simulator Page</name>
			<class>
				<file>classes.php</file>
				<name>ChSimulatorPage</name>
			</class>
			<params>
				<param key="uri" value="simulator" />
				<param key="menutitle" value="Simulator" />
			</params>
		</extension>
		
	</extensions>
</plugin>