<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.simulator</id>
	<name>Cerberus Helpdesk Simulator</name>
	<description>A tool to assist evaluators by creating sample tickets, etc.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	
	<mapping>
		<uri value="simulator" extension_id="core.module.simulator" />
	</mapping>	
	
	<extensions>
	
		<extension point="cerberusweb.module">
			<id>core.module.simulator</id>
			<name>Simulator Module</name>
			<class>
				<file>classes.php</file>
				<name>ChSimulatorModule</name>
			</class>
			<params>
				<param key="title" value="Simulator" />
				<param key="menutitle" value="Simulator" />
			</params>
		</extension>
		
	</extensions>
</plugin>