<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.calls</id>
	<name>[Cerb5] Call Logging</name>
	<description>Track phone calls in the helpdesk</description>
	<author>WebGroup Media, LLC.</author>
	<version>5.6.3</version>
	<link>http://www.cerberusweb.com/</link>
	<image>plugin.png</image>
	
	<!-- Requirements -->

	<requires>
		<app_version min="5.6" max="5.6.3" />
	</requires>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.2.0-dev" />
	</dependencies>
	
	<!-- Patches -->
	
	<patches>
		<patch version="4.0.0-alpha" revision="1" file="patches/4.0.0_alpha.php" />
		<patch version="5.1.0-dev" revision="4" file="patches/5.1.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/dao/call_entry.php">
			<class name="DAO_CallEntry" />
			<class name="Model_CallEntry" />
			<class name="SearchFields_CallEntry" />
			<class name="View_CallEntry" />
		</file>
		<file path="api/events/abstract/abstract_event_call.php">
			<class name="AbstractEvent_Call" />
		</file>
		<file path="api/events/macro/call_macro.php">
			<class name="Event_CallMacro" />
		</file>
	</class_loader>

	<!-- Privileges -->
	
	<acl>
		<!--<priv id="calls.actions.create" label="acl.calls.actions.create" />-->
		<priv id="calls.actions.update_all" label="acl.calls.actions.update_all" />
		<!--<priv id="calls.actions.update_nobody" label="acl.calls.actions.update_nobody" />-->
		<priv id="calls.view.actions.export" label="acl.calls.view.actions.export" />
	</acl>
	
	<extensions>
	
		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>calls.listener</id>
			<name>Event Listener</name>
			<class>
				<file>api/App.php</file>
				<name>CallsEventListener</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="cron.maint" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.call</id>
			<name>Call</name>
			<class>
				<file>api/dao/call_entry.php</file>
				<name>Context_Call</name>
			</class>
			<params>
				<param key="view_class" value="View_CallEntry" />
				<param key="options">
					<value>
						<data key="create" />
						<data key="find" />
						<data key="snippets" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>	
	
		<!-- Event Triggers -->
		
		<extension point="devblocks.event">
			<id>event.macro.call</id>
			<name>Custom call behavior</name>
			<class>
				<file>api/events/macro/call_macro.php</file>
				<name>Event_CallMacro</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.worker" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Page -->
		
 		<extension point="cerberusweb.page">
			<id>calls.page</id>
			<name>Call Logging Page</name>
			<class>
				<file>api/App.php</file>
				<name>CallsPage</name>
			</class>
			<params>
				<param key="uri" value="calls" />
			</params>
		</extension>
		
		<!-- Activity Tab -->
		
		<extension point="cerberusweb.activity.tab">
			<id>calls.activity.tab</id>
			<name>Call Logging Tab</name>
			<class>
				<file>api/App.php</file>
				<name>CallsActivityTab</name>
			</class>
			<params>
				<param key="uri" value="calls" />
				<param key="title" value="calls.activity.tab" />
			</params>
		</extension>
		
	</extensions>
</plugin>