<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.auditlog</id>
	<name>[Cerb5] Ticket Audit Log</name>
	<description>Track iterative changes and events on tickets.  This adds a Spam Analysis tab on Display Ticket.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/New_Changes#Audit_Log</link>
	<image>plugin.png</image>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="4.0.0-alpha" revision="2" file="patches/4.0.0_alpha.php" />
	</patches>

	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="C4_TicketAuditLogView" />
		</file>
	</class_loader>

	<!-- Extensions -->
	
	<extensions>

		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>auditlog.listener.core</id>
			<name>Audit Log Listener</name>
			<class>
				<file>api/App.php</file>
				<name>ChAuditLogEventListener</name>
			</class>
			<params>
				<!-- Event Listener -->
				<param key="events">
					<value>
						<data key="ticket.property.pre_change" />
						<data key="ticket.merge" />
						<data key="cron.maint" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Ticket Tabs  -->
		
		<extension point="cerberusweb.ticket.tab">
			<id>auditlog.ticket.tab</id>
			<name>Audit Log Ticket Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChAuditLogTicketTab</name>
			</class>
			<params>
				<param key="uri" value="log" />
				<param key="title" value="auditlog.display.tab.log" />
			</params>
		</extension>
	
	</extensions>
</plugin>