<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>example.cron</id>
	<name>[Examples] Example Cron</name>
	<description>This example plugin adds an example cron</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerberusweb.com/wiki/5.x/Extension:cerberusweb.cron</link>
	
    <!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.1.0" />
	</dependencies>
    
    <!-- Exported Classes -->
   
	<extensions>
		<extension point="cerberusweb.cron">
			<id>example.cron</id>
			<name>Example Cron</name>
			<class>
				<file>api/App.php</file>
				<name>ExCron</name>
			</class>
			<params />
		</extension>
	</extensions>
</plugin>