<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.feed_reader</id>
	<name>Collaborative Feed Reader</name>
	<description>This plugin adds new records for Feeds and Feed Items.  These can be used to share monitoring duties on RSS/Atom feeds: moderate blog comments, audit wiki changes, read new forum posts, track vendor announcements, etc.</description>
	<author>Webgroup Media, LLC.</author>
	<version>10.1.1</version>
	<link>http://www.cerbweb.com/book/latest/plugins/cerberusweb.feed_reader.git</link>
	<image>plugin.png</image>
	
	<!-- Requirements -->

	<requires>
		<app_version min="10.1" max="10.1.99" />
	</requires>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" />
	</dependencies>
	
	<!-- Patches -->
	
	<patches>
		<patch version="5.2.0-dev" revision="1" file="patches/5.2.0.php" />
		<patch version="7.2.0" revision="2" file="patches/7.2.0.php" />
		<patch version="9.0.0" revision="3" file="patches/9.0.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="Extension_FeedTab" />
		</file>
		<file path="api/dao/feed.php">
			<class name="Context_Feed" />
			<class name="DAO_Feed" />
			<class name="Model_Feed" />
			<class name="SearchFields_Feed" />
			<class name="View_Feed" />
		</file>
		<file path="api/dao/feed_item.php">
			<class name="Context_FeedItem" />
			<class name="DAO_FeedItem" />
			<class name="Model_FeedItem" />
			<class name="SearchFields_FeedItem" />
			<class name="View_FeedItem" />
		</file>
		<file path="api/events/abstract_event_feeditem.php">
			<class name="AbstractEvent_FeedItem" />
		</file>
		<file path="api/events/feeditem_macro.php">
			<class name="Event_FeedItemMacro" />
		</file>
	</class_loader>
	
	<extensions>
	
		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>cerberusweb.feed_reader.listener</id>
			<name>Event Listener</name>
			<class>
				<file>api/App.php</file>
				<name>EventListener_FeedReader</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="cron.maint" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.feed</id>
			<name>Feed</name>
			<class>
				<file>api/dao/feed.php</file>
				<name>Context_Feed</name>
			</class>
			<params>
				<param key="names">
					<value>
						<data key="feed" value="singular" />
						<data key="feeds" value="plural" />
						<data key="rss feed" value="singular" />
						<data key="rss feeds" value="plural" />
						<data key="news feed" value="singular" />
						<data key="news feeds" value="plural" />
					</value>
				</param>
				<param key="alias" value="feed" />
				<param key="dao_class" value="DAO_Feed" />
				<param key="view_class" value="View_Feed" />
				<param key="options">
					<value>
						<data key="cards" />
						<data key="comments" />
						<data key="custom_fields" />
						<data key="links" />
						<data key="records" />
						<data key="search" />
						<data key="va_variable" />
						<data key="watchers" />
						<data key="workspace" />
					</value>
				</param>
				<param key="acl">
					<value>
						<data key="comment" />
						<data key="create" />
						<data key="delete" />
						<data key="export" />
						<data key="import" />
						<data key="update" />
					</value>
				</param>
			</params>
		</extension>
	
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.feed.item</id>
			<name>Feed Item</name>
			<class>
				<file>api/dao/feed_item.php</file>
				<name>Context_FeedItem</name>
			</class>
			<params>
				<param key="names">
					<value>
						<data key="feed item" value="singular" />
						<data key="feed items" value="plural" />
					</value>
				</param>
				<param key="alias" value="feed_item" />
				<param key="dao_class" value="DAO_FeedItem" />
				<param key="view_class" value="View_FeedItem" />
				<param key="options">
					<value>
						<data key="cards" />
						<data key="comments" />
						<data key="custom_fields" />
						<data key="links" />
						<data key="records" />
						<data key="search" />
						<data key="snippets" />
						<data key="va_variable" />
						<data key="watchers" />
						<data key="workspace" />
					</value>
				</param>
				<param key="context_expand_export" value="feed_" />
				<param key="acl">
					<value>
						<data key="create" />
						<data key="comment" />
						<data key="delete" />
						<data key="export" />
						<data key="update" />
						<data key="update.bulk" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Events -->
		
		<extension point="devblocks.event">
			<id>event.macro.feeditem</id>
			<name>Record custom behavior on feed item (Legacy)</name>
			<class>
				<file>api/events/feeditem_macro.php</file>
				<name>Event_FeedItemMacro</name>
			</class>
			<params>
				<param key="macro_context" value="cerberusweb.contexts.feed.item" />
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.app" />
						<data key="cerberusweb.contexts.group" />
						<data key="cerberusweb.contexts.role" />
						<data key="cerberusweb.contexts.worker" />
					</value>
				</param>
				<param key="menu_key" value="Records:Custom Behavior:Feed item" />
				<param key="options">
					<value>
						<data key="visibility" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Scheduled Tasks -->
		
		<extension point="cerberusweb.cron">
			<id>feeds.cron</id>
			<name>Feeds Cron</name>
			<class>
				<file>api/App.php</file>
				<name>FeedsCron</name>
			</class>
			<params />
		</extension>
		
		<!-- Profile Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>feeds.page.profiles.feed</id>
			<name>Feed Page Section</name>
			<class>
				<file>api/uri/profiles/feed.php</file>
				<name>PageSection_ProfilesFeed</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="feed" />
			</params>
		</extension>
		
		<extension point="cerberusweb.ui.page.section">
			<id>feeds.page.profiles.feed_item</id>
			<name>Feed Item Page Section</name>
			<class>
				<file>api/uri/profiles/feed_item.php</file>
				<name>PageSection_ProfilesFeedItem</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="feed_item" />
			</params>
		</extension>
		
	</extensions>
</plugin>
