<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>wgm.google_cse</id>
	<name>Google Custom Search Engines</name>
	<description>This plugin adds support for Google Custom Search (your own search engines) on the Research page and in the ticket reply toolbar.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://www.cerberusweb.com/</link>
	<class>
		<file>api/Plugin.php</file>
		<name>WgmGoogleCSEPlugin</name>
	</class>
	
	<!-- Exported Classes -->
	
	<!--
	<class_loader>
		<file path="api/App.php">
			<class name="C4_RssExpItemView" />
		</file>
	</class_loader>
	-->
	
	<!-- Permissions -->
	
	<acl>
	</acl>
	
	<extensions>
	
		<!-- Translations -->
		
		<extension point="devblocks.i18n.strings">
			<id>wgm.google_cse.translations</id>
			<name>Google CSE Strings</name>
			<class>
				<file>api/Plugin.php</file>
				<name>WgmGoogleCSETranslations</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Controllers -->
		
 		<extension point="devblocks.controller">
			<id>wgm.google_cse.controller.ajax</id>
			<name>Google CSE Ajax Controller</name>
			<class>
				<file>api/App.php</file>
				<name>WgmGoogleCSEAjaxController</name>
			</class>
			<params>
				<param key="uri" value="googlecse.ajax" />
			</params>
		</extension>
		
		<!-- Research Tab -->
		
		<extension point="cerberusweb.research.tab">
			<id>wgm.google_cse.research.tab</id>
			<name>Google CSE Research Tab</name>
			<class>
				<file>api/App.php</file>
				<name>WgmGoogleCSEResearchTab</name>
			</class>
			<params>
				<param key="uri" value="google_cse" />
				<param key="title" value="wgm.google_cse" />
			</params>
		</extension>
		
		<!-- Ticket Reply Toolbar -->
			
		<extension point="cerberusweb.reply.toolbaritem">
			<id>wgm.google_cse.reply.toolbaritem.fnr</id>
			<name>Google CSE Reply Toolbar</name>
			<class>
				<file>api/App.php</file>
				<name>WgmGoogleCSEReplyToolbarButton</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Config Tabs -->
		<!-- 
		<extension point="cerberusweb.config.tab">
			<id>crm.config.tab.campaigns</id>
			<name>Campaigns Tab</name>
			<class>
				<file>api/App.php</file>
				<name>CrmConfigCampaignsTab</name>
			</class>
			<params>
				<param key="uri" value="crm.campaigns" />
				<param key="title" value="Campaigns (CRM)" />
			</params>
		</extension>
		-->
		
	</extensions>
</plugin>