<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>example.datacenter.tab</id>
	<name>[Example] Example Datacenter Tab</name>
	<description>This adds an example tab to the Datacenter page.</description>
	<author>WebGroup Media, LLC.</author>
	<version>0.0.0</version>
	<link>http://www.cerb5.com/</link>
	<!--<image>plugin.png</image>-->
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.3.0" />
	</dependencies>

    <!-- Extensions -->
   
	<extensions>
		<extension point="cerberusweb.datacenter.tab">
			<id>example.datacenter.tab</id>
			<name>Example Datacenter Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ExDatacenterTab</name>
			</class>
			<params>
				<param key="uri" value="example" />
    			<param key="title" value="example.datacenter.tab.title" />
			</params>
		</extension>
	</extensions>

</plugin>
