<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>usermeet.sc</id>
	<name>Community Tool: Support Center</name>
	<description>A public client area allowing logins to view ticket history and other custom modules.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerberusdemo.com/index.php/New_Changes#Support_Center_.28Community_Tool.29</link>
	<class>
		<file>api/UmScApp.php</file>
		<name>UmScPlugin</name>
	</class>
	
	<extensions>
	
		<!-- Patch Containers -->
		
		<!-- 
		<extension point="devblocks.patch.container">
			<id>usermeet.patches</id>
			<name>Usermeet Patches</name>
			<class>
				<file>patch.classes.php</file>
				<name>UmPatchContainer</name>
			</class>
			<params>
			</params>
		</extension>
		 -->
	
		<!-- Usermeet Tools -->
		
		<extension point="usermeet.tool">
			<id>sc.tool</id>
			<name>Support Center</name>
			<class>
				<file>api/UmScApp.php</file>
				<name>UmScApp</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Support Center Modules -->

		<extension point="usermeet.sc.controller">
			<id>sc.controller.core</id>
			<name>Support Center Controller</name>
			<class>
				<file>api/UmScApp.php</file>
				<name>UmScCoreController</name>
			</class>
			<params>
				<param key="modules">
					<value>
						<data key="uri" value="home"></data>
						<data key="menu_title" value="home"></data>
						<data key="icon" value="images/crystal/icon_home.gif"></data>
					</value>
					<value>
						<data key="uri" value="contact"></data>
						<data key="menu_title" value="open a ticket"></data>
						<data key="icon" value="images/crystal/icon_open_ticket.gif"></data>
					</value>
					<value>
						<data key="uri" value="answers"></data>
						<data key="menu_title" value=""></data>
						<data key="icon" value="images/document_view.gif"></data>
					</value>
					<value>
						<data key="uri" value="history"></data>
						<data key="menu_title" value="transcript history"></data>
						<data key="icon" value="images/crystal/icon_ticket_history.gif"></data>
 						<data key="requires_login" value="1"></data>
					</value>
					<value>
						<data key="uri" value="account"></data>
						<data key="menu_title" value="my account"></data>
						<data key="icon" value="images/crystal/icon_my_account.gif"></data>
 						<data key="requires_login" value="1"></data>
					</value>
				</param>
			</params>
		</extension>
		
	</extensions>
</plugin>