<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.watchers</id>
	<name>[Cerb5] Watchers</name>
	<description>Create mail forwards to send copies of group mail any e-mail address, such as a desktop e-mail client or handheld device. This adds an 'Watchers' tab to each workers My Account page.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/New_Changes#Watchers_.28E-mail_Notifications.29</link>

	<class_loader>
		<file path="api/App.php">
			<class name="DAO_WatcherMailFilter" />
			<class name="Model_WatcherMailFilter" />
			<class name="SearchFields_WatcherMailFilter" />
			<class name="View_WatcherMailFilter" />
		</file>
	</class_loader>
	
	<extensions>

		<!-- Patch Containers -->
		
		<extension point="devblocks.patch.container">
			<id>watchers.patches</id>
			<name>Watchers Patches</name>
			<class>
				<file>api/Patch.php</file>
				<name>ChWatchersPatchContainer</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>cerberusweb.listeners.watchers</id>
			<name>Watchers Listener</name>
			<class>
				<file>api/App.php</file>
				<name>ChWatchersEventListener</name>
			</class>
			<params>
				<!-- E-mail Event Listener -->
				<param key="events">
					<value>
						<data key="bucket.delete" />						
						<data key="group.delete" />						
						<data key="ticket.comment.create" />
						<data key="ticket.property.pre_change" />
						<data key="ticket.reply.inbound" />
						<data key="ticket.reply.outbound" />						
						<data key="worker.delete" />						
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Preference Tabs  -->
		
		<extension point="cerberusweb.preferences.tab">
			<id>core.pref.notifications</id>
			<name>Watchers Preferences</name>
			<class>
				<file>api/App.php</file>
				<name>ChWatchersPreferences</name>
			</class>
			<params>
				<param key="uri" value="watchers" />
				<param key="title" value="Watchers" />
			</params>
		</extension>
		
		<!-- Config Tabs -->
		
		<extension point="cerberusweb.config.tab">
			<id>watchers.config.tab</id>
			<name>Watchers Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChWatchersConfigTab</name>
			</class>
			<params>
				<param key="uri" value="watchers" />
				<param key="title" value="Watchers" />
			</params>
		</extension>
	
	</extensions>
</plugin>