<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.watchers</id>
	<name>[Cerb5] Watchers</name>
	<description>Create mail forwards to send copies of group mail any e-mail address, such as a desktop e-mail client or handheld device. This adds an 'Watchers' tab to each workers My Account page.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/New_Changes#Watchers_.28E-mail_Notifications.29</link>
	<image>plugin.png</image>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="4.0.0-beta" revision="4" file="patches/4.0.0_beta.php" />
		<patch version="4.2.3" revision="5" file="patches/4.2.3.php" />
		<patch version="5.0.0-beta" revision="6" file="patches/5.0.0_beta.php" />
	</patches>

	<!-- Exported Classes -->

	<class_loader>
		<file path="api/App.php">
			<class name="DAO_WatcherMailFilter" />
			<class name="Model_WatcherMailFilter" />
			<class name="SearchFields_WatcherMailFilter" />
			<class name="View_WatcherMailFilter" />
		</file>
	</class_loader>
	
	<extensions>

		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>cerberusweb.listeners.watchers</id>
			<name>Watchers Listener</name>
			<class>
				<file>api/App.php</file>
				<name>ChWatchersEventListener</name>
			</class>
			<params>
				<!-- E-mail Event Listener -->
				<param key="events">
					<value>
						<data key="bucket.delete" />						
						<data key="group.delete" />						
						<data key="ticket.reply.inbound" />
						<data key="ticket.reply.outbound" />						
						<data key="worker.delete" />						
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Preference Tabs  -->
		
		<extension point="cerberusweb.preferences.tab">
			<id>core.pref.notifications</id>
			<name>Watchers Preferences</name>
			<class>
				<file>api/App.php</file>
				<name>ChWatchersPreferences</name>
			</class>
			<params>
				<param key="uri" value="watchers" />
				<param key="title" value="Watchers" />
			</params>
		</extension>
		
		<!-- Config Tabs -->
		
		<extension point="cerberusweb.config.tab">
			<id>watchers.config.tab</id>
			<name>Watchers Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChWatchersConfigTab</name>
			</class>
			<params>
				<param key="uri" value="watchers" />
				<param key="title" value="Watchers" />
			</params>
		</extension>
	
	</extensions>
</plugin>