<!-- [JAS] [TODO] Needs DTD -->
<plugin>
	<name>Cerberus Helpdesk Core</name>
	<author>WebGroup Media, LLC.</author>
	
	<extensions>
	
		<extension point="com.cerberusweb.module">
			<id>core.module.dashboard</id>
			<name>Dashboard Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDashboardModule</name>
			</class>
			<params>
				<param key="title" value="Dashboard" />
				<param key="menutitle" value="Dashboard" />
				<!--<param key="summary" value="support resources" />-->
			</params>
		</extension>

		<extension point="com.cerberusweb.module">
			<id>core.module.display</id>
			<name>Display Ticket Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayModule</name>
			</class>
			<params>
				<param key="title" value="Display" />
				<param key="menutitle" value="" />
				<!--<param key="summary" value="support resources" />-->
			</params>
		</extension>

		<extension point="com.cerberusweb.module">
			<id>core.module.teamwork</id>
			<name>Teamwork Module</name>
			<class>
				<file>classes.php</file>
				<name>ChTeamworkModule</name>
			</class>
			<params>
				<param key="title" value="Teamwork" />
				<param key="menutitle" value="Teamwork" />
			</params>
		</extension>

		<extension point="com.cerberusweb.module">
			<id>core.module.search</id>
			<name>Search Module</name>
			<class>
				<file>classes.php</file>
				<name>ChSearchModule</name>
			</class>
			<params>
				<param key="title" value="Search" />
				<param key="menutitle" value="Search" />
			</params>
		</extension>

		<extension point="com.cerberusweb.module">
			<id>core.module.signin</id>
			<name>Signin Module</name>
			<class>
				<file>classes.php</file>
				<name>ChSignInModule</name>
			</class>
			<params>
				<param key="title" value="Sign in" />
			</params>
		</extension>

		<extension point="com.cerberusweb.module">
			<id>core.module.configuration</id>
			<name>Configuration Module</name>
			<class>
				<file>classes.php</file>
				<name>ChConfigurationModule</name>
			</class>
			<params>
				<param key="title" value="Configuration" />
				<param key="menutitle" value="Configuration" />
			</params>
		</extension>

		<extension point="com.cerberusweb.module">
			<id>core.module.preferences</id>
			<name>Preferences Module</name>
			<class>
				<file>classes.php</file>
				<name>ChPreferencesModule</name>
			</class>
			<params>
				<param key="title" value="Preferences" />
			</params>
		</extension>
		
		<extension point="com.cerberusweb.display.module">
			<id>core.display.module.workflow</id>
			<name>Ticket Workflow Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketWorkflow</name>
			</class>
			<params>
				<param key="title" value="Workflow" />
				<param key="icon" value="images/bookmark.gif" />
			</params>
		</extension>

		<extension point="com.cerberusweb.display.module">
			<id>core.display.module.history</id>
			<name>Ticket History Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketHistory</name>
			</class>
			<params>
				<param key="title" value="Requester Ticket History" />
				<param key="icon" value="images/scroll_view.gif" />
			</params>
		</extension>
		
		<extension point="com.cerberusweb.display.module">
			<id>core.display.module.log</id>
			<name>Ticket Log Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketLog</name>
			</class>
			<params>
				<param key="title" value="Audit Log" />
				<param key="icon" value="images/document_info.gif" />
			</params>
		</extension>

		<extension point="com.cerberusweb.display.module">
			<id>core.display.module.conversation</id>
			<name>Ticket Conversation Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketConversation</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="com.cerberusweb.display.module">
			<id>core.display.module.fields</id>
			<name>Ticket Custom Fields Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketFields</name>
			</class>
			<params>
				<param key="title" value="Custom Fields" />
				<param key="icon" value="images/form_green.gif" />
			</params>
		</extension>
		
		<!--
		<extension point="com.usermeet.submenu">
			<id>cerberus.submenu.kb</id>
			<name>Knowledgebase Submenu</name>
			<class>
				<file>classes.php</file>
				<name>ScKbMenu</name>
			</class>
			<params>
				<param key="menu" value="cerberus.menu.support" />
				<param key="title" value="knowledgebase" />
			</params>
		</extension>

		<extension point="com.usermeet.submenu">
			<id>cerberus.submenu.history</id>
			<name>Ticket History Submenu</name>
			<class>
				<file>classes.php</file>
				<name>ScHistoryMenu</name>
			</class>
			<params>
				<param key="menu" value="cerberus.menu.support" />
				<param key="title" value="ticket history" />
			</params>
		</extension>

		<extension point="com.usermeet.submenu">
			<id>cerberus.submenu.openticket</id>
			<name>Open Ticket Submenu</name>
			<class>
				<file>classes.php</file>
				<name>ScOpenTicketMenu</name>
			</class>
			<params>
				<param key="menu" value="cerberus.menu.support" />
				<param key="title" value="open ticket" />
			</params>
		</extension>
		
		<extension point="com.usermeet.page.standalone">
			<id>cerberus.page.kb</id>
			<name>Manage Pages</name>
			<class>
				<file>classes.php</file>
				<name>ScKbPage</name>
			</class>
		</extension>
		
		<extension point="com.usermeet.page.standalone">
			<id>cerberus.page.openticket</id>
			<name>Open Ticket</name>
			<class>
				<file>classes.php</file>
				<name>ScOpenTicketPage</name>
			</class>
		</extension>
		
		<extension point="com.usermeet.page.standalone">
			<id>cerberus.page.history</id>
			<name>Ticket History</name>
			<class>
				<file>classes.php</file>
				<name>ScHistoryPage</name>
			</class>
		</extension>
		-->
		
	</extensions>
</plugin>