<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.mobile</id>
	<name>Cerberus Helpdesk Mobile UI</name>
	<description>Minimalistic interface for mobile devices</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<class>
		<file>classes.php</file>
		<name>ChMobilePlugin</name>
	</class>
	
	<extensions>
	
		<extension point="devblocks.controller">
			<id>cerberusweb.controller.mobile</id>
			<name>Mobile Controller</name>
			<class>
				<file>classes.php</file>
				<name>MobileController</name>
			</class>
			<params>
			</params>
		</extension>
		
	</extensions>
</plugin>