<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.mobile</id>
	<name>Cerberus Helpdesk Mobile UI</name>
	<description>Minimalistic interface for mobile devices.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	
	<mapping>
		<uri value="mobile" extension_id="cerberusweb.page.mobile" />
	</mapping>
	
	<extensions>
	
		<extension point="cerberusweb.page">
			<id>cerberusweb.page.mobile</id>
			<name>Mobile Interface Page</name>
			<class>
				<file>classes.php</file>
				<name>MobilePage</name>
			</class>
			<params>
				<param key="title" value="" />
				<param key="menutitle" value="" />
			</params>
		</extension>
		
	</extensions>
</plugin>