<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.timetracking</id>
	<name>Time Tracking</name>
	<description>Track time spent on various helpdesk activities (replying to tickets, etc).  This adds a Track Time button to Display Ticket and Organizations, and a Time Tracking tab to the Activity page.</description>
	<author>Webgroup Media, LLC.</author>
	<version>6.5.0</version>
	<link>http://wiki.cerbweb.com/Features:Time_Tracking</link>
	<image>plugin.png</image>
	
	<!-- Requirements -->

	<requires>
		<app_version min="6.5" max="6.5.99" />
	</requires>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>
	
	<!-- Patches -->
	
	<patches>
		<patch version="4.1.0" revision="4" file="patches/4.1.0.php" />
		<patch version="5.1.0-dev" revision="9" file="patches/5.1.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/dao/timetracking_entry.php">
			<class name="Context_TimeTrackingEntry" />
			<class name="DAO_TimeTrackingActivity" />
			<class name="DAO_TimeTrackingEntry" />
			<class name="Model_TimeTrackingActivity" />
			<class name="Model_TimeTrackingEntry" />
			<class name="SearchFields_TimeTrackingEntry" />
			<class name="View_TimeTracking" />
		</file>
		<file path="api/events/abstract_event_timetracking.php">
			<class name="AbstractEvent_TimeTracking" />
		</file>
		<file path="api/events/timetracking_macro.php">
			<class name="Event_TimeTrackingMacro" />
		</file>
	</class_loader>
	
	<!-- Activity Points -->
	
	<activity_points>
		<activity point="timetracking.status.closed">
			<param key="label_key" value="Time Tracking Entry Closed" />
		</activity>
		<activity point="timetracking.status.open">
			<param key="label_key" value="Time Tracking Entry Opened" />
		</activity>
	</activity_points>
	
	<acl>
		<priv id="timetracking.actions.create" label="acl.timetracking.actions.create" />
		<priv id="timetracking.actions.update_all" label="acl.timetracking.actions.update_all" />
		<priv id="timetracking.report.group.time" label="acl.timetracking.report.group.time" />
		<priv id="timetracking.view.actions.export" label="acl.timetracking.view.actions.export" />
	</acl>
	
	<extensions>
	
		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.timetracking</id>
			<name>Time Tracking</name>
			<class>
				<file>api/dao/timetracking_entry.php</file>
				<name>Context_TimeTracking</name>
			</class>
			<params>
				<param key="alias" value="time_entry" />
				<param key="dao_class" value="DAO_TimeTrackingEntry" />
				<param key="view_class" value="View_TimeTracking" />
				<param key="options">
					<value>
						<data key="create" />
						<data key="custom_fields" />
						<data key="find" />
						<data key="snippets" />
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Events -->
		
		<extension point="devblocks.event">
			<id>event.macro.timetracking</id>
			<name>Custom time tracking behavior</name>
			<class>
				<file>api/events/timetracking_macro.php</file>
				<name>Event_TimeTrackingMacro</name>
			</class>
			<params>
				<param key="macro_context" value="cerberusweb.contexts.timetracking" />
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.app" />
						<data key="cerberusweb.contexts.group" />
						<data key="cerberusweb.contexts.role" />
						<data key="cerberusweb.contexts.worker" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Event Listeners -->

		<extension point="devblocks.listener.event">
			<id>timetracking.listener.core</id>
			<name>Time Tracking Listener</name>
			<class>
				<file>api/App.php</file>
				<name>ChTimeTrackingEventListener</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="cron.maint" />
						<data key="ticket.action.merge" />
					</value>
				</param>
			</params>
		</extension>

		<!-- Renderers Render -->	
		
		<extension point="cerberusweb.renderer.prebody">
			<id>timetracking.renderer.prebody</id>
			<name>Time Tracking Pre-body Renderer</name>
			<class>
				<file>api/App.php</file>
				<name>ChTimeTrackingPreBodyRenderer</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Profile Script -->
		
		<extension point="cerberusweb.ui.context.profile.script">
			<id>timetracking.profile_script.timer</id>
			<name>Time Tracking Profile Script</name>
			<class>
				<file>api/App.php</file>
				<name>ChTimeTrackingProfileScript</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Ticket Reply Toolbar -->
			
		<extension point="cerberusweb.reply.toolbaritem">
			<id>timetracking.reply.toolbaritem.timer</id>
			<name>Time Tracking Reply Toolbar Timer</name>
			<class>
				<file>api/App.php</file>
				<name>ChTimeTrackingReplyToolbarTimer</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Setup Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>timetracking.setup.section.timetracking</id>
			<name>Setup Page Simulator Section</name>
			<class>
				<file>api/App.php</file>
				<name>ChTimeTracking_SetupPageSection</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="timetracking" />
			</params>
		</extension>
		
		<!-- Setup Page Menu Item -->
		
		<extension point="cerberusweb.ui.page.menu.item">
			<id>timetracking.setup.menu.plugins.timetracking</id>
			<name>Setup Page Time Tracking Menu Item</name>
			<class>
				<file>api/App.php</file>
				<name>ChTimeTracking_SetupPluginsMenuItem</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="menu_id" value="core.setup.menu.plugins" />
			</params>
		</extension>
	
		<!-- Pages -->
		
 		<extension point="cerberusweb.page">
			<id>timetracking.page</id>
			<name>Time Tracking Page</name>
			<class>
				<file>api/App.php</file>
				<name>ChTimeTrackingPage</name>
			</class>
			<params>
				<param key="uri" value="timetracking" />
				<param key="menutitle" value="" />
			</params>
		</extension>
		 
		<!-- Profile Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>cerberusweb.profiles.time_tracking</id>
			<name>Time Tracking Page Section</name>
			<class>
				<file>api/profiles/time_tracking.php</file>
				<name>PageSection_ProfilesTimeTracking</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="time_tracking" />
			</params>
		</extension>
		 
		<!-- REST Controllers -->
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.timetracking</id>
			<name>Time Tracking</name>
			<class>
				<file>api/rest/timetracking.php</file>
				<name>ChRest_TimeTracking</name>
			</class>
			<params>
				<param key="uri" value="timetracking" />
			</params>
		</extension>
		 
		<!-- Report Groups -->
		
		<extension point="cerberusweb.report.group">
			<id>report.group.timetracking</id>
			<name>Time Tracking Reports</name>
			<class>
				<file>api/App.php</file>
				<name>ChReportGroupTimeTracking</name>
			</class>
			<params>
				<param key="group_name" value="timetracking.ui.reports" />
				<param key="acl" value="timetracking.report.group.time" />
			</params>
		</extension>
	
		<!-- Reports -->
	
		<extension point="cerberusweb.report">
			<id>report.timetracking.timespentworker</id>
			<name>Time Spent Per Worker</name>
			<class>
				<file>api/reports/TimeByWorkerReport.php</file>
				<name>ChReportTimeSpentWorker</name>
			</class>
			<params>
				<param key="report_name" value="timetracking.ui.reports.time_spent_worker" />
				<param key="report_group" value="report.group.timetracking" />
			</params>
		</extension>
	
		<extension point="cerberusweb.report">
			<id>report.timetracking.timespentorg</id>
			<name>Time Spent Per Organization</name>
			<class>
				<file>api/reports/TimeByOrgReport.php</file>
				<name>ChReportTimeSpentOrg</name>
			</class>
			<params>
				<param key="report_name" value="timetracking.ui.reports.time_spent_org" />
				<param key="report_group" value="report.group.timetracking" />
			</params>
		</extension>
		
		<extension point="cerberusweb.report">
			<id>report.timetracking.timespentactivity</id>
			<name>Time Spent Per Activity</name>
			<class>
				<file>api/reports/TimeByActivityReport.php</file>
				<name>ChReportTimeSpentActivity</name>
			</class>
			<params>
				<param key="report_name" value="timetracking.ui.reports.time_spent_activity" />
				<param key="report_group" value="report.group.timetracking" />
			</params>
		</extension>
	
	</extensions>
</plugin>