<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>example.task.toolbaritem</id>
	<name>[Examples] Example Task Toolbar Button</name>
	<description>This plugin adds an example button to the task toolbar</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://www.cerberusweb.com/</link>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.1.0-dev" />
	</dependencies>
	
	<!-- Exported Classes -->

	<!--	
	<class_loader>
		<file path="api/App.php">
		</file>
	</class_loader>
	-->
	
	<extensions>
    
    	<extension point="cerberusweb.task.toolbaritem">
			<id>example.task.toolbaritem.button</id>
			<name>Example Task Toolbar Button</name>
			<class>
				<file>api/App.php</file>
				<name>ExTaskToolbarItem</name>
			</class>
			<params>
			</params>
		</extension>
		
		
	</extensions>
</plugin>