<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>example.contacts.tab</id>
	<name>[Examples] Example Address Book Tab</name>
	<description>This example plugin adds an example tab to the address book page</description>
	<author>WebGroup Media, LLC.</author>
	<version>0.0.0</version>
	<link>http://wiki.cerberusweb.com/wiki/5.x/Extension:cerberusweb.contacts.tab</link>
	
    <!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.1.0" />
	</dependencies>
    
    <!-- Exported Classes -->
   
	<extensions>
		
		<!-- Address Book Tabs -->
		
		<extension point="cerberusweb.contacts.tab">
			<id>example.contacts.tab</id>
			<name>Example Address Book Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ExAddressBookTab</name>
			</class>
			<params>
				<param key="uri" value="example" />
    			<param key="title" value="example.contacts.tab" />
			</params>
		</extension>
		
	</extensions>
</plugin>