<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.translators</id>
	<name>[Cerb5] Translation Editor</name>
	<description>A GUI for translating the Cerberus Helpdesk interface into other languages.  This adds a 'Translations' tab to Configuration.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb5.com/wiki/Features:Translation_Editor</link>
	<image>plugin.png</image>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="C4_TranslationView" />
		</file>
	</class_loader>
	
	<extensions>
	
		<!-- Config Tabs -->
		
		<extension point="cerberusweb.config.tab">
			<id>translators.config.tab</id>
			<name>Translators Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChTranslatorsConfigTab</name>
			</class>
			<params>
				<param key="uri" value="translations" />
				<param key="title" value="Translations" />
			</params>
		</extension>
		
		<!-- Ajax Controllers -->
		
 		<extension point="devblocks.controller">
			<id>translators.controller.ajax</id>
			<name>Translators Ajax Controller</name>
			<class>
				<file>api/App.php</file>
				<name>ChTranslatorsAjaxController</name>
			</class>
			<params>
				<param key="uri" value="translators" />
			</params>
		</extension>
		 
	</extensions>
</plugin>