<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>usermeet.core</id>
	<name>[Cerb5] Community Portals</name>
	<description>Community-focused websites; the customer-facing interfaces of Cerberus Helpdesk.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/New_Changes#Community_Tools</link>
	<!--<image>plugin.png</image>-->
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="4.0.0-alpha" revision="11" file="patches/4.0.0_alpha.php" />
		<patch version="4.1.0" revision="13" file="patches/4.1.0.php" />
		<patch version="5.0.0-beta" revision="19" file="patches/5.0.0_beta.php" />
		<patch version="5.1.0-dev" revision="21" file="patches/5.1.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/DAO.php">
			<class name="DAO_CommunityTool" />
			<class name="SearchFields_CommunityTool" />
		</file>
		<file path="api/Extension.php">
			<class name="Extension_UsermeetTool" />
		</file>
		<file path="api/Model.php">
			<class name="Model_CommunityTool" />
			<class name="View_CommunityPortal" />
		</file>
	</class_loader>
	
	<!-- Extensions -->
	
	<extensions>
	
		<!-- Usermeet Tools -->
		
		<extension point="usermeet.tool">
			<id>usermeet.tool.community</id>
			<name>Community</name>
			<class>
				<file>api/App.php</file>
				<name>UsermeetCommunityApp</name>
			</class>
			<params>
				<param key="template_set" value="cerberusweb.support_center" />
			</params>
		</extension>
	
		<!-- Controllers -->
	
		<extension point="devblocks.controller">
			<id>usermeet.controller.portal</id>
			<name>Community Portal Controller</name>
			<class>
				<file>classes.php</file>
				<name>UmPortalController</name>
			</class>
			<params>
				<param key="uri" value="portal" />
			</params>
		</extension>

		<!-- Pages -->

		<extension point="cerberusweb.page">
			<id>usermeet.page.community</id>
			<name>Community Page</name>
			<class>
				<file>classes.php</file>
				<name>UmCommunityPage</name>
			</class>
			<params>
				<param key="uri" value="community" />
				<param key="menu_title" value="" />
			</params>
		</extension>
		
		<!-- Config Tabs -->
		
		<extension point="cerberusweb.config.tab">
			<id>usermeet.config.tab.communities</id>
			<name>Communities Tab</name>
			<class>
				<file>classes.php</file>
				<name>UmConfigCommunitiesTab</name>
			</class>
			<params>
				<param key="uri" value="communities" />
				<param key="title" value="Community Portals" />
			</params>
		</extension>
		
	</extensions>
</plugin>
