:root {
    --cerb-interaction-badge-bg-color: rgb(207, 221, 235);
    --cerb-interaction-badge-border: 3px solid rgb(65, 172, 255);
    --cerb-interaction-badge-shadow: 0 0 12px 2px rgb(50, 50, 50);
    --cerb-interaction-button-alt-bg-color: rgb(230, 230, 230);
    --cerb-interaction-button-bg-color: rgb(70, 150, 250);
    --cerb-interaction-button-text-color: white;
    --cerb-interaction-form-element-border: 1px solid rgb(220,220,220);
    --cerb-interaction-sheet-cell-bg-color: white;
    --cerb-interaction-sheet-cell-border: 1px solid rgb(200,200,200);
    --cerb-interaction-sheet-cell-selected-bg-color: rgb(70, 150, 250);
    --cerb-interaction-sheet-cell-selected-text-color: white;
    --cerb-interaction-window-bg-color: white;
    --cerb-interaction-window-close-bg-color: rgb(95, 95, 95);
    --cerb-interaction-window-close-hover-bg-color: rgb(125, 125, 125);
    --cerb-interaction-window-close-text-color: white;
    --cerb-interaction-window-error-bg-color: rgb(255, 240, 240);
    --cerb-interaction-window-error-text-color: rgb(200, 0, 0);
    --cerb-interaction-window-title-bg: rgb(26, 26, 26);
    --cerb-interaction-window-title-bg-color: rgb(35,35,35);
    --cerb-interaction-window-title-bg-color-gradient: rgb(75,75,75);
    --cerb-interaction-window-title-bg-gradient: linear-gradient( 0deg, var(--cerb-interaction-window-title-bg-color) 10%, var(--cerb-interaction-window-title-bg-color-gradient) 90% );
    --cerb-interaction-window-title-text-color: white;
}

.cerb-interaction--hidden {
    display: none;
}

.cerb-interaction-popup {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 40vw;
    max-height: 95vh;
    bottom: 2.5vh;
    right: 2.5vw;
    position: fixed;
    z-index: 10000;
    background: var(--cerb-interaction-window-bg-color);
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(50, 50, 50);
}

.cerb-interaction-popup--style-full {
    width: 75vw;
    right: 12.5vw;
    bottom: unset;
    max-height: unset;
    top: 2.5vh;
}

.cerb-interaction-popup--style-full:after {
    position: absolute;
    content: "";
    bottom: -40px;
    height: 40px;
    width: 1px;
}

.cerb-interaction-popup--close {
    z-index: 10010;
    position: absolute;
    width: 32px;
    height: 32px;
    right: -10px;
    top: -5px;
    font-size: 28px;
    line-height: 32px;
    cursor: pointer;
    background-color: var(--cerb-interaction-window-close-bg-color);
    color: var(--cerb-interaction-window-close-text-color);
    text-align: center;
    border-radius: 24px;
    background-image: url(close.svg);
    background-position: center center;
}

.cerb-interaction-popup--close:hover {
    background-color: var(--cerb-interaction-window-close-hover-bg-color);
}

.cerb-interaction-popup--title {
    text-align: center;
    background-color: var(--cerb-interaction-window-title-bg-color);
    background: var(--cerb-interaction-window-title-bg-gradient);    
    color: var(--cerb-interaction-window-title-text-color);
    font-weight: bold;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 10px 10px 0 0;
}

.cerb-interaction-popup--container {
    max-height: 95vh;
    overflow: auto;
}

.cerb-interaction-popup--style-full .cerb-interaction-popup--container {
    max-height: unset;
    overflow: unset;
}

.cerb-interaction-badge {
    z-index:9999;
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
}

.cerb-interaction-badge--icon {
    position:relative;
    width:60px;
    height:60px;
    border: var(--cerb-interaction-badge-border);
    border-radius:60px;
    background-color: var(--cerb-interaction-badge-bg-color);
    background-size: 60px 60px;
    background-image:url(icon.png);
    box-shadow: var(--cerb-interaction-badge-shadow);
    cursor:pointer;
}

.cerb-interaction-popup--form {
    overflow: auto;
}

.cerb-interaction-popup--form-elements {
    padding: 10px 10px 10px 10px;
}

.cerb-interaction-popup--form-elements H1,
.cerb-interaction-popup--form-elements H2,
.cerb-interaction-popup--form-elements H3,
.cerb-interaction-popup--form-elements H4,
.cerb-interaction-popup--form-elements H5,
.cerb-interaction-popup--form-elements H6 {
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5em 0;
    padding: 0;
}

.cerb-interaction-popup--form-elements H1 {
    font-size: 1.6em;
}

.cerb-interaction-popup--form-elements H2 {
    font-size: 1.5em;
}

.cerb-interaction-popup--form-elements H3 {
    font-size: 1.4em;
}

.cerb-interaction-popup--form-elements H4 {
    font-size: 1.3em;
}

.cerb-interaction-popup--form-elements H5 {
    font-size: 1.2em;
}

.cerb-interaction-popup--form-elements H6 {
    font-size: 1.1em;
}

.cerb-interaction-popup--form-elements-say {
    
}

.cerb-interaction-popup--form-elements-say a {
    color: black;
}

.cerb-interaction-popup--form-elements-say img {
    max-width: 100%;
}

.cerb-interaction-popup--form-elements-say-error {
    background-color: var(--cerb-interaction-window-error-bg-color);
    color: var(--cerb-interaction-window-error-text-color);
    padding: 15px;
}

.cerb-interaction-popup--form-elements-say-error H1 {
    margin: 0;
    color: var(--cerb-interaction-window-error-text-color);
}

.cerb-interaction-popup--form-elements-say-error > P {
    margin: 0;
    padding: 0;
    color: inherit;
}

.cerb-interaction-popup--form-elements-button {
    background-color: var(--cerb-interaction-button-bg-color);
    color: var(--cerb-interaction-button-text-color);
    height: unset;
    font-size: 1.1em;
    border: 0;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.cerb-interaction-popup--form-elements-button:hover {
}

.cerb-interaction-popup--form-elements-submit {
    display:flex;
    margin-top:50px;
}

.cerb-interaction-popup--form-elements-continue {
    flex:1 1;
    max-width:5em;
    height: 2em;
    background-image: url(continue.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.cerb-interaction-popup--form-elements-reset {
    background-color: var(--cerb-interaction-button-alt-bg-color);
    flex:1 1;
    max-width:5em;
    background-image: url(reset.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.cerb-interaction-popup--form-elements-spacer {
    flex: 2 2;
}

.cerb-interaction-popup--form-elements-text input[type=text],
.cerb-interaction-popup--form-elements-textarea textarea {
    border: var(--cerb-interaction-form-element-border);
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 1em;
    outline: none;
}

.cerb-interaction-popup--form-elements-textarea textarea {
    min-height:6.5em;
    font-size: 1em;
}

.cerb-interaction-popup--form-elements-sheet a {
    color: #333333;
}

.cerb-interaction-popup--form-elements-sheet .cerb-shadow {
    box-shadow: 0 0 5px rgb(200,200,200);
}

.cerb-interaction-popup--form-elements-sheet [data-cerb-sheet-container] {
    position: relative;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet {
    width: 100%;
    margin-top: 5px;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet th {
    font-weight: bold;
    font-size: 1.25em;
    text-align: left;
    padding: 0 5px 5px 5px;
}
.cerb-interaction-popup--form-elements-sheet .cerb-sheet td {
    padding: 5px;
}
.cerb-interaction-popup--form-elements-sheet tbody:nth-child(even) td {
    background-color: whitesmoke;
}
.cerb-interaction-popup--form-elements-sheet .cerb-sheet tbody {
    cursor: pointer;
}
.cerb-interaction-popup--form-elements-sheet .cerb-sheet tbody.selected td {
    background-color: #fbec88;
}

.cerb-interaction-popup--form-elements-sheet .cerb-font-bold {
    font-weight: bold;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet--row-title {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 0 0 5px;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet tbody.cerb-sheet--row .cerb-sheet--row-selection {
    width: 20px;
    text-align: center;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet tbody.cerb-sheet--row .cerb-sheet-row--selection-label {
    font-weight: bold;
    cursor: pointer;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet tbody.cerb-sheet--row:hover td {
    background-color: #ffffc8;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-buttons {
    margin-top: 5px;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-buttons--button {
    background: var(--cerb-interaction-button-bg-color) none;
    color: var(--cerb-interaction-button-text-color);
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px 0 0 0;
    cursor: pointer;
    text-align: center;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-buttons--button:hover {
    filter: brightness(1.2);
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-buttons--title {
    font-size: 120%;
    font-weight: bold;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-buttons--button input[type=checkbox],
.cerb-interaction-popup--form-elements-sheet .cerb-sheet-buttons--button input[type=radio] {
    display: none;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale {
    margin-top: 5px;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-paging {
    float: right;
    margin-top: 5px;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale--cells {
    box-sizing: border-box;
    column-fill: balance;
    column-gap: 2px;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale--labels {
    column-count: 2;
    margin-top: 10px;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale--labels div:nth-child(1) {
    text-align: left;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale--labels div:nth-child(2) {
    text-align: right;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale--cell {
    background-color: var(--cerb-interaction-sheet-cell-bg-color);
    text-align: center;
    cursor: pointer;
    padding: 8px 0;
    border: var(--cerb-interaction-sheet-cell-border);
    border-bottom-width: 3px;
    border-radius: 5px;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale--cell-selected {
    background-color: var(--cerb-interaction-sheet-cell-selected-bg-color);
    color: var(--cerb-interaction-sheet-cell-selected-text-color);
    border: 1px solid var(--cerb-interaction-sheet-cell-selected-bg-color);
    border-bottom-width: 3px;
    border-radius: 5px;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale--cell:hover {
    border: 1px solid var(--cerb-interaction-sheet-cell-selected-bg-color);
    border-bottom-width: 3px;
    border-radius: 5px;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale--title {
    font-size: 120%;
    font-weight: bold;
}

.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale--cell input[type=checkbox],
.cerb-interaction-popup--form-elements-sheet .cerb-sheet-scale--cell input[type=radio] {
    display: none;
}

svg.cerb-spinner {
    animation: 2s linear infinite cerb-spinner-animation;
    display: inline-block;
    width: 32px;
    max-width: 32px;
    margin: 5px;
    vertical-align: middle;
    opacity: 1;
}

svg.cerb-spinner circle {
    animation: 1.4s ease-in-out infinite both cerb-spinner-circle-animation;
    fill: transparent;
    stroke: rgb(47, 61, 76);
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;
}

@keyframes cerb-spinner-animation {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg)
    }
}

@keyframes cerb-spinner-circle-animation {
    0%,
    25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
    }

    50%,
    75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
    }

    100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 1500px) {
    .cerb-interaction-popup {
        width: 50vw;
        max-height: 90vh;
        bottom: 5vh;
        right: 2.5vw;
    }
    
    .cerb-interaction-popup--container {
        max-height: 90vh;
    }

    .cerb-interaction-popup--style-full {
        max-height: unset;
        width: 60vw;
        right: 20vw;
        bottom: unset;
        top: 2.5vh;
    }
}

@media screen and (max-width: 1050px) {
    .cerb-interaction-popup {
        width: 50vw;
        max-height: 90vh;
        bottom: 5vh;
        right: 2.5vw;
    }

    .cerb-interaction-popup--container {
        max-height: 90vh;
    }

    .cerb-interaction-popup--style-full {
        max-height: unset;
        width: 75vw;
        right: 12.5vw;
        bottom: unset;
        top: 2.5vh;
    }
}

@media screen and (max-width: 800px) {
    .cerb-interaction-popup {
        width: 75vw;
        max-height: 90vh;
        bottom: 5vh;
        right: 2.5vw;
    }

    .cerb-interaction-popup--container {
        max-height: 90vh;
    }

    .cerb-interaction-popup--style-full {
        max-height: unset;
        width: 90vw;
        right: 5vw;
        bottom: unset;
        top: 2.5vh;
    }
}

@media screen and (max-width: 500px) {
    .cerb-interaction-popup {
        width: 95vw;
        max-height: 95vh;
        bottom: 2.5vh;
        right: 2.5vw;
    }

    .cerb-interaction-popup--container {
        max-height: 95vh;
    }

    .cerb-interaction-popup--style-full {
        max-height: unset;
        width: 95vw;
        right: 2.5vw;
        bottom: unset;
        top: 2.5vh;
    }
}