<!-- [JAS] [TODO] Needs DTD -->
<plugin>
	<id>cerberusweb.login</id>
	<name>Cerberus Helpdesk Login Plugins</name>
	<author>WebGroup Media, LLC.</author>
	
	<extensions>
	
		<extension point="com.cerberusweb.login">
			<id>login.default</id>
			<name>Default Login Module</name>
			<class>
				<file>classes.php</file>
				<name>DefaultLoginModule</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="com.cerberusweb.login">
			<id>login.ldap</id>
			<name>LDAP Login Module</name>
			<class>
				<file>classes.php</file>
				<name>LDAPLoginModule</name>
			</class>
			<params>
			</params>
		</extension>
		
	</extensions>
</plugin>