<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>usermeet.core</id>
	<name>Cerberus Helpdesk: Community Tools</name>
	<description>Support for customer-focused public tools for your websites</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/New_Changes#Community_Tools</link>
	<class>
		<file>classes.php</file>
		<name>UmCorePlugin</name>
	</class>
	
	<extensions>
	
		<!-- Patch Containers -->
		
		<extension point="devblocks.patch.container">
			<id>usermeet.patches</id>
			<name>Usermeet Patches</name>
			<class>
				<file>patch.classes.php</file>
				<name>UmPatchContainer</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Controllers -->
	
		<extension point="devblocks.controller">
			<id>usermeet.controller.portal</id>
			<name>Community Portal Controller</name>
			<class>
				<file>classes.php</file>
				<name>UmPortalController</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Usermeet Tools -->
		
		<extension point="usermeet.tool">
			<id>kb.tool</id>
			<name>Public Knowledgebase</name>
			<class>
				<file>classes.php</file>
				<name>UmKbApp</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="usermeet.tool">
			<id>support.tool</id>
			<name>Contact Form Builder</name>
			<class>
				<file>classes.php</file>
				<name>UmContactApp</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Usermeet Tools -->
		
		<extension point="usermeet.tool">
			<id>sc.tool</id>
			<name>Support Center</name>
			<class>
				<file>api/UmScApp.php</file>
				<name>UmScApp</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Support Center Modules -->

		<extension point="usermeet.sc.controller">
			<id>sc.controller.core</id>
			<name>Support Center Controller</name>
			<class>
				<file>api/UmScApp.php</file>
				<name>UmScCoreController</name>
			</class>
			<params>
				<param key="modules">
					<value>
						<data key="uri" value="home"></data>
						<data key="menu_title" value="home"></data>
						<data key="icon" value="images/crystal/icon_home.gif"></data>
					</value>
					<value>
						<data key="uri" value="contact"></data>
						<data key="menu_title" value="open a ticket"></data>
						<data key="icon" value="images/crystal/icon_open_ticket.gif"></data>
					</value>
					<value>
						<data key="uri" value="kb"></data>
						<data key="menu_title" value="knowledgebase"></data>
						<data key="icon" value="images/crystal/icon_knowledgebase.gif"></data>
					</value>
					<value>
						<data key="uri" value="answers"></data>
						<data key="menu_title" value=""></data>
						<data key="icon" value="images/document_view.gif"></data>
					</value>
					<value>
						<data key="uri" value="history"></data>
						<data key="menu_title" value="transcript history"></data>
						<data key="icon" value="images/crystal/icon_ticket_history.gif"></data>
 						<data key="requires_login" value="1"></data>
					</value>
					<value>
						<data key="uri" value="account"></data>
						<data key="menu_title" value="my account"></data>
						<data key="icon" value="images/crystal/icon_my_account.gif"></data>
 						<data key="requires_login" value="1"></data>
					</value>
				</param>
			</params>
		</extension>
		
		<!-- Config Tabs -->
		
		<extension point="cerberusweb.config.tab">
			<id>usermeet.config.tab.communities</id>
			<name>Communities Tab</name>
			<class>
				<file>classes.php</file>
				<name>UmConfigCommunitiesTab</name>
			</class>
			<params>
				<param key="uri" value="communities" />
				<param key="title" value="Community Tools" />
			</params>
		</extension>
		
	</extensions>
</plugin>