<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>example.mail.log.toolbaritem</id>
	<name>[Examples] Example Mail Log Toolbar Button</name>
	<description>This plugin adds an example button to the open ticket toolbar</description>
	<author>WebGroup Media, LLC.</author>
	<version>0.0.0</version>
	<link>http://www.cerberusweb.com/</link>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.1.0-dev" />
	</dependencies>
	
	<!-- Exported Classes -->

	<!--	
	<class_loader>
		<file path="api/App.php">
		</file>
	</class_loader>
	-->
	
	<extensions>
    
    	<extension point="cerberusweb.mail.log.toolbaritem">
			<id>example.mail.log.toolbaritem.button</id>
			<name>Example Mail Log Toolbar Button</name>
			<class>
				<file>api/App.php</file>
				<name>ExLogTicketToolbarButton</name>
			</class>
			<params>
			</params>
		</extension>
		
		
	</extensions>
</plugin>