<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.simulator</id>
	<name>Simulator</name>
	<description>A tool that makes it easy to create batches of realistic sample tickets, tasks, and organizations; useful for evaluations, plugin development, and testing.  This adds a Simulator option to the Setup Plugins menu.</description>
	<author>WebGroup Media, LLC.</author>
	<version>6.0.0</version>
	<link>http://wiki.cerb5.com/wiki/Features:Ticket_Simulator</link>
	<image>plugin.png</image>
	
	<!-- Requirements -->

	<requires>
		<app_version min="6.1" max="6.1.99" />
	</requires>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="6.0.0-beta" />
	</dependencies>

	<!-- Extensions -->
	
	<extensions>

		<!-- Http Listeners -->
		
		<extension point="devblocks.listener.http">
			<id>simulator.listeners.tour</id>
			<name>Simulator Tour</name>
			<class>
				<file>listeners.classes.php</file>
				<name>ChSimulatorTour</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Setup Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>simulator.setup.section.simulator</id>
			<name>Setup Page Simulator Section</name>
			<class>
				<file>classes.php</file>
				<name>PageSection_SetupSimulator</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="simulator" />
			</params>
		</extension>
		
		<!-- Setup Page Menu Item -->
		
		<extension point="cerberusweb.ui.page.menu.item">
			<id>simulator.setup.menu.mail.simulator</id>
			<name>Setup Page Simulator Menu Item</name>
			<class>
				<file>classes.php</file>
				<name>PageMenuItem_SetupSimulator</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="menu_id" value="core.setup.menu.plugins" />
			</params>
		</extension>
	
	</extensions>
</plugin>