<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.simulator</id>
	<name>[Cerb5] Ticket Simulator</name>
	<description>A tool that makes it easy to create batches of realistic sample tickets; useful for evaluations, plugin development, and testing.  This adds a Simulator tab in Configuration.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb5.com/wiki/Features:Ticket_Simulator</link>
	<image>plugin.png</image>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>

	<!-- Extensions -->
	
	<extensions>

		<!-- Http Listeners -->
		
		<extension point="devblocks.listener.http">
			<id>simulator.listeners.tour</id>
			<name>Simulator Tour</name>
			<class>
				<file>listeners.classes.php</file>
				<name>ChSimulatorTour</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Setup Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>simulator.setup.section.simulator</id>
			<name>Setup Page Simulator Section</name>
			<class>
				<file>classes.php</file>
				<name>PageSection_SetupSimulator</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="simulator" />
			</params>
		</extension>
		
		<!-- Setup Page Menu Item -->
		
		<extension point="cerberusweb.ui.page.menu.item">
			<id>simulator.setup.menu.mail.simulator</id>
			<name>Setup Page Simulator Menu Item</name>
			<class>
				<file>classes.php</file>
				<name>PageMenuItem_SetupSimulator</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="menu_id" value="core.setup.menu.mail" />
			</params>
		</extension>
	
	</extensions>
</plugin>