<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.simulator</id>
	<name>[Cerb5] Ticket Simulator</name>
	<description>A tool that makes it easy to create batches of realistic sample tickets; useful for evaluations, plugin development, and testing.  This adds a Simulator tab in Configuration.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb5.com/wiki/Features:Ticket_Simulator</link>
	<image>plugin.png</image>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>

	<!-- Extensions -->
	
	<extensions>

		<!-- Http Listeners -->
		
		<extension point="devblocks.listener.http">
			<id>simulator.listeners.tour</id>
			<name>Simulator Tour</name>
			<class>
				<file>listeners.classes.php</file>
				<name>ChSimulatorTour</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Config Tabs -->
		
		<extension point="cerberusweb.config.tab">
			<id>simulator.config.tab</id>
			<name>Simulator Tab</name>
			<class>
				<file>classes.php</file>
				<name>ChSimulatorConfigTab</name>
			</class>
			<params>
				<param key="uri" value="simulator" />
				<param key="title" value="Simulator" />
			</params>
		</extension>
		
	</extensions>
</plugin>