<!-- [JAS] [TODO] Needs DTD -->
<plugin>
	<name>Cerberus Helpdesk Knowledgebase</name>
	<author>WebGroup Media, LLC.</author>
	
	<extensions>
	
		<extension point="com.cerberusweb.module">
			<id>core.module.kb</id>
			<name>Knowledgebase Module</name>
			<class>
				<file>classes.php</file>
				<name>ChKnowledgebaseModule</name>
			</class>
			<params>
				<param key="title" value="Knowledgebase" />
				<param key="menutitle" value="Knowledgebase" />
			</params>
		</extension>
		
		<extension point="com.cerberusweb.display.module">
			<id>core.display.module.fnr</id>
			<name>Fetch &amp; Retrieve Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayFnr</name>
			</class>
			<params>
				<param key="title" value="Fetch &amp; Retrieve&amp;trade; - Suggested Resources" />
				<param key="icon" value="images/document.gif" />
			</params>
		</extension>
		
	</extensions>
</plugin>