<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.webapi</id>
	<name>[Cerb5] Web Services API</name>
	<description>A RESTful XML/JSON interface for integrating Cerberus Helpdesk with other applications and tools.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/Web-API</link>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="4.0.0-alpha" revision="1" file="patches/4.0.0_alpha.php" />
	</patches>

	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="ChRestPlugin" />
		</file>
	</class_loader>

	<!-- Extensions -->
	
	<extensions>

		<!-- Controllers -->
	
		<extension point="devblocks.controller">
			<id>cerberusweb.controller.rest</id>
			<name>REST Controller</name>
			<class>
				<file>api/App.php</file>
				<name>ChRestFrontController</name>
			</class>
			<params>
				<param key="uri" value="webapi" />
			</params>
		</extension>
		
		<!-- Config Tabs -->
		
		<extension point="cerberusweb.config.tab">
			<id>webapi.config.tab</id>
			<name>Web API Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChWebApiConfigTab</name>
			</class>
			<params>
				<param key="uri" value="webapi" />
				<param key="title" value="Web API" />
			</params>
		</extension>
		
		
	</extensions>
</plugin>