@import "cerb-variables.scss";
@import "cerb-mixins.scss";

// Cerb custom styles

// Alerts

#cerb-alerts {
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 2.5;
	overflow: hidden;
	
	.cerb-alert {
		padding:2px;
		border:0;
		background:rgb(253, 226, 108);
		font-weight:bold;
		border-bottom:solid 1px rgb(255,255,255);
		
		&.cerb-alert-note {
			color:black;
			background:rgb(253, 226, 108);
		}
		
		&.cerb-alert-error {
			background-color:rgb(253, 58, 71);
			color:white;
		}
		
		&.cerb-alert-success {
			background:rgb(112, 239, 62);
			color:rgb(47, 58, 31);
		}
		
		.cerb-alert-close {
			float: right;
			font-size: 1.5em;
			cursor: pointer;
		}
	}
}

// Forms

DIV.cerb-form {
	margin: 0px 0px 10px 0px;
	
	> DIV {
		margin: 0px 0px 5px 10px;
		
		LABEL {
			display: block;
			font-weight: bold;
			margin-left: -10px;
			padding-bottom: 5px;
		}
		
		INPUT[type=text] {
			width: 100%;
		}
		
		TEXTAREA {
			width: 100%;
			height: 50px;
		}
	}
}

// Fieldsets

FIELDSET.delete {
	color: $red;

	LEGEND {
		color: $red;
	}
}

FIELDSET.cerb-slider-container {
	margin-bottom: 0;
}

DIV.cerb-slider-container {
	margin-bottom: 0;
	display: inline-block;
	width: 225px;
	max-width: 225px;
	
	LABEL {
		font-weight: bold;
		padding: 0px 0px 5px 0px;
		display: inline-block;
		
		&> SMALL {
			font-weight: normal;
			font-size: 100%;
		}
	}
	
	DIV.cerb-slider {
		margin:0px 10px 10px 5px;
		width:200px;
		display:inline-block;
		
		background-color: rgb(235,235,235);
		border-color: rgb(220,220,220);
		
		.ui-slider-handle {
			background-color: rgb(208,229,245);
			border-color: rgb(121,183,231);
		}
		
		INPUT {
			display: none;
		}
		
	}
}

FIELDSET.cerb-skillset {
	margin-bottom: 0;
	
	LABEL {
		font-weight: bold;
		padding: 0px 0px 5px 0px;
		display: block;
		
		&> SMALL {
			font-weight: normal;
			font-size: 100%;
		}
	}
	
	DIV.cerb-skill {
		margin:0px 10px 10px 5px;
		width:250px;
		display:inline-block;
		
		div.skill-slider {
			background-color: rgb(235,235,235);
			border-color: rgb(220,220,220);
			
			.ui-slider-handle {
				background-color: rgb(208,229,245);
				border-color: rgb(121,183,231);
			}
			
			&.cerb-slider-green {
				border-color: rgb(0,200,0);
			
				.ui-slider-handle {
					background-color: rgb(0,220,0);
					border-color: rgb(0,200,0);
					cursor: pointer;

				}
				.ui-slider-range {
					background: rgb(172, 235, 96);
				}
			}
			
			&.cerb-slider-gray {
				.ui-slider-handle {
					background-color: rgb(220,220,220);
					border-color: rgb(200,200,200);
					cursor: pointer;

				}
				.ui-slider-range {
					background: rgb(200,200,200);
				}
			}
			
		}
	
	}
}

FIELDSET.cerb-delta-slider-container {
	margin-bottom: 0;
}

DIV.cerb-delta-slider-container {
	margin-bottom: 0;
	margin-right: 20px;
	display: inline-block;
	width: 250px;
	max-width: 250px;
	position:relative;
	
	LABEL {
		font-weight: bold;
		display: inline-block;
		
		&> SMALL {
			font-weight: normal;
			font-size: 100%;
		}
	}
	
	SPAN.cerb-delta-slider-midpoint {
		display:inline-block;
		background-color:rgb(200,200,200);
		height:22px;
		width:1px;
		position:relative;
		top:-7px;
		margin-left:1px;
		left:50%;
	}
	
	DIV.cerb-delta-slider {
		margin:5px 10px 5px 5px;
		width:250px;
		display:inline-block;
		position:relative;
		background-color: rgb(230,230,230);
		border: 0;
		
		&.ui-slider-horizontal {
			height: 9px;
		}
		
		.ui-slider-handle {
			width: 15px;
			height: 15px;
			border-radius: 15px;
			margin-left: -8px;
			margin-top: -2px;
			border: 2px solid;
		}
		
		&.cerb-slider-gray {
			border-color: rgb(190,190,190);
			
			.ui-slider-handle {
				background-color: rgb(175,175,175);
				border-color: rgb(150,150,150);
				cursor: pointer;
			}
			
			.ui-slider-range {
				background-color: rgb(230,230,230);
			}
		}
		
		&.cerb-slider-green {
			border-color: rgb(190,190,190);
			
			.ui-slider-handle {
				background-color: rgb(0,200,0);
				border-color: rgb(0,150,0);
				cursor: pointer;
			}
			
			.ui-slider-range {
				background-color: rgb(230,230,230);
			}
		}
	
		&.cerb-slider-red {
			border-color: rgb(190,190,190);
			
			.ui-slider-handle {
				background-color: rgb(235,46,47);
				border-color: rgb(170,0,0);
				cursor: pointer;
			}
			
			.ui-slider-range {
				background-color: rgb(230,230,230);
			}
		}	
		
	}
}

// Special links

A.no-underline {
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// Effects

.effects-transfer {
	border: 2px dotted rgb(175,175,175);
	background-color: rgb(230,230,230);
}

// Text input icons

@mixin form-input-icon($icon) {
	padding: 2px 2px 2px 25px;
	background: url(#{$icon}?v=#{$timestamp}) no-repeat scroll 5px 50% #ffffff;
}

INPUT[type=text] {
	&.input_add {
		@include form-input-icon('input_icons/add.png');
	}

	&.input_color {
		@include form-input-icon('input_icons/colors.png');
	}

	&.input_date {
		@include form-input-icon('input_icons/date.png');
	}

	&.input_email {
		@include form-input-icon('input_icons/mail.png');
	}

	&.input_location {
		@include form-input-icon('input_icons/location.png');
	}

	&.input_money {
		@include form-input-icon('input_icons/money.png');
	}

	&.input_number {
		@include form-input-icon('input_icons/number.png');
	}

	&.input_openid {
		@include form-input-icon('input_icons/openid.gif');
	}

	&.input_password {
		@include form-input-icon('input_icons/lock.png');
	}

	&.input_percent {
		@include form-input-icon('input_icons/percent.png');
	}

	&.input_phone {
		@include form-input-icon('input_icons/phone.png');
	}

	&.input_remove {
		@include form-input-icon('input_icons/forbidden.png');
	}

	&.input_search {
		@include form-input-icon('input_icons/view.png');
	}

	&.input_tags {
		@include form-input-icon('input_icons/tag.png');
	}

	&.input_url {
		@include form-input-icon('input_icons/link.png');
	}

	&.cerb-input-quicksearch {
		padding: 5px 0px 5px 25px;
		border-radius: 10px;
		border: 1px solid rgb(200,200,200);
		outline: none;
	}
}

// Password inputrs

INPUT[type=password] {
	@include form-input-icon('input_icons/lock.png');
}

// Email bodies
// 	See: http://www.longren.org/2006/09/27/wrapping-text-inside-pre-tags/

PRE.emailbody, DIV.emailbody {
	@include whitespace-wrap();
	word-break: break-word;
	font-family: inherit;
	font-size: 12px;
	line-height: 16px;
	margin: 0px;

	A {
		color: rgb(43, 109, 173);
	}
}

DIV.emailbody SPAN.placeholder {
	color: rgb(50,50,50);
	font-weight: bold;
	background-color: rgb(251,236,136);
	padding: 0px 2px;
	border-radius: 5px;

	INPUT.placeholder-input {
		background-color: rgb(255,248,220);
		color: rgb(50,50,50);
		border: 2px solid rgb(255,200,0);
		padding: 3px;
		border-radius: 5px;
	}

	DIV.bubble {
		line-height: 1.4em;
	}
}

// Buttons

BUTTON {
	&:hover DIV.badge-count {
		background-color: rgb(71,133,210);
		color: $white;
	}

	&.toolbar-item {
		background: none;
		background-color: rgb(235,235,235);

		&:hover {
			background: none;
			background-color: rgb(212,222,234);
		}
	}
	
	&.peek {
		visibility: hidden;
		width: 20px;
		height: 20px;
		padding: 0;
		margin: 0 0 0 5px;
	}
}

BUTTON.green {
	@include linear-gradient(rgb(223,240,177), rgb(184,211,118));

	color: rgb(0,80,0);
	cursor: pointer;

	&:hover {
		background: none;
		color:rgb(50,50,50);

		@include linear-gradient(rgb(238,242,245), rgb(160,198,254));
	}

	DIV.badge-count {
		background-color: rgb(107,183,84);
		color: $white;
	}
}

BUTTON.red {
	@include linear-gradient(rgb(250,125,125), rgb(195,45,45));

	color: $white;
	cursor: pointer;

	&:hover {
		background: none;

		@include linear-gradient(rgb(250,125,125), rgb(145,15,15));
	}
}

BUTTON.split-left {
	height: 26px;
	margin-right: 0px;
	border-right: 0px;

	@include border-radius-trbl(5px, 0px, 0px, 5px);

	SPAN {
		vertical-align: middle;
	}
}

BUTTON.split-right {
	height: 26px;
	margin-left: 0px;

	padding: 5px 2px;

	background: none;
	border-color: rgb(150,150,150);
	color: $white;

	@include linear-gradient(rgb(180,180,180), rgb(125,125,125));
	@include border-radius-trbl(0px, 5px, 5px, 0px);

	&:hover {
		background: none;
		background-color: rgb(160,198,254);
	}
}

// Notifications

#badgeNotifications {
	display: none;
	padding: 3px 5px 3px 5px;
	background-color: rgb(200,0,0);

	@include border-radius(5px);

	A {
		color: $white;
		text-decoration: none;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}
	}
}

// Navigation menu

UL {
	&.navmenu {
		clear: both;
		width: 100%;
		margin: 0px;
		padding: 0px;
		list-style: none;
		color: rgb(80,80,80);

		> LI {
			float: left;
			background-color: rgb(240,240,240);
			border-right: 1px solid rgb(210,210,210);
			padding: 5px 8px;
			margin: 0px;
			min-height: 16px;
			cursor: pointer;
			white-space: nowrap;

			A {
				color: rgb(80,80,80);
				font-weight: normal;
				text-decoration: none;
			}

			&:hover {
				background-color: rgb(220,220,220);
			}

			&.selected {
				background-color: rgb(69,85,96);

				> A {
					color: $white;
					text-decoration: none;
					font-weight: normal;
				}
			}
		}
	}

	&.submenu {
		clear: both;
		width: 100%;
		margin: 0px;
		margin-bottom: 5px;
		padding: 0px;
		list-style: none;
		color: $white;

		> LI {
			float: left;
			background-color: rgb(145,178,239);
			padding: 8px 5px 8px 5px;
			margin: 0px 2px 5px 2px;

			@include border-radius-trbl(0px, 0px, 5px, 5px);

			A {
				color: $white;
			}
		}
	}
}

// Dashboard widgets

DIV.dashboard-widget {
	margin: 5px 5px 10px 5px;

	DIV.dashboard-widget-title {
		background-color:rgb(220,220,220);
		padding:5px 10px;
		font-size:120%;
		font-weight:bold;
		cursor:move;

		@include border-radius(10px);
	}

	DIV.updated {
		text-align:left;
		color:rgb(200,200,200);
		display:none;
	}
}

// Worklists

TABLE.worklist {
	background-color:rgb(100,135,225);
	@include border-radius-trbl(5px, 5px, 0px, 0px);
	padding:2px;

	TD {
		padding: 3px;
		color: rgb(255, 255, 255);

		A {
			color: rgb(255, 255, 255);
			font-weight: normal;
			padding-right:3px;
		}

		SPAN.title {
			padding:5px 5px 5px 10px;
			color: rgb(255, 255, 255);
			font-weight:bold;
			font-size:14px;
		}
	}
	
	TD.title-toolbar {
		font-size:14px;
		text-shadow:0 1px 0 rgba(116,116,116,0.9);
	}
}

TABLE.worklistBody {
	th {
		@include linear-gradient(rgb(240,240,240), rgb(200,200,200));
		padding:2px 0px 2px 5px;
		border-right:1px solid rgb(175,175,175);
		text-align: left;
		cursor:pointer;

		A {
			font-size: 12px;
			vertical-align:middle;
			font-weight: bold;
			text-decoration:none;
			color: rgb(80,80,80);
		}
		
		&:hover {
			@include linear-gradient(rgb(200,200,200), rgb(150,150,150));

			A {
				text-decoration:none;
				color:white;
			}
		}

		&.no-sort:hover {
			@include linear-gradient(rgb(240,240,240), rgb(200,200,200));
			cursor:default;
			
			A {
				color: rgb(80,80,80);
				cursor:default;
			}
		}
	}

	TD {
		overflow: hidden;
		font-size:11px;
		padding-right:5px;

		A.subject, B.subject {
			font-size: 12px;
			font-weight: bold;
			color: rgb(80,80,80);
		}
	}

	TR {
		&.even {
			background-color:rgb(254,254,254);
		}

		&.odd {
			background-color:rgb(244,244,244);
		}

		&.hover {
			background-color: rgb(255,255,200) !important;
		}

		&.selected {
			background-color: rgb(251,236,136) !important;

			&.hover {
				background-color: rgb(255,255,200) !important;
			}
		}
	}
	
	tbody {
		&.disabled {
			color: rgb(167,167,167);
			
			A {
				color: rgb(167,167,167);
			}
		}
	}
}

// Calendar

TABLE.calendar {
	width:98%;
	border:0px;

	TR.heading {
		height:1.5em;

		TH {
			width:14%;
			font-weight:normal;
			text-align:left;
		}
	}

	TR.week {
		height:75px;

		TD {
			width:14%;
			border-top:1px solid rgb(200,200,200);
			border-left:1px solid rgb(200,200,200);
			vertical-align:top;

			DIV.day_header {
				padding-left:5px;

				A {
					text-decoration:none;

					&:hover {
						text-decoration:underline;
					}
				}
			}

			&.hover {
				background-color:rgb(251,236,136);
			}

			&.inactive {
				background-color:rgb(240,240,240);
			}

			&.cellborder_r {
				border-right:1px solid rgb(200,200,200);
			}

			&.cellborder_b {
				border-bottom:1px solid rgb(200,200,200);
			}

			&.today {
				border:2px solid rgb(74,110,158);

				DIV.day_header {
					A {
						font-weight:bold;
						color:rgb(74,110,158);
					}
				}
			}

			DIV.day_contents {
				overflow:hidden;
				padding:5px;

				DIV {
					padding:3px 0 3px 3px;
					background-color:rgb(200,200,200);
					margin-top:2px;
					height:1em;
					overflow:hidden;
					@include border-radius(5px);
					word-wrap:break-word;
					word-break:break-all;
				}

				DIV.available {
					background-color:rgb(180,220,110);
				}

				A {
					text-decoration:none;

					&:hover {
						text-decoration:underline;
					}
				}
			}

		}
	}
}

// Toggle grid

TABLE.toggle_grid TR TD {
	text-align:center;
	cursor:pointer;
	border:1px solid rgb(240,240,240);
	background-color:rgb(240,240,240);
	color:rgb(150,150,150);

	&.selected {
		border:1px solid rgb(121,183,231);
		background-color:rgb(240,250,255);
		color:rgb(74,110,158);
		font-weight:bold;
	}

	INPUT[type=checkbox] {
		display:none;
		visibility:hidden;
	}
}

// Error Handling

DIV.error-box {
	background-color: rgb(255,235,235);
	border: 1px solid rgb(180,0,0);
	color: rgb(180, 0, 0);
	margin-bottom: 10px;
	padding: 10px;

	@include border-radius(5px);

	H1 {
		color: rgb(150,0,0);
	}

	P {
		margin: 0px 0px 5px 5px;
	}
}

// Help box

DIV.help-box {
	@include linear-gradient(rgb(251,236,136), rgb(255,255,200));
	border:1px solid rgb(215,115,15);
	padding: 10px;
	margin-bottom:10px;

	@include border-radius(5px);

	H1 {
		color:rgb(215,115,15);
		margin-bottom: 5px;
	}

	P {
		margin:0px 0px 5px 5px;
	}

	A {
		font-weight:bold;
		color:rgb(50,50,50);
	}

	SPAN.help.callout-worklist {
		font-weight:bold;
		color:white;
		background-color:rgb(100,135,225);
		padding:5px 10px;

		@include border-radius-trbl(5px, 5px, 0px, 0px);
	}
}

// Misc common DIVs

DIV.message_note {
	padding: 5px;
	background-color: rgb(252,242,173);
	border: 0;

	@include border-radius(5px);
	
	H3 {
		font-weight: bold;
		font-size: 18px;
		margin: 0px;
		color: rgb(102, 102, 102);
	}
}

DIV.block {
	padding: 5px;
	@include linear-gradient(rgb(245,245,245) 25px, rgb(255,255,255) 75px);
	background-color: white;
	border: 1px solid rgb(230, 230, 230);

	@include border-radius(5px);

	&.hover-underline A {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	H2, H3 {
		font-weight: bold;
		font-size: 18px;
		margin: 0px;
	}

	H2 {
		color: rgb(0,150,0);
	}

	H3 {
		color: rgb(85, 85, 85);
	}
}

DIV.error {
	border: 1px solid rgb(180, 0, 0);
	background-color: rgb(255, 235, 235);
	color: rgb(180, 0, 0);
	font-weight: bold;
	margin: 10px;
	padding: 5px;
}

DIV.success {
	border: 1px solid rgb(0, 180, 0);
	background-color: rgb(235, 255, 235);
	color: rgb(0, 180, 0);
	font-weight: bold;
	margin: 10px;
	padding: 5px;
}

DIV.subtle {
	background-color: rgb(235, 255, 211);
	margin: 5px;
	padding: 5px;
}

DIV.subtle2 {
	background-color: rgb(239, 245, 255);
	margin: 5px;
	padding: 5px;
}

// Bubbles

DIV.bubble {
	line-height:1.5em;
	white-space:nowrap;
	padding:0 0.2em 0 0.2em;
	margin:0px;
	display:inline-block;
	color:rgb(0,0,0);
	background-color:rgb(220,220,220);
	border:1px solid rgb(200,200,200);
	white-space:normal;
	word-break:break-all;

	@include border-radius(5px);
	@include linear-gradient($white, rgb(220,220,220));

	A {
		color:rgb(0,0,0);
		text-decoration:none;

		&:hover {
			text-decoration:underline;
		}
	}
	
	&.bubble-blue {
		@include linear-gradient($white, rgb(232,242,254));
		color:rgb(50,115,185);
		background-color:rgb(232,242,254);
		border:1px solid rgb(197,219,236);
		
		A {
			color:rgb(50,115,185);
		}
	}
}

UL.bubbles {
	display:inline;
	margin:0px;
	padding:0px;

	LI {
		display:inline-block;
		position: relative;
		list-style-type:none;
		list-style:none;
		line-height:1.5em;
		white-space:nowrap;
		padding:0 0.5em;
		margin:0;
		color:rgb(0,0,0);
		border:1px solid rgb(200,200,200);
		white-space:normal;
		word-break:break-all;

		@include border-radius(5px);

		@include linear-gradient($white, rgb(220,220,220));

		A {
			color:rgb(0,0,0);
			text-decoration:none;

			&:hover {
				text-decoration:underline;
			}
		}
		
		&.bubble-gray {
			@include linear-gradient($white, rgb(220,220,220));
			border:1px solid rgb(200,200,200);
			
			color:rgb(0,0,0);
			
			A {
				color:rgb(0,0,0);
			}
		}
		
		&.bubble-blue {
			@include linear-gradient($white, rgb(232,242,254));
			border:1px solid rgb(197,219,236);
			color:rgb(50,115,185);
			
			A {
				color:rgb(49,116,165);
			}
		}
	}
	
	&.chooser-container {
		LI {
			margin: 3px;
			@include linear-gradient($white, rgb(220,220,220));
			
			color:rgb(0,0,0);
			
			A {
				color:rgb(0,0,0);
			}
		
			.glyphicons-circle-remove {
				cursor: pointer;
				position: absolute;
				top: -0.5em;
				right: -0.5em;
				visibility: hidden;
			}
			
			&:hover {
				.glyphicons-circle-remove {
					visibility: visible;
				}
			}
		}
	}
}

// Avatars

IMG.cerb-avatar {
	height:16px;
	width:16px;
	margin-right:3px;
	@include border-radius(16px);
	vertical-align:middle;
}

// Badges

DIV.badge-count {
	font-size: 12px;

	padding: 0px 5px;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;

	margin-top: -1px;

	@include border-radius(10px);

	background-color: rgb(120,120,120);
	color: $white;
}

DIV.badge {
	display:inline-block;

	font-weight:normal;
	padding:1px 4px 1px 4px;

	@include border-radius(5px);
	@include linear-gradient(rgb(185,185,185), rgb(165,165,165));

	color: $white;
	border: 1px solid rgb(150,150,150);

	A {
		color:$white;
	}

	&.selected {
		border:1px dashed;
		background: none;
		background-color: rgb(255, 250, 160);
	}
}

DIV.badge-lightgray {
	@include linear-gradient(rgb(240,240,240), rgb(230,230,230));

	color:rgb(120,120,120);
	border:1px solid rgb(200,200,200);

	A {
		color:rgb(120,120,120);
	}
}

DIV.badge-red {
	@include linear-gradient(rgb(255,0,0), rgb(210,0,0));

	color:$white;
	border:1px solid rgb(200,0,0);
}

DIV.badge-green {
	@include linear-gradient(rgb(0,150,0), $green);

	color:$white;
	border:1px solid rgb(0,100,0);
}

// Tags

SPAN.tag {
	padding:1px 4px;
	font-weight:bold;
	vertical-align:top;

	@include border-radius(5px);

	&.tag-blue {
		background-color:rgb(71,133,210);
		color:$white;
	}

	&.tag-green {
		background-color:rgb(85,185,75);
		color:$white;
	}

	&.tag-gray {
		background-color:rgb(100,100,100);
		color:$white;
	}

	&.tag-red {
		background-color:rgb(185,50,40);
		color:$white;
	}

	&.tag-orange {
		background-color:rgb(255,138,0);
		color:$white;
	}
}

// Property List

/*
DIV.cerb-fields-container {
	display: flex;
	flex-flow: row wrap;

	.cerb-fields-container-item {
		flex: 1 1 200px;
		margin: 2px 0px;
		text-overflow: ellipsis;
	}
}
*/

DIV.cerb-fields-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(195px,1fr));
	grid-gap: 0 5px;
	align-items: stretch;
	justify-content: space-between;
	
	.cerb-fields-container-item {
		text-overflow: ellipsis;
		word-break: break-all;
		word-wrap: break-word;
	}
}

DIV.cerb-properties {
	margin:0px;

	> DIV {
		display:inline-block;
		margin:1px 10px 1px 0px;

		> LABEL {
			font-weight:bold;
			margin-right:1px;
		}
	}
}

DIV.cerb-properties {
	margin:0px;

	> DIV {
		display:inline-block;
		margin:1px 10px 1px 0px;

		> LABEL {
			font-weight:bold;
			margin-right:1px;
		}
	}
}

// Property fieldsets

FIELDSET.properties {
	border-width:1px 0px 0px 0px;
	background-color: white;

	LEGEND {
		color:rgb(50,50,50);
		
		A {
			color:inherit;
		}
	}

	DIV.property {
		width: 32%;
		padding-right: 1%;
		margin-bottom: 0.25em;
		display: block;
		float: left;
		line-height: 1.5em;
	}

	SMALL {
		font-size:90%;
		color:rgb(100,100,100);
	}
}

DIV.cerb-properties-grid {
	font-size: 0px;
	letter-spacing: 0px;
	word-spacing: 0px;

	> DIV {
		display:inline-block;
		font-size: $cerb-base-font-size;
		letter-spacing: 0px;
		word-spacing: 0px;
		padding:0px 0px 5px 0px;
		vertical-align: top;
	}
	
	LABEL {
		display:block;
		font-weight:bold;
		width:100%;
		margin:0;
		padding:0;
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

// Peek fieldsets

FIELDSET.peek {
	border-width:1px 0px 0px 0px;

	LEGEND {
		color:$green;
		
		A {
			color:inherit;
		}
	}
}

FIELDSET.no-legend {
	background: none;
	border: 0;
}

FIELDSET.peek-noborder {
	background:none;
	border-width:0;
	
	LEGEND {
		margin-left: 0;
		padding-left: 0;
		color:$green;
	}
}

FIELDSET.black {
	LEGEND {
		color:rgb(50,50,50);
		
		A {
			color:rgb(50,50,50);
		}
	}
}

// Profiles

DIV.cerb-profile-header H1 {
	color:black;
}

DIV.cerb-profile-header H1 > SMALL {
	color:rgb(100,100,100);
	font-weight:normal;
	margin-left:5px;
}

DIV.cerb-profile-header span.glyphicons-male {
	color:rgb(2,139,212);
	vertical-align:middle;
}

DIV.cerb-profile-header span.glyphicons-female {
	color:rgb(243,80,157);
	vertical-align:middle;
}

DIV.cerb-profile-toolbar {
	margin-bottom: 10px;

	SMALL {
		font-size:90%;
		color:rgb(100,100,100);
	}
}

// Popup menu

DIV.cerb-popupmenu {
	min-width:200px;
	margin:5px 0px 20px 0px;
	padding:5px;
	display:none;
	background-color:$white;
	border:1px solid rgb(204,204,204);
	
	@include box-shadow-trbl(0px, 0px, 15px, 0px, rgb(175,175,175));
	
	> div.cerb-popupmenu-item {
		padding:2px;
		font-weight:normal;
		cursor:pointer;
		break-inside: avoid-column;
		page-break-inside: avoid;

		A {
			text-decoration:none;
			color:rgb(74,110,158);
			font-weight:bold;
		}

		HR {
			height:1px;
			padding:0px;
			margin:5px 5px;
			border:0px;
			border-top:1px dashed rgb(200,200,200);
		}

		&:hover {
			background-color:rgb(105,140,221);
			color:$white;

			A {
				color:$white;
			}
		}
	}
}

UL.cerb-popupmenu {
	min-width:200px;
	list-style:none;
	margin:5px 0px 20px 0px;
	padding:5px;
	display:none;
	background-color:$white;
	border:1px solid rgb(204,204,204);

	@include box-shadow-trbl(0px, 0px, 15px, 0px, rgb(175,175,175));

	> LI {
		padding:2px;
		font-weight:normal;
		cursor:pointer;
		break-inside: avoid-column;
		page-break-inside: avoid;

		A {
			text-decoration:none;
			color:rgb(74,110,158);
			font-weight:bold;
		}

		HR {
			height:1px;
			padding:0px;
			margin:5px 5px;
			border:0px;
			border-top:1px dashed rgb(200,200,200);
		}

		&:hover {
			background-color:rgb(105,140,221);
			color:$white;

			A {
				color:$white;
			}
		}
	}
}

// Utilities

.cerb-float {
	position: absolute;
	z-index: 2500;
	float: left;
	border: 0;
}

// Subpage

.cerb-subpage {
	H1 {
		color:rgb(0,0,0);
		margin-bottom:5px;
	}
	
	H2 {
		color:rgb(74,110,158);
		margin-bottom:5px;
	}
}

// KB

.cerb-kb-article-content {
	color: rgb(50,50,50);
	font-size: 100%;
	line-height: 140%;

	H1, H2, H3, H4, H5, H6 {
		font-weight: bold;
		color: rgb(50,50,50);
		margin:10px 0px;
		line-height: normal;
	}

	H1 {
		font-size: 190%;
		color: rgb(50,50,50);

		&.title {
			font-size: 200%;
			color: rgb(50,50,50);
			font-weight: bold;
			text-align: left;
			border: none;
		}
	}

	H2 {
		font-size: 170%;
		color: rgb(74,110,158);
		border-bottom: 1px solid rgb(220,230,240);
	}

	H3 {
		font-size: 150%;
		color: rgb(50,50,50);
	}

	H4 {
		font-size: 130%;
		color: rgb(50,50,50);
	}

	H5 {
		font-size: 120%;
		color: rgb(50,50,50);
	}

	H6 {
		font-size: 110%;
		color: rgb(50,50,50);
	}

	PRE {
		border-top: 1px solid rgb(200,200,200);
		border-right: 1px solid rgb(200,200,200);
		border-left: 3px solid rgb(150,150,150);
		border-bottom: 3px solid rgb(150,150,150);
		background-color: rgb(240,240,240);
		color: #111111;
		padding: 0.5em;
	}

	CODE {
		background-color:rgb(240,240,240);
		color:rgb(0,0,0);
		padding:0px 3px;
		font-weight:bold;
	}

	BLOCKQUOTE {
		font-style:italic;
		color:rgb(50,50,50);
		padding:0px 3px;
		margin-left:20px;
		border-left:solid 5px rgb(240,240,240);
		padding-left:5px;
	}
}

// Menu

DIV.cerb-menu {
	margin-top:-5px;

	> UL {
		padding:0px;
		margin:0px;
		list-style:none;

		> LI {
			padding:5px 10px;
			background-color:rgb(100,135,225);
			float:left;

			&:hover {
				background-color:rgb(85,100,150);
			}

			> DIV {
				cursor:pointer;

				> A {
					color:white;
					text-decoration:none;
					font-weight:normal;
				}
			}
		}
	}

	&.cerb-popupmenu {
		margin-top:5px;
		margin-left:-10px;
	}
}

// Spinner

.cerb-ajax-spinner {
	background: url(ajax-spinner.gif?v=#{$timestamp});
	background-repeat:no-repeat;
	background-position:top left;
	display:inline-block;
	vertical-align:middle;
	width: 32px;
	height: 32px;
}

// Plugins

SPAN.plugin_icon_overlay_disabled {
	background: url(plugin_overlay_disabled.png?v=#{$timestamp});
	background-repeat:no-repeat;
	background-position:top left;
	width:100px;
	height:100px;
	position:absolute;
	left:1px;
	top:0px;
}

// jQuery Validation

LABEL.error {
	color: rgb(255,0,0);
	padding-left: .5em;
	vertical-align: top;
}

// HTML email container (reset styles)

DIV.emailBodyHtml {
	overflow-x: scroll;

	A {
		color: initial;
	}

	ABBR {
		border-bottom: initial;
	}

	H1 {
		font-weight: initial;
		font-size: initial;
		color: initial;
		margin: initial;
	}

	H2 {
		font-weight: initial;
		font-size: initial;
		color: initial;
		margin: initial;
	}

	DIV.block {
		H1, H2, H3 {
			font-weight: initial;
			font-size: initial;
			margin: initial;
			color: initial
		}
	}
}

.cerb-expression-editor {
	UL.expression-toolbar {
		width: 100%;
		border: 0;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 35em;
		
		LI {
			color: black;
			
			&.ui-state-focus {
				color: inherit;
				border-color: rgba(200,200,200,0.5);
				background-color: rgba(128,128,128,0.1);
			}
			
			&.ui-menu-item {
				background-color: rgb(255,255,255);
			
				&:hover {
					background-color: rgb(240,240,240);
					border-color: rgb(240,240,240);
				}
			}
		}
		
		&::-webkit-scrollbar {
			width: 12px;
		}
		&::-webkit-scrollbar-track {
			background-color: rgb(245,245,245);
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: rgb(200,200,200);
			border-radius:10px;
		}

	}
	
	.expression {
		&:focus {
			outline: none;
		}
		
		SPAN {
			color: black;
			font-weight:bold;
			border-radius:10px;
			padding:0px 6px;
			background-color:rgb(220,220,220);
			
			&.default {
				font-weight: normal;
				background-color:rgb(220,220,220);
			}
			&.alias {
				background-color:rgb(220,220,220);
			}
			&.avail {
				background-color:rgb(220,220,220);
			}
			&.contact {
				color:rgb(0,120,0);
				background-color:rgb(235,255,205);
			}
			&.contact_method {
				background-color:rgb(220,220,220);
			}
			&.context {
				background-color:rgb(220,220,220);
			}
			&.date {
				color:rgb(68,147,224);
				background-color:rgb(217,239,255);
			}
			&.duration {
				color: rgb(188, 121, 20);
				background-color: rgb(255, 228, 16);
				//background-color: rgb(252, 255, 15);
			}
			&.entity {
				background-color:rgb(220,220,220);
			}
			&.event {
				background-color:rgb(220,220,220);
			}
			&.number {
				background-color:rgb(220,220,220);
			}
			&.org {
				background-color:rgb(220,220,220);
			}
			&.phone {
				background-color:rgb(220,220,220);
			}
			&.place {
				background-color:rgb(220,220,220);
			}
			&.remind {
				background-color:rgb(220,220,220);
			}
			&.status {
				background-color:rgb(220,220,220);
			}
			&.temperature {
				color:rgb(212,4,30);
				background-color:rgb(245,200,200);
			}
			&.time {
				color:rgb(255,128,0);
				background-color:rgb(253,238,193);
			}
			&.worker {
				color: rgb(169,63,255);
				background-color: rgb(233,217,255);
			}
		}
	}
}

// Uploads

div.cerb-uploads {
	p {
		display: block;
		width: 70%;
		padding: 2px 5px;
		margin: 2px 0;
		border-radius: 5px;
		background-color: rgb(200,200,200);
		color: white;
		
		&.success {
			background: rgb(40,130,250) none 0 0 no-repeat;
			font-weight: bold;
		}
		
		&.failure {
			background: rgb(255,60,100) none 0 0 no-repeat;
			font-weight: bold;
		}
	}
}

// Packages Library

.package-library--container {
	display:grid;
	overflow-x:hidden;
	
	.package-library--package-chooser {
		grid-column:1;
		grid-row:1;
		opacity:1;
		transform:translateX(0%);
		transition:opacity 0.3s, transform 0.8s;
		
		input.input_search {
			width:100%;
			border-radius:10px;
			border:1px solid rgb(200,200,200);
			box-sizing:border-box;
		}
		
		.package-library--package-container {
			margin:5px 0px 20px 0px;
			border:1px solid rgb(240,240,240);
			padding:5px;
		}
		
		.package-library--package {
			width:250px;
			display:inline-block;
			vertical-align:top;
			border: 2px solid white;
			padding:5px;
			text-align:center;
			cursor:pointer;
			
			.package-library--package-image {
				height:135px;
				width:240px;
				background-color:white;
				border:1px solid rgb(200,200,200);
				margin-bottom:5px;
			}
			
			.package-library--package-title {
				font-size:16px;
				line-height:1.1em;
			}
			
			.package-library--package-description {
				margin-top:5px;
			}
		}
		
		.package-library--package-selected {
			border: 2px solid orange;
			background-color: rgba(255,230,110,0.2);
		}
	}
	
	.package-library--package-info {
		grid-column:1;
		grid-row:1;
		opacity:0;
		transform:translateX(100%);
		transition:opacity 0.3s, transform 0.8s;
		
		.package-library--cancel {
			position:relative;
			
			> div {
				position:absolute;
				right:0;
				top:0;
				cursor:pointer;
				font-size:200%;
				
				span.glyphicons-circle-remove {
					&:hover {
						color: rgb(180,0,0);
					}
				}
			}
		}
		
		.package-library--package {
			.package-library--package-image {
				float:left;
				background-color:white;
				border:1px solid rgb(200,200,200);
				margin:0 10px 10px 0;
			}
			
			.package-library--package-title {
				font-size:2em;
			}
			
			.package-library--package-description {
			}
			
			.package-library--package-instructions {
				margin-top:5px;
				clear:both;
			}
			
			.package-library--package-metadata {
				vertical-align:top;
				display:block;
				margin-left:10px;
				
			}
		}
	}
}

// jQuery overrides

.ui-dialog .ui-dialog-titlebar-minmax {
	position: absolute;
	right: 2.0em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}

UL.ui-menu {
	li.ui-menu-item {
		break-inside: avoid-column;
		page-break-inside: avoid;
	}
	
	li.ui-menu-item.ui-state-focus {
		color: white;
	}

	li.ui-state-focus {
		border: 0;
		margin: 0;
		background: rgb(97,140,227);
	}
}