@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-radius-trbl($top, $right, $bottom, $left) {
	-webkit-border-radius: $top $right $bottom $left;
	-moz-border-radius: $top $right $bottom $left;
	-ms-border-radius: $top $right $bottom $left;
	border-radius: $top $right $bottom $left;
}

@mixin box-shadow-trbl($h-shadow, $v-shadow, $blur, $spread, $color) {
	-moz-box-shadow: $h-shadow $v-shadow $blur $spread $color;
	-webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color;
	box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@mixin linear-gradient($from-color, $to-color) {
	background-color: $from-color;
	background: -webkit-linear-gradient(top, $from-color, $to-color);
	background: -moz-linear-gradient(270deg, $from-color, $to-color);
	background: -o-linear-gradient(top, $from-color, $to-color);
	background: -ms-linear-gradient(top, $from-color, $to-color);
	background: linear-gradient(top, $from-color, $to-color);
}

@mixin linear-gradient-boundary($from-color, $to-color) {
	background: -webkit-linear-gradient(top, $from-color, $to-color);
	background: -moz-linear-gradient(270deg, $from-color, $to-color);
	background: -o-linear-gradient(top, $from-color, $to-color);
	background: -ms-linear-gradient(top, $from-color, $to-color);
	background: linear-gradient(top, $from-color, $to-color);
}

@mixin whitespace-wrap() {
	// CSS3
	white-space: pre-wrap;
	// Mozilla, since 1999
	white-space: -moz-pre-wrap;
	// Opera 4-6
	white-space: -pre-wrap;
	// Opera 7
	white-space: -o-pre-wrap;
	// IE 5.5+
	word-wrap: break-word;
	// IE only hack to re-specify in addition to word-wrap
	_white-space: pre;
}
