@import "cerb-variables.scss";
@import "cerb-mixins.scss";

// Cerb base HTML styles

HTML, BODY {
	background-color: white;
}

BODY, FORM, TD {
	font-family: $cerb-base-font-stack;
	font-size: $cerb-base-font-size;
}

A {
	color: $cerb-base-link-color;
}

ABBR {
	text-decoration: none;
	border-bottom: 1px dotted rgb(175,175,175);
}

H1 {
	font-weight: bold;
	font-size: 1.5em;
	color: $green;
	margin: 0px;
}

H2 {
	font-weight: bold;
	font-size: 1.5em;
	color: $blue;
	margin: 0px 0px 5px 0px;
}

FIELDSET {
	background: white;
	border: 1px double rgb(230,230,230);
	margin-bottom: 5px;

	H1 {
		font-weight: normal;
		color: rgb(80, 80, 80);
		margin: 0px 0px 5px 0px;
		padding: 0px;
		font-size: 120%;
	}

	LEGEND {
		color: $green;
		font-size: 120%;
		font-weight: bold;

		A {
			color: $green;
		}
	}

	P {
		padding: 0px;
		margin: 5px 2px;
	}
}

FORM {
	margin: 0px;

	INPUT[type=text], INPUT[type=password] {
		border: 1px solid rgb(150,150,150);

		&:focus {
			border: 1px solid rgb(121,183,231);
		}
	}

	TEXTAREA {
		border: 1px solid rgb(150,150,150);

		&:focus {
			border: 1px solid rgb(121,183,231);
		}
	}

	SELECT {
		-moz-appearance: menulist;

		OPTGROUP {
			font-style: normal;
			font-weight: bold;
			color: rgb(80,80,80);
		}
	}
}

BUTTON {
	height: 26px;
	color: $cerb-base-button-text-color;
	padding: 5px;
	font-weight: bold;
	margin: 0px 1px 0px 0px;
	border: 0;
	vertical-align: middle;
	cursor: pointer;

	@include linear-gradient(rgb(240,240,240), rgb(210,210,210));
	@include border-radius(5px);

	&:hover {
		@include linear-gradient(rgb(238,242,245), rgb(160,198,254));
		color: rgb(39,123,213);
		cursor:pointer;
		
		SPAN.glyphicons {
			color:rgb(39,123,213);
		}
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	SPAN.glyphicons {
		color:rgb(80,80,80);
		font-size: 16px;
		//text-shadow:0 1px 0 rgba(200,200,200,0.5);
	}

	SPAN {
		vertical-align: middle;
	}
}
