$timestamp: 2015030101;

// Colors

$blue: rgb(52, 117, 186);
$green: rgb(0, 120, 0);
$red: rgb(150, 0, 0);
$white: rgb(255, 255, 255);

// Theme

$cerb-base-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$cerb-base-font-size: 12px;

$cerb-base-link-color: rgb(34,34,34);

$cerb-base-button-text-color: rgb(50,50,50);
