@media all and (max-width:1050px) {
	.cerb-profile-layout--sidebar-right {
		.cerb-profile-layout-zone--content {
			order:2;
		}
		
		.cerb-profile-layout-zone--sidebar {
			order:1;
		}
	}
	
	.cerb-workspace-layout--sidebar-right {
		.cerb-workspace-layout-zone--content {
			order:2;
		}
		
		.cerb-workspace-layout-zone--sidebar {
			order:1;
		}
	}
}
