@media screen and (max-width:1050px) {
	.cerb-profile-layout--sidebar-right {
		.cerb-profile-layout-zone--content {
			order:2;
		}
		
		.cerb-profile-layout-zone--sidebar {
			order:1;
		}
	}
	
	.cerb-workspace-layout--sidebar-right {
		.cerb-workspace-layout-zone--content {
			order:2;
		}
		
		.cerb-workspace-layout-zone--sidebar {
			order:1;
		}
	}
}

@media screen and (max-width:700px) {
	.cerb-comment {
		.cerb-comment--content {
			margin-left: 0;
		}

		.toolbar {
			top: -15px;
		}
	}

	.cerb-draft {
		.cerb-draft--content {
			margin-left: 0;
		}

		.toolbar-minmax {
			top: -15px;
		}
	}

	.cerb-message {
		.cerb-message--content {
			margin-left: 0;
		}

		.toolbar-minmax {
			top: -15px;
		}
	}
}