.cerb-card-widget {
	min-width:345px;
	overflow-x:hidden;

	> DIV {
		padding:0px 5px 10px 5px;
	}
}

.cerb-card-widget--header {
	border-bottom:1px solid rgb(240,240,240);
	margin:0 0 5px 0;
	border-radius:5px;
	position:relative;

	b {
		font-size:1.4em;
		color:rgb(0,120,0);

		.glyphicons-menu-hamburger {
			vertical-align:middle;
			cursor:move;
			color:rgb(180,180,180);
			font-size:0.8em;
		}

		.glyphicons-chevron-down {
			font-size:0.5em;
			vertical-align:middle;
			margin-left:5px;
		}
	}
}

.cerb-card-widget--content {
}
