.cerb-form-builder {
	H1,
	H2,
	H3,
	H4,
	H5,
	H6 {
		color: inherit;
		font-family: inherit;
		font-size: 1rem;
		font-weight: bold;
		margin: 0.5em 0;
		padding: 0;
	}

	H1 {
		font-size: 1.9em;
	}
	
	H2 {
		font-size: 1.75em;
	}
	
	H3 {
		font-size: 1.6em;
	}
	
	H4 {
		font-size: 1.45em;
	}
	
	H5 {
		font-size: 1.3em;
	}
	
	H6 {
		font-size: 1.15em;
	}

	.cerb-button {
		background: none;
		background-color: rgb(18,131,225);
		color: white;
		height: unset;
		font-size: 1.1em;
		border-radius: 50px;
		padding: 10px;
	}
	
	.cerb-form-builder-continue {
		&::after {
			content: "⟶";
		}
	}
	
	.cerb-form-builder-reset {
		background-color: rgb(230,230,230);

		&::after {
			color: black;
			content: "⟲";
		}
	}
	
	.cerb-form-builder-response-text {
		P {
			margin: 0 0 0.75em 0;
			padding: 0;
		}
	}
	
	.cerb-form-builder-response-say {
		color:black;
		background-color:#eee;
		border:0;
		border-radius:12px 12px 12px 0;
		padding: 9px 10px;
		margin-bottom: 5px;
		display: inline-block;
	
		P {
			margin: 0;
			padding: 0;
		}
	}

	.cerb-form-builder-prompt-text INPUT[type=text],
	.cerb-form-builder-prompt-text TEXTAREA {
		border: 1px solid rgb(220,220,220);
		width: 99%;
	}

	.cerb-form-builder-prompt-captcha INPUT[type=text] {
		border: 1px solid rgb(220,220,220);
	}

	.cerb-data-table {
		th {
			font-weight: bold;
			font-size: 1.25em;
			text-align: left;
			padding: 0px 5px 5px 5px;
		}

		td {
			padding: 5px;
		}

		tbody:nth-child(even) td {
			background-color: rgb(245,245,245);
		}

		tbody {
			cursor: pointer;

			&.selected td {
				background-color: #fbec88;
			}

			&.hover tr td {
				background-color: #ffffc8 !important;
			}
		}
	}

	.cerb-form-builder-error {
		background-color: rgb(255, 240, 240);
		color: rgb(200,0,0);
		padding: 15px;

		> H1 {
			margin: 0;
			color: rgb(200,0,0);
		}
		
		> P {
			margin: 0;
			padding: 0;
			color: inherit;
		}
	}
}