.cerb-code-editor-toolbar {
	background:rgb(245,245,245);
	border-bottom:1px solid rgb(230,230,230);
	border-top:1px solid rgb(230,230,230);

	button { // .cerb-code-editor-toolbar-button
		background:rgb(245,245,245);
		border:0;

		img {
			-webkit-filter:grayscale(100%);
			filter:grayscale(100%);

			&:hover {
				filter:grayscale(0%);
				-webkit-filter:grayscale(0%);
			}
		}
		
		&.split-left {
			padding-right: 0;
		}
		
		&.split-right {
			.glyphicons-chevron-down {
				font-size:10px;
				padding-left: 0;
				color: rgb(80, 80, 80);
				
				&:hover {
					color: rgb(39, 123, 212);
				}
			}

			&:hover {
				background-color: transparent;
			}
		}

		&.cerb-code-editor-toolbar-button--enabled {
			background-color: rgb(250,220,74);

			span.glyphicons {
				color: rgb(165, 100, 33);
			}
		}

		&.cerb-code-editor-toolbar-button--disabled {
		}
	}
	
	.cerb-code-editor-toolbar-divider {
		border-left: 1px solid rgb(210, 210, 210);
		display: inline-block;
		margin: 0;
		padding: 0;
		vertical-align: middle;
		height: 16px;
		width: 2px;
	}
}