TABLE.cerb-widget-data-table {
	th {
		font-weight: bold;
		font-size: 1.25em;
		text-align: left;
		padding: 0px 5px 5px 5px;
	}
	
	td {
		padding: 5px;
	}
	
	tbody:nth-child(even) td {
		background-color: rgb(245,245,245);
		}
	}
}