TABLE.cerb-widget-data-table {
	th {
		font-weight: bold;
		font-size: 1.25em;
		text-align: left;
		padding: 0px 5px 5px 5px;
	}
	
	td {
		padding: 5px;
	}
	
	tbody:nth-child(even) td {
		background-color: rgb(245,245,245);
		}
	}
}

.cerb-widget-drag-placeholder {
	flex:1 1 100%;
	min-height:150px;
	background-color:rgb(220,220,220);
	outline:2px dashed rgb(150,150,150);
	outline-offset:-10px;
}
