div.cerb-board {
	div.cerb-board-columns {
		white-space: nowrap;
	}
	
	.cerb-board-columns-set {
		width: 100%;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
		
		&::-webkit-scrollbar {
			display: none;
		}
	}

	div.cerb-board-column-add {
		text-align: center;
		vertical-align: top;
		position: relative;
		display: inline-block;
		width: 300px;
		background-color: rgb(255,255,255);
		border: 1px dashed rgb(220,220,220);
		border-radius: 5px;
		min-height: 100px;
		margin: 5px;
		padding: 5px 0px;

		p {
			position: absolute;
			margin: 0;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			color: rgb(200,200,200);
			font-size: 1.5em;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.cerb-board-column {
		white-space: normal;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		width: 300px;
		background-color: rgb(250,250,250);
		border: 1px solid rgb(230,230,230);
		border-radius: 5px;
		min-height: 500px;
		margin: 5px;
		padding: 5px 0px;

		.cerb-board-column-toolbar-buttons {
			float: right;
			margin: 0px 5px 0px 0px;
		}

		h2 {
			text-align: left;
			color: rgb(50,50,50);
			margin-left: 10px;
			font-size: 130%;
			cursor: move;
		}

		div.cerb-board-card {
			text-align: left;
			border-radius: 5px;
			background-color: rgb(255,255,255);
			border: 1px solid rgb(230,230,230);
			display: inline-block;
			width: 280px;
			min-height: 50px;
			margin: 2px;
			padding: 0;
			cursor: move;
			overflow: hidden;
			position:relative;

			> div {
				margin: 10px;
			}

			h3 {
				margin: 0px 0px 5px 0px;
				padding: 0;
				font-size: 120%;

				a {
					color: rgb(45,110,180);
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
			
			div.cerb-board-card-type {
				float: right;
				background-color:rgb(255,255,255);
				border: 1px solid rgb(230,230,230);
				color:gray;
				padding:3px;
				font-size:90%;
				text-transform: uppercase;
			}
		}
	}
}