<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>example.plugin</id>
	<name>[Example] Plugin Name</name>
	<description>This explains what your plugin does.</description>
	<author>WebGroup Media, LLC.</author>
	<version>0.0.0</version>
	<link>http://www.cerberusweb.com/</link>
	<!--<image>plugin.png</image>-->

	<!-- Requirements -->

	<requires>
		<app_version min="6.2" max="6.2.99" />
		<!--<php_extension name="curl" />-->
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="6.1.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<!--
		<patch version="6.1.0" revision="1" file="patches/6.1.0.php" />
		-->
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<!--
		<file path="api/dao/example.php">
			<class name="Context_Example" />
			<class name="DAO_Example" />
			<class name="Model_Example" />
			<class name="Plugin_Example" />
			<class name="SearchFields_Example" />
			<class name="View_Example" />
		</file>
		-->
	</class_loader>

	<!-- Templates -->
	
	<!--
	<templates set="example.template.namespace">
		<template path="path/to/template.tpl" />
	</templates>
	-->	

	<!-- Permissions -->
	
	<!--
	<acl>
		<priv id="example.permission" label="acl.example.permission" />
	</acl>
	-->

	<!-- Extensions -->

	<extensions>

	</extensions> 
</plugin>
