<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>example.plugin</id>
	<name>Plugin Name</name>
	<description>This explains what your plugin does.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.0.0</version>
	<link>http://cerbweb.com/book/latest/developer_guide/plugins/plugin.xml</link>
	<!--<image>plugin.png</image>-->

	<!-- Requirements -->

	<requires>
		<app_version min="9.4" max="9.4.99" />
		<!--<php_extension name="curl" />-->
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="9.4" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<!--
		<patch version="6.8.0" revision="1" file="patches/6.8.0.php" />
		-->
	</patches>

	<!-- Classloader -->
	
	<class_loader>
		<!--
		<file path="api/dao/example.php">
			<class name="Context_Example" />
			<class name="DAO_Example" />
			<class name="Model_Example" />
			<class name="Plugin_Example" />
			<class name="SearchFields_Example" />
			<class name="View_Example" />
		</file>
		-->
	</class_loader>

	<!-- Event Points -->

	<!--
	<event_points>
		<event id="example.event">
			<name>Example Event</name>
			<param key="field_name" />
		</event>
	</event_points>
	-->

	<!-- Permissions -->
	
	<!--
	<acl>
		<priv id="example.permission" label="acl.example.permission" />
	</acl>
	-->

	<!-- Activity Points -->
	
	<!--
	<activity_points>
		<activity point="example.event">
			<param key="label_key" value="Example Event" />
			<param key="string_key" value="activities.example_event" />
			<param key="options" value="api_create, notifications" />
		</activity>
	</activity_points>
	-->
	
	<!-- Extensions -->

	<extensions>
	</extensions>
</plugin>
