<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>example.controller</id>
	<name>[Example] Example Controller</name>
	<description>This example plugins adds a new controller to the helpdesk.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.0.0</version>
	<link>http://www.cerbweb.com/</link>
	<!--<image>plugin.png</image>-->
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.3.2" />
	</dependencies>

	<!-- Extensions -->
 
	<extensions>

		<!-- Controller -->
		
		<extension point="devblocks.controller">
			<id>example.controller</id>
			<name>Example Controller</name>
			<class>
				<file>api/App.php</file>
				<name>ExampleController</name>
			</class>
			<params>
				<param key="uri" value="example" />
			</params>
		</extension>
		
    </extensions> 
</plugin>
