$timestamp: 2022011101;

:root {
  --cerb-font-size: 12px;
  --cerb-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --cerb-font-stack-fixed: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
  
  --cerb-color-text: rgb(0,0,0);
  --cerb-color-text-inverse: rgb(255,255,255);
  
  --cerb-color-background: rgb(255,255,255);
  --cerb-color-background-contrast-250: rgb(250,250,250);
  --cerb-color-background-contrast-240: rgb(240,240,240);
  --cerb-color-background-contrast-230: rgb(230,230,230);
  --cerb-color-background-contrast-220: rgb(220,220,220);
  --cerb-color-background-contrast-200: rgb(200,200,200);
  --cerb-color-background-contrast-190: rgb(190,190,190);
  --cerb-color-background-contrast-180: rgb(180,180,180);
  --cerb-color-background-contrast-170: rgb(170,170,170);
  --cerb-color-background-contrast-160: rgb(160,160,160);
  --cerb-color-background-contrast-150: rgb(150,150,150);
  --cerb-color-background-contrast-125: rgb(125,125,125);
  --cerb-color-background-contrast-100: rgb(100,100,100);
  --cerb-color-background-contrast-75: rgb(75,75,75);
  --cerb-color-background-contrast-50: rgb(50,50,50);
  --cerb-color-background-contrast-25: rgb(25,25,25);
  --cerb-color-background-inverse: rgb(0,0,0);
  --cerb-color-background-overlay: rgb(170,170,170);

  --cerb-color-button-gradient: rgb(240,240,240);
  --cerb-color-button-gradient-to--hover: rgb(160,198,254);
  --cerb-color-button-gradient-to: rgb(210,210,210);
  --cerb-color-button-icon--hover: rgb(39,123,213);
  --cerb-color-button-icon-enabled-background: rgb(250,220,74);
  --cerb-color-button-icon-enabled: rgb(165,100,33);
  --cerb-color-button-icon: rgb(80,80,80);
  --cerb-color-button-text: rgb(50,50,50);

  --cerb-color-button-confirm-gradient: rgb(223,240,177);
  --cerb-color-button-confirm-gradient-to: rgb(184,211,118);
  --cerb-color-button-confirm-badge: rgb(107,183,84);
  --cerb-color-button-confirm-badge-text: rgb(255,255,255);
  --cerb-color-button-confirm-text: rgb(0,80,0);
  --cerb-color-button-confirm-text--hover: rgb(50,50,50);

  --cerb-color-button-reject-gradient: rgb(250,125,125);
  --cerb-color-button-reject-gradient-to: rgb(195,45,45);
  --cerb-color-button-reject-gradient--hover: rgb(250,125,125);
  --cerb-color-button-reject-gradient-to--hover: rgb(145,15,15);
  --cerb-color-button-reject-text: rgb(255,255,255);

  --cerb-color-fieldset-border: rgb(230,230,230);
  --cerb-color-fieldset-h1: rgb(80,80,80);
  --cerb-color-fieldset-icon--hover: rgb(100,100,100);
  --cerb-color-fieldset-icon: rgb(175,175,175);
  --cerb-color-fieldset-legend: rgb(0,120,0);

  --cerb-color-form-element-focus: rgb(121,183,231);
  --cerb-color-form-input-background: rgb(255,255,255);

  --cerb-color-h1: rgb(0,120,0);
  --cerb-color-h2: rgb(52,117,186);
  --cerb-color-link: rgb(35,35,35);

  --cerb-color-email-code: rgb(246,242,240);
  --cerb-color-email-headers-meta: rgb(100,140,25);
  --cerb-color-email-link: rgb(43,109,173);
  --cerb-color-email-quote: rgb(150,150,150);
  
  --cerb-color-error-background: rgb(255,235,235);
  --cerb-color-error-text: rgb(180,0,0);
  
  --cerb-color-success-background: rgb(235,255,235);
  --cerb-color-success-text: rgb(0,180,0);

  --cerb-color-warning-text: rgb(236,87,29);

  --cerb-color-help-background: rgb(251,236,136);
  --cerb-color-help-text: rgb(75,75,75);
  
  --cerb-color-bubble-background: rgb(255,255,255);
  --cerb-color-bubble-background-gradient: rgb(232,242,254);
  --cerb-color-bubble-border: rgb(197,219,236);
  --cerb-color-bubble-text: rgb(50,115,185);

  --cerb-color-action-primary: rgb(85,125,230);
  --cerb-color-action-primary-hover: rgba(85,125,230,0.8);
  --cerb-color-action-primary-text: rgb(255,255,255);
  --cerb-color-action-secondary: rgb(230,230,230);
  --cerb-color-action-secondary-hover: rgb(210,210,210);
  --cerb-color-action-secondary-text: rgb(0,0,0);
  
  --cerb-color-alert-background: rgb(253,226,108);
  
  --cerb-color-bot-badge-border: rgb(65, 172, 255);
  --cerb-color-bot-badge-background: rgb(207, 221, 235);
  --cerb-color-bot-badge-alert-border: rgb(153, 0, 0);
  --cerb-color-bot-badge-alert-background: rgb(255, 0, 0);
  
  --cerb-color-shadow-menu: rgb(170, 170, 170);
  --cerb-color-shadow-action-primary-hover: rgba(15,85,140,0.5);
  --cerb-color-shadow-action-secondary-hover: rgba(50,50,50,0.5);
  
  --cerb-color-ui-navmenu-selected: rgb(69,85,96);
  --cerb-color-ui-navmenu-selected-text: rgb(255,255,255);

  --cerb-color-menu-item-text: rgb(74,110,158);
  --cerb-color-menu-item-hover: rgb(97,140,227);
  --cerb-color-menu-item-section: rgb(50,50,50);
  --cerb-color-menu-submenu: rgb(97,140,227);
  --cerb-color-menu-submenu-hover: rgb(85,100,150);
  
  --cerb-color-table-header-background: rgb(100,135,225);
  --cerb-color-table-header-background-alt: rgb(100,100,100);
  --cerb-color-table-header-text: rgb(255,255,255);
  --cerb-color-table-header--icons-shadow: rgba(116,116,116,0.9);
  --cerb-color-table-row-alt-background: rgb(245,245,245);
  --cerb-color-table-row-hover-background: rgb(255,255,200);
  --cerb-color-table-row-selected-background: rgb(251,236,136);
  --cerb-color-table-row-subject: rgb(32,32,32);
  --cerb-color-table-row-text: rgb(75,75,75);

  --cerb-tab-active: rgb(239,249,255);
  --cerb-tab-active-gradient: rgb(255,255,255);
  --cerb-tab-active-border: rgb(121,183,231);
  --cerb-tab-active-text: rgb(74,110,158);
  
  --cerb-color-ui-slider-high: rgb(235,0,0);
  --cerb-color-ui-slider-high-border: rgb(170,0,0);
  --cerb-color-ui-slider-low: rgb(0,200,0);
  --cerb-color-ui-slider-low-border: rgb(0,150,0);
  
  --cerb-color-tag-red: rgb(210,0,0);
  --cerb-color-tag-blue: rgb(71,133,210);
  --cerb-color-tag-green: rgb(85,185,75);
  --cerb-color-tag-gray: rgb(100,100,100);
  --cerb-color-tag-orange: rgb(255,138,0);

  --cerb-color-widget-header: rgb(0,0,0);

  --cerb-callout-background: rgba(220,220,220,0.8);

  --cerb-editor-background: rgb(255,255,255);
  --cerb-editor-completion-highlight: rgb(45,105,199);
  --cerb-editor-fold: rgb(60,76,114);
  --cerb-editor-line-active: rgb(232,242,254);
  --cerb-editor-line-hover: rgb(232,242,254);
  --cerb-editor-marker: rgb(255,255,0);
  --cerb-editor-selection: rgb(181,213,255);
  --cerb-editor-syntax-comment: rgb(113,150,130);
  --cerb-editor-syntax-fold: rgb(192,192,192);
  --cerb-editor-syntax-function: rgb(60,76,114);
  --cerb-editor-syntax-numeric: darkblue;
  --cerb-editor-syntax-oper: rgb(50,50,50);
  --cerb-editor-syntax-string: rgb(42,0,255);
  --cerb-editor-syntax-tag: rgb(25,118,116);
  --cerb-editor-syntax-twig: rgb(127,0,85);
  --cerb-editor-syntax-twig-var: rgb(127,0,85);
  --cerb-editor-syntax-type: rgb(127,0,127);
  --cerb-editor-syntax-var: rgb(127,0,85);
  
  --cerb-library-background-selected: rgba(255,230,110,0.2);
  --cerb-library-border: orange;
}

.dark {
  --cerb-color-text: rgb(220,220,220);
  --cerb-color-text-inverse: rgb(32,32,32);

  --cerb-color-background: rgb(32,32,32);
  --cerb-color-background-contrast-250: rgb(37,37,37);
  --cerb-color-background-contrast-240: rgb(47,47,47);
  --cerb-color-background-contrast-230: rgb(57,57,57);
  --cerb-color-background-contrast-220: rgb(67,67,67);
  --cerb-color-background-contrast-210: rgb(77,77,77);
  --cerb-color-background-contrast-200: rgb(87,87,87);
  --cerb-color-background-contrast-190: rgb(97,97,97);
  --cerb-color-background-contrast-180: rgb(107,107,107);
  --cerb-color-background-contrast-170: rgb(117,117,117);
  --cerb-color-background-contrast-160: rgb(127,127,127);
  --cerb-color-background-contrast-150: rgb(137,137,137);
  --cerb-color-background-contrast-125: rgb(162,162,162);
  --cerb-color-background-contrast-100: rgb(187,187,187);
  --cerb-color-background-contrast-75: rgb(212,212,212);
  --cerb-color-background-contrast-50: rgb(227,227,227);
  --cerb-color-background-contrast-25: rgb(242,242,242);
  --cerb-color-background-inverse: rgb(250,250,250);
  --cerb-color-background-overlay: rgb(0,0,0);

  //--cerb-color-button-gradient: rgb(50,50,50);
  //--cerb-color-button-gradient-to: rgb(0,0,0);
  --cerb-color-button-gradient: rgb(70,70,70);
  --cerb-color-button-gradient-to: rgb(40,40,40);
  --cerb-color-button-gradient-to--hover: rgb(60,98,154);
  --cerb-color-button-icon--hover: rgb(49, 147, 253);
  --cerb-color-button-icon-enabled-background: rgb(250,220,74);
  --cerb-color-button-icon-enabled: rgb(165,100,33);
  --cerb-color-button-icon: rgb(175,175,175);
  --cerb-color-button-text: rgb(210,210,210);

  --cerb-color-fieldset-border: rgb(100,100,100);
  --cerb-color-fieldset-h1: rgb(175,175,175);
  --cerb-color-fieldset-icon--hover: rgb(155,155,155);
  --cerb-color-fieldset-icon: rgb(80,80,80);
  --cerb-color-fieldset-legend: rgb(255,255,255);

  --cerb-color-form-input-background: rgb(22,22,22);
  
  --cerb-color-h1: rgb(0,170,0);
  --cerb-color-h2: rgb(128,128,128);
  --cerb-color-link: rgb(220,220,220);

  --cerb-color-email-code: rgb(9,13,15);
  --cerb-color-email-headers-meta: rgb(127,127,127);
  --cerb-color-email-link: rgb(100, 179, 255);
  --cerb-color-email-quote: rgb(135,135,135);

  --cerb-color-error-background: rgb(67,47,45);
  --cerb-color-error-text: rgb(223,127,103);

  --cerb-color-success-background: rgb(235,255,235);
  --cerb-color-success-text: rgb(0,180,0);
  
  --cerb-color-warning-text: rgb(209, 85, 37);

  --cerb-color-help-background: rgb(63, 46, 21);
  --cerb-color-help-text: rgb(222, 166, 127);

  --cerb-color-bubble-background: rgb(0,0,0);
  --cerb-color-bubble-background-gradient: rgb(50,50,50);
  --cerb-color-bubble-border: rgb(50,50,50);
  --cerb-color-bubble-text: rgb(200,200,200);

  --cerb-color-action-primary: rgb(85,125,230);
  --cerb-color-action-primary-hover: rgba(85,125,230,0.8);
  --cerb-color-action-primary-text: rgb(255,255,255);
  --cerb-color-action-secondary: rgb(57,57,57);
  --cerb-color-action-secondary-hover: rgb(77,77,77);
  --cerb-color-action-secondary-text: rgb(230,230,230);

  --cerb-color-alert-background: rgb(253,226,108);
  
  --cerb-color-shadow-menu: rgb(0, 0, 0);
  --cerb-color-shadow-action-primary-hover: rgba(15,85,140,0.5);
  --cerb-color-shadow-action-secondary-hover: rgba(50,50,50,0.5);
  
  --cerb-color-menu-item-text: rgb(200,200,200);
  --cerb-color-menu-item-hover: rgb(97,140,227);
  --cerb-color-menu-item-section: rgb(100,100,100);
  --cerb-color-menu-submenu: rgb(97,140,227);
  --cerb-color-menu-submenu-hover: rgb(85,100,150);

  --cerb-color-table-header-background: rgb(60,80,128);
  --cerb-color-table-header-background-alt: rgb(100,100,100);
  --cerb-color-table-row-alt-background: rgb(47,47,47);
  --cerb-color-table-row-hover-background: rgb(50,60,90);
  --cerb-color-table-row-selected-background: rgb(75,85,120);
  --cerb-color-table-row-subject: rgb(255,255,255);
  --cerb-color-table-row-text: rgb(187,187,187);

  --cerb-color-widget-header: rgb(220,220,220);
  
  --cerb-tab-active: rgb(60,60,60);
  --cerb-tab-active-gradient: rgb(32,32,32);
  --cerb-tab-active-border: rgb(50,50,50);
  --cerb-tab-active-text: rgb(240,240,240);

  --cerb-callout-background: rgba(57,57,57,0.8);

  --cerb-editor-background: rgb(22,22,22);
  --cerb-editor-completion-highlight: rgb(255,255,255);
  --cerb-editor-fold: rgb(60,76,114);
  --cerb-editor-line-active: rgb(32,42,54);
  --cerb-editor-line-hover: rgb(32,42,54);
  --cerb-editor-marker: rgb(33,66,131);
  --cerb-editor-selection: rgba(81, 113, 155,0.5);
  --cerb-editor-syntax-comment: rgb(95,95,95);
  --cerb-editor-syntax-fold: rgb(97,97,97);
  --cerb-editor-syntax-function: rgb(87, 110, 164);
  --cerb-editor-syntax-oper: rgb(227,227,227);
  --cerb-editor-syntax-numeric: rgb(101,146,180);
  --cerb-editor-syntax-string: rgb(86, 180, 56);
  --cerb-editor-syntax-tag: rgb(160,173,187);
  --cerb-editor-syntax-twig: rgb(239,97,192);
  --cerb-editor-syntax-twig-var: rgb(229,188,105);
  --cerb-editor-syntax-type: rgb(180,180,180);
  --cerb-editor-syntax-var: rgb(186,186,186);
}