<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.core</id>
	<name>[Cerb5] Core</name>
	<description>The core functionality of Cerberus Helpdesk.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/New_Changes</link>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="devblocks.core" version="2.0.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="4.0.0-alpha" revision="180" file="patches/4.x/4.0.0_alpha.php" />
		<patch version="4.0.0-beta" revision="555" file="patches/4.x/4.0.0_beta.php" />
		<patch version="4.0.0-rc1" revision="809" file="patches/4.x/4.0.0_rc1.php" />
		<patch version="4.1.0" revision="826" file="patches/4.x/4.1.0.php" />
		<patch version="4.1.1" revision="827" file="patches/4.x/4.1.1.php" />
		<patch version="4.2.0" revision="830" file="patches/4.x/4.2.0.php" />
		<patch version="4.2.1" revision="832" file="patches/4.x/4.2.1.php" />
		<patch version="4.2.3" revision="834" file="patches/4.x/4.2.3.php" />
		<patch version="4.3.0" revision="836" file="patches/4.x/4.3.0.php" />
		<patch version="4.3.1" revision="837" file="patches/4.x/4.3.1.php" />
		
		<patch version="5.0.0-alpha" revision="855" file="patches/5.x/5.0.0_alpha.php" />
		<patch version="5.0.0-beta" revision="856" file="patches/5.x/5.0.0_beta.php" />
		<patch version="5.0.0-rc1" revision="861" file="patches/5.x/5.0.0_rc1.php" />
		<patch version="5.0.1" revision="864" file="patches/5.x/5.0.1.php" />
		<patch version="5.1.0" revision="896" file="patches/5.x/5.1.0.php" />
		<patch version="5.1.1" revision="898" file="patches/5.x/5.1.1.php" />
		<patch version="5.1.2" revision="904" file="patches/5.x/5.1.2.php" />
		<patch version="5.2.0" revision="905" file="patches/5.x/5.2.0.php" />
		<patch version="5.3.0" revision="916" file="patches/5.x/5.3.0.php" />
		<patch version="5.4.0" revision="923" file="patches/5.x/5.4.0.php" />
	</patches>

	<!-- Declared Extension Points -->

	<!-- 
	<extension_points>
		<point id=""></point>
	</extension_points>
	-->

	<!-- Controller Routing -->

	<uri_routing>
		<uri name="tickets" controller="core.controller.page" />
	</uri_routing>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/plugin.classes.php">
			<class name="ChPageController" />
			<class name="ChRssSource_Notification" />
			<class name="ChRssSource_Task" />
			<class name="ChRssSource_Ticket" />
			<class name="ChTaskSource_Org" />
			<class name="ChTaskSource_Ticket" />
		</file>
		
		<file path="api/dao/address.php">
			<class name="Context_Address" />
			<class name="DAO_Address" />
			<class name="Model_Address" />
			<class name="SearchFields_Address" />
			<class name="View_Address" />
		</file>
		
		<file path="api/dao/address_outgoing.php">
			<class name="DAO_AddressOutgoing" />
			<class name="Model_AddressOutgoing" />
		</file>
		
		<file path="api/dao/address_to_worker.php">
			<class name="DAO_AddressToWorker" />
			<class name="Model_AddressToWorker" />
		</file>
		
		<file path="api/dao/attachment.php">
			<class name="DAO_Attachment" />
			<class name="DAO_AttachmentLink" />
			<class name="Model_Attachment" />
			<class name="Model_AttachmentLink" />
			<class name="SearchFields_Attachment" />
			<class name="SearchFields_AttachmentLink" />
			<class name="Storage_Attachments" />
			<class name="View_AttachmentLink" />
		</file>
		
		<file path="api/dao/bayes.php">
			<class name="CerberusBayes" />
			<class name="DAO_Bayes" />
			<class name="Model_BayesWord" />
		</file>
		
		<file path="api/dao/bucket.php">
			<class name="DAO_Bucket" />
			<class name="Model_Bucket" />
		</file>
		
		<file path="api/dao/comment.php">
			<class name="DAO_Comment" />
			<class name="Model_Comment" />
			<class name="SearchFields_Comment" />
			<class name="View_Comment" />
		</file>
		
		<file path="api/dao/community_portal.php">
			<class name="DAO_CommunitySession" />
			<class name="DAO_CommunityTool" />
			<class name="DAO_CommunityToolProperty" />
			<class name="Model_CommunitySession" />
			<class name="Model_CommunityTool" />
			<class name="SearchFields_CommunityTool" />
			<class name="View_CommunityPortal" />
		</file>
		
		<file path="api/dao/confirmation_code.php">
			<class name="DAO_ConfirmationCode" />
			<class name="Model_ConfirmationCode" />
			<class name="SearchFields_ConfirmationCode" />
		</file>
		
		<file path="api/dao/contact_list.php">
			<class name="DAO_ContactList" />
			<class name="Model_ContactList" />
			<class name="SearchFields_ContactList" />
			<class name="View_ContactList" />
		</file>
		
		<file path="api/dao/contact_person.php">
			<class name="Context_ContactPerson" />
			<class name="DAO_ContactPerson" />
			<class name="Model_ContactPerson" />
			<class name="SearchFields_ContactPerson" />
			<class name="View_ContactPerson" />
		</file>
		
		<file path="api/dao/contact_org.php">
			<class name="DAO_ContactOrg" />
			<class name="Model_ContactOrg" />
			<class name="SearchFields_ContactOrg" />
			<class name="View_ContactOrg" />
		</file>
		
		<file path="api/dao/context_link.php">
			<class name="DAO_ContextLink" />
			<class name="Model_ContextLink" />
		</file>
		
		<file path="api/dao/context_merge_history.php">
			<class name="DAO_ContextMergeHistory" />
		</file>
		
		<file path="api/dao/explorer.php">
			<class name="DAO_ExplorerSet" />
			<class name="Model_ExplorerSet" />
		</file>
		
		<file path="api/dao/group.php">
			<class name="DAO_Group" />
			<class name="DAO_GroupSettings" />
			<class name="Model_Group" />
			<class name="SearchFields_Group" />
			<class name="View_Group" />
		</file>
		
		<file path="api/dao/group_inbox_filter.php">
			<class name="DAO_GroupInboxFilter" />
			<class name="Model_GroupInboxFilter" />
			<class name="SearchFields_GroupInboxFilter" />
		</file>
		
		<file path="api/dao/mail_queue.php">
			<class name="DAO_MailQueue" />
			<class name="Model_MailQueue" />
			<class name="SearchFields_MailQueue" />
			<class name="View_MailQueue" />
		</file>
		
		<file path="api/dao/message.php">
			<class name="DAO_Message" />
			<class name="DAO_MessageHeader" />
			<class name="Model_Message" />
			<class name="Search_MessageContent" />
			<class name="SearchFields_Message" />
			<class name="Storage_MessageContent" />
			<class name="View_Message" />
		</file>
		
		<file path="api/dao/openid_to_contact_person.php">
			<class name="DAO_OpenIdToContactPerson" />
			<class name="Model_OpenIdToContactPerson" />
		</file>
		
		<file path="api/dao/preparse_rule.php">
			<class name="DAO_PreParseRule" />
			<class name="Model_PreParseRule" />
		</file>
		
		<file path="api/dao/snippet.php">
			<class name="DAO_Snippet" />
			<class name="Model_Snippet" />
			<class name="SearchField_Snippet" />
			<class name="View_Snippet" />
		</file>
		
		<file path="api/dao/task.php">
			<class name="DAO_Task" />
			<class name="Model_Task" />
			<class name="SearchFields_Task" />
			<class name="View_Task" />
		</file>
		
		<file path="api/dao/ticket.php">
			<class name="DAO_Ticket" />
			<class name="Model_Ticket" />
			<class name="SearchFields_Ticket" />
			<class name="View_Ticket" />
		</file>
		
		<file path="api/dao/view_filters_preset.php">
			<class name="DAO_ViewFiltersPreset" />
			<class name="Model_ViewFiltersPreset" />
			<class name="SearchFields_ViewFiltersPreset" />
		</file>
		
		<file path="api/dao/worker.php">
			<class name="DAO_Worker" />
			<class name="DAO_WorkerPref" />
			<class name="Model_Worker" />
			<class name="SearchFields_Worker" />
			<class name="View_Worker" />
		</file>
		
		<file path="api/dao/notification.php">
			<class name="DAO_Notification" />
			<class name="Model_Notification" />
			<class name="SearchFields_Notification" />
			<class name="View_Notification" />
		</file>
		
		<file path="api/dao/workspace.php">
			<class name="DAO_Workspace" />
			<class name="DAO_WorkspaceList" />
			<class name="Model_Workspace" />
			<class name="Model_WorkspaceList" />
			<class name="Model_WorkspaceListView" />
			<class name="SearchFields_Workspace" />
			<class name="View_Workspace" />
		</file>
		
		<file path="api/uri/portal.php">
			<class name="ChPortalHelper" />
		</file>
		
	</class_loader>
	
	<!-- Event Points -->

	<event_points>
		<event id="address.peek.saved">
			<name>Address Peek Saved</name>
			<param key="address_id" />
			<param key="changed_fields" />
		</event>
		<event id="bucket.delete">
			<name>Bucket Delete</name>
			<param key="bucket_ids" />
		</event>
		<event id="comment.create">
			<name>Comment Create</name>
			<param key="comment_id" />
			<param key="fields" />
		</event>
		<event id="context_link.set">
			<name>from_context</name>
			<name>from_context_id</name>
			<name>to_context</name>
			<name>to_context_id</name>
		</event>
		<event id="cron.heartbeat">
			<name>Heartbeat</name>
		</event>
		<event id="cron.maint">
			<name>Maintenance</name>
		</event>
		<event id="dao.ticket.update">
			<name>Ticket Properties Updated</name>
			<param key="objects" />
		</event>
		<event id="group.delete">
			<name>Group Delete</name>
			<param key="group_ids" />
		</event>
		<event id="task.create">
			<name>Task Create</name>
			<param key="task_id" />
			<param key="fields" />
		</event>
		<event id="ticket.action.closed">
			<name>Ticket Closed</name>
			<param key="ticket_id" />
			<param key="model" />
		</event>
		<event id="ticket.action.merge">
			<name>Ticket Merge</name>
			<param key="new_ticket_id" />
			<param key="old_ticket_ids" />
		</event>
		<event id="ticket.action.moved">
			<name>Ticket Moved</name>
			<param key="ticket_id" />
			<param key="group_id" />
			<param key="bucket_id" />
			<param key="model" />
		</event>
		<event id="ticket.reply.inbound">
			<name>Ticket Inbound Reply</name>
			<param key="ticket_id" />
			<param key="address_model" />
			<param key="is_move" />
		</event>
		<event id="ticket.reply.outbound">
			<name>Ticket Outbound Reply</name>
			<param key="ticket_id" />
			<param key="worker_id" />
		</event>
		<event id="worker.delete">
			<name>Worker Delete</name>
			<param key="worker_ids" />
		</event>
	</event_points>

	<!-- Permissions -->

	<acl>
		<!-- Addy Book -->
		<priv id="core.addybook" label="acl.core.addybook" />
		<priv id="core.addybook.actions.import" label="acl.core.addybook.actions.import" />
		<priv id="core.addybook.addy.actions.update" label="acl.core.addybook.addy.actions.update" />
		<priv id="core.addybook.addy.view.actions.broadcast" label="acl.core.addybook.addy.view.actions.broadcast" />
		<priv id="core.addybook.addy.view.actions.export" label="acl.core.addybook.addy.view.actions.export" />
		<priv id="core.addybook.org.actions.merge" label="acl.core.addybook.org.actions.merge" />
		<priv id="core.addybook.org.actions.update" label="acl.core.addybook.org.actions.update" />
		<priv id="core.addybook.org.actions.delete" label="acl.core.addybook.org.actions.delete" />
		<priv id="core.addybook.org.view.actions.export" label="acl.core.addybook.org.view.actions.export" />
		<priv id="core.addybook.person.actions.delete" label="acl.core.addybook.person.actions.delete" />

		<!-- Display Ticket -->
		<priv id="core.display.actions.attachments.download" label="acl.core.display.actions.attachments.download" />
		<priv id="core.display.actions.comment" label="acl.core.display.actions.comment" />
		<priv id="core.display.actions.forward" label="acl.core.display.actions.forward" />
		<priv id="core.display.actions.note" label="acl.core.display.actions.note" />
		<priv id="core.display.actions.reply" label="acl.core.display.actions.reply" />
		<priv id="core.display.actions.split" label="acl.core.display.actions.split" />
		
		<priv id="core.display.message.actions.delete" label="acl.core.display.message.actions.delete" />

		<!-- Mail page -->
		<priv id="core.mail.actions.auto_refresh" label="acl.core.mail.actions.auto_refresh" />
		<priv id="core.mail.log_ticket" label="acl.core.mail.log_ticket" />
		<priv id="core.mail.search" label="acl.core.mail.search" />
		<priv id="core.mail.send" label="acl.core.mail.send" />

		<!-- RSS -->
		<priv id="core.rss" label="acl.core.rss" />

		<!-- Tasks -->
		<priv id="core.tasks.actions.create" label="acl.core.tasks.actions.create" />
		<priv id="core.tasks.actions.update_nobody" label="acl.core.tasks.actions.update_nobody" />
		<priv id="core.tasks.actions.update_all" label="acl.core.tasks.actions.update_all" />
		<priv id="core.tasks.view.actions.export" label="acl.core.tasks.view.actions.export" />
		
		<!-- Tickets -->
		<priv id="core.ticket.actions.assign" label="acl.core.ticket.actions.assign" />
		<priv id="core.ticket.actions.close" label="acl.core.ticket.actions.close" />
		<priv id="core.ticket.actions.delete" label="acl.core.ticket.actions.delete" />
		<priv id="core.ticket.actions.move" label="acl.core.ticket.actions.move" />
		<priv id="core.ticket.actions.spam" label="acl.core.ticket.actions.spam" />
		<priv id="core.ticket.view.actions.broadcast_reply" label="acl.core.ticket.view.actions.broadcast_reply" />
		<priv id="core.ticket.view.actions.bulk_update" label="acl.core.ticket.view.actions.bulk_update" />
		<priv id="core.ticket.view.actions.export" label="acl.core.ticket.view.actions.export" />
		<priv id="core.ticket.view.actions.merge" label="acl.core.ticket.view.actions.merge" />
		<priv id="core.ticket.view.actions.pile_sort" label="acl.core.ticket.view.actions.pile_sort" />

		<!-- Workspaces -->
		<priv id="core.home.workspaces" label="acl.core.home.workspaces" />
		
	</acl>

	<!-- Extensions -->

	<extensions>

		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.contact_person</id>
			<name>Contact Person</name>
			<class>
				<file>api/dao/contact_person.php</file>
				<name>Context_ContactPerson</name>
			</class>
			<params>
				<param key="view_class" value="View_ContactPerson" />
				<param key="options">
					<value>
						<!--<data key="create" />-->
						<data key="find" />
						<data key="workspace" />
					</value>
				</param>
				<param key="events">
					<value>
						<data key="context.assigned" value="context.contact_person.assigned" />
						<data key="context.commented" value="context.contact_person.commented" />
					</value>
				</param>
			</params>
		</extension>
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.address</id>
			<name>Address</name>
			<class>
				<file>api/dao/address.php</file>
				<name>Context_Address</name>
			</class>
			<params>
				<param key="view_class" value="View_Address" />
				<param key="options">
					<value>
						<data key="create" />
						<data key="find" />
						<data key="workspace" />
					</value>
				</param>
				<param key="events">
					<value>
						<data key="context.assigned" value="context.address.assigned" />
						<data key="context.commented" value="context.address.commented" />
					</value>
				</param>
			</params>
		</extension>
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.comment</id>
			<name>Comment</name>
			<class>
				<file>api/dao/comment.php</file>
				<name>Context_Comment</name>
			</class>
			<params>
				<param key="view_class" value="View_Comment" />
				<!--
				<param key="options">
					<value>
					</value>
				</param>
				-->
				<param key="events">
					<!--
					<value>
						<data key="context.assigned" value="context.group.assigned" />
						<data key="context.commented" value="context.group.commented" />
					</value>
					-->
				</param>
			</params>
		</extension>
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.group</id>
			<name>Group</name>
			<class>
				<file>api/dao/group.php</file>
				<name>Context_Group</name>
			</class>
			<params>
				<param key="view_class" value="View_Group" />
				<param key="options">
					<value>
						<data key="find" />
						<data key="workspace" />
					</value>
				</param>
				<param key="events">
					<!--
					<value>
						<data key="context.assigned" value="context.group.assigned" />
						<data key="context.commented" value="context.group.commented" />
					</value>
					-->
				</param>
			</params>
		</extension>
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.message</id>
			<name>Message</name>
			<class>
				<file>api/dao/message.php</file>
				<name>Context_Message</name>
			</class>
			<params>
				<param key="view_class" value="View_Message" />
				<param key="options">
					<value>
						<data key="workspace" />
					</value>
				</param>
				<param key="events">
					<!--
					<value>
						<data key="context.assigned" value="context.group.assigned" />
						<data key="context.commented" value="context.group.commented" />
					</value>
					-->
				</param>
			</params>
		</extension>
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.notification</id>
			<name>Notification</name>
			<class>
				<file>api/dao/notification.php</file>
				<name>Context_Notification</name>
			</class>
			<params>
				<param key="view_class" value="View_Notification" />
				<param key="options">
					<value>
						<data key="workspace" />
					</value>
				</param>
				<param key="events">
					<!--
					<value>
						<data key="context.assigned" value="context.group.assigned" />
						<data key="context.commented" value="context.group.commented" />
					</value>
					-->
				</param>
			</params>
		</extension>		
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.org</id>
			<name>Organization</name>
			<class>
				<file>api/dao/contact_org.php</file>
				<name>Context_Org</name>
			</class>
			<params>
				<param key="view_class" value="View_ContactOrg" />
				<param key="options">
					<value>
						<data key="create" />
						<data key="find" />
						<data key="workspace" />
					</value>
				</param>
				<param key="events">
					<value>
						<data key="context.assigned" value="context.org.assigned" />
						<data key="context.commented" value="context.org.commented" />
					</value>
				</param>
			</params>
		</extension>
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.snippet</id>
			<name>Snippet</name>
			<class>
				<file>api/dao/snippet.php</file>
				<name>Context_Snippet</name>
			</class>
			<params>
				<param key="view_class" value="View_Snippet" />
				<param key="options">
					<value>
						<!--
						<data key="create" />
						-->
						<data key="find" />
						<data key="workspace" />
					</value>
				</param>
				<param key="events">
					<!--
					<value>
						<data key="context.assigned" value="context.task.assigned" />
						<data key="context.commented" value="context.task.commented" />
					</value>
					-->
				</param>
			</params>
		</extension>
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.task</id>
			<name>Task</name>
			<class>
				<file>api/dao/task.php</file>
				<name>Context_Task</name>
			</class>
			<params>
				<param key="view_class" value="View_Task" />
				<param key="options">
					<value>
						<data key="create" />
						<data key="find" />
						<data key="workspace" />
					</value>
				</param>
				<param key="events">
					<value>
						<data key="context.assigned" value="context.task.assigned" />
						<data key="context.commented" value="context.task.commented" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="devblocks.context">
			<id>cerberusweb.contexts.ticket</id>
			<name>Ticket</name>
			<class>
				<file>api/dao/ticket.php</file>
				<name>Context_Ticket</name>
			</class>
			<params>
				<param key="view_class" value="View_Ticket" />
				<param key="options">
					<value>
						<data key="find" />
						<data key="workspace" />
					</value>
				</param>
				<param key="events">
					<value>
						<data key="context.assigned" value="context.ticket.assigned" />
						<data key="context.commented" value="context.ticket.commented" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="devblocks.context">
			<id>cerberusweb.contexts.worker</id>
			<name>Worker</name>
			<class>
				<file>api/dao/worker.php</file>
				<name>Context_Worker</name>
			</class>
			<params>
				<param key="view_class" value="View_Worker" />
				<param key="options">
					<value>
						<data key="find" />
						<data key="workspace" />
					</value>
				</param>
				<param key="events">
					<value>
						<data key="context.assigned" value="context.worker.assigned" />
						<data key="context.commented" value="context.worker.commented" />
					</value>
				</param>
			</params>
		</extension>

		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>cerberusweb.listeners.event</id>
			<name>Cerberus Helpdesk Event Listener</name>
			<class>
				<file>api/listeners.classes.php</file>
				<name>ChCoreEventListener</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="context_link.assigned" />
						<data key="context_link.set" />
						<data key="cron.heartbeat" />
						<data key="cron.maint" />
						<data key="dao.ticket.update" />
						<data key="ticket.action.closed" />
						<data key="ticket.action.moved" />					
						<data key="ticket.reply.inbound" />
						<data key="ticket.reply.outbound" />						
					</value>
				</param>
			</params>
		</extension>
 
		<!-- Controllers -->
		
		<extension point="devblocks.controller">
			<id>core.controller.rss</id>
			<name>RSS Controller</name>
			<class>
				<file>api/uri/rss.php</file>
				<name>ChRssController</name>
			</class>
			<params>
				<param key="uri" value="rss" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.internal</id>
			<name>Internal Controller</name>
			<class>
				<file>api/uri/internal.php</file>
				<name>ChInternalController</name>
			</class>
			<params>
				<param key="uri" value="internal" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.print</id>
			<name>Print Controller</name>
			<class>
				<file>api/uri/print.php</file>
				<name>ChPrintController</name>
			</class>
			<params>
				<param key="uri" value="print" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.debug</id>
			<name>Debug Controller</name>
			<class>
				<file>api/uri/debug.php</file>
				<name>ChDebugController</name>
			</class>
			<params>
				<param key="uri" value="debug" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.files</id>
			<name>Files Controller</name>
			<class>
				<file>api/uri/files.php</file>
				<name>ChFilesController</name>
			</class>
			<params>
				<param key="uri" value="files" />
			</params>
		</extension>
		
		<extension point="devblocks.controller">
			<id>core.controller.explorer</id>
			<name>Explorer Controller</name>
			<class>
				<file>api/uri/explorer.php</file>
				<name>ChExplorerController</name>
			</class>
			<params>
				<param key="uri" value="explore" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.cron</id>
			<name>Scheduled Tasks (Cron) Controller</name>
			<class>
				<file>api/uri/cron.php</file>
				<name>ChCronController</name>
			</class>
			<params>
				<param key="uri" value="cron" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.portal</id>
			<name>Portal Controller</name>
			<class>
				<file>api/uri/portal.php</file>
				<name>Controller_Portal</name>
			</class>
			<params>
				<param key="uri" value="portal" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.page</id>
			<name>Cerberus Helpdesk Controller</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChPageController</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Http Listeners -->
		
		<extension point="devblocks.listener.http">
			<id>core.listeners.tour</id>
			<name>Core Helpdesk Tour</name>
			<class>
				<file>api/listeners.classes.php</file>
				<name>ChCoreTour</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Storage Schemas -->
		
		<extension point="devblocks.storage.schema">
			<id>cerberusweb.storage.schema.attachments</id>
			<name>Attachments</name>
			<class>
				<file>api/dao/attachment.php</file>
				<name>Storage_Attachments</name>
			</class>
			<params>
				<param key="active_storage_profile" value="devblocks.storage.engine.disk" />
				<param key="archive_storage_profile" value="devblocks.storage.engine.disk" />
				<param key="archive_after_days" value="7" />
			</params>
		</extension>
	
		<extension point="devblocks.storage.schema">
			<id>cerberusweb.storage.schema.message_content</id>
			<name>Message Content</name>
			<class>
				<file>api/dao/message.php</file>
				<name>Storage_MessageContent</name>
			</class>
			<params>
				<param key="active_storage_profile" value="devblocks.storage.engine.database" />
				<param key="archive_storage_profile" value="devblocks.storage.engine.database" />
				<param key="archive_after_days" value="7" />
			</params>
		</extension>
		
		<!-- Search Schemas -->
		
		<extension point="devblocks.search.schema">
			<id>cerberusweb.search.schema.message_content</id>
			<name>Message Content</name>
			<class>
				<file>api/dao/message.php</file>
				<name>Search_MessageContent</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Pages -->

		<extension point="cerberusweb.page">
			<id>core.page.welcome</id>
			<name>Welcome Page</name>
			<class>
				<file>api/uri/welcome.php</file>
				<name>ChWelcomePage</name>
			</class>
			<params>
				<param key="uri" value="welcome" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.tickets</id>
			<name>Mail Page</name>
			<class>
				<file>api/uri/tickets.php</file>
				<name>ChTicketsPage</name>
			</class>
			<params>
				<param key="uri" value="tickets" />
				<param key="menutitle" value="common.mail" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.activity</id>
			<name>Activity Page</name>
			<class>
				<file>api/uri/activity.php</file>
				<name>ChActivityPage</name>
			</class>
			<params>
				<param key="uri" value="activity" />
				<param key="menutitle" value="core.menu.activity" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.tasks</id>
			<name>Tasks Page</name>
			<class>
				<file>api/uri/tasks.php</file>
				<name>ChTasksPage</name>
			</class>
			<params>
				<param key="uri" value="tasks" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.groups</id>
			<name>Groups Page</name>
			<class>
				<file>api/uri/groups.php</file>
				<name>ChGroupsPage</name>
			</class>
			<params>
				<param key="uri" value="groups" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.contacts</id>
			<name>Contacts Page</name>
			<class>
				<file>api/uri/contacts.php</file>
				<name>ChContactsPage</name>
			</class>
			<params>
				<param key="uri" value="contacts" />
				<param key="menutitle" value="core.menu.address_book" />
				<param key="acl" value="core.addybook" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.display</id>
			<name>Display Ticket Page</name>
			<class>
				<file>api/uri/display.php</file>
				<name>ChDisplayPage</name>
			</class>
			<params>
				<param key="uri" value="display" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.signin</id>
			<name>Signin Page</name>
			<class>
				<file>api/uri/login.php</file>
				<name>ChSignInPage</name>
			</class>
			<params>
				<param key="uri" value="login" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.configuration</id>
			<name>Setup Page</name>
			<class>
				<file>api/uri/config.php</file>
				<name>ChConfigurationPage</name>
			</class>
			<params>
				<param key="uri" value="config" />
				<param key="menutitle" value="" />
			</params>
		</extension>
		
			<!-- Setup Page Sections -->
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.acl</id>
				<name>ACL Section</name>
				<class>
					<file>api/uri/config/acl.php</file>
					<name>PageSection_SetupACL</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="acl" />
				</params>
			</extension>
		
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.branding</id>
				<name>Branding Section</name>
				<class>
					<file>api/uri/config/branding.php</file>
					<name>PageSection_SetupBranding</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="branding" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.fields</id>
				<name>Custom Fields Section</name>
				<class>
					<file>api/uri/config/fields.php</file>
					<name>PageSection_SetupCustomFields</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="fields" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.groups</id>
				<name>Groups Section</name>
				<class>
					<file>api/uri/config/groups.php</file>
					<name>PageSection_SetupGroups</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="groups" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.license</id>
				<name>License Section</name>
				<class>
					<file>api/uri/config/license.php</file>
					<name>PageSection_SetupLicense</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="license" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.mail_filtering</id>
				<name>Mail Filtering Section</name>
				<class>
					<file>api/uri/config/mail_filtering.php</file>
					<name>PageSection_SetupMailFiltering</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="mail_filtering" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.mail_from</id>
				<name>Mail From Section</name>
				<class>
					<file>api/uri/config/mail_from.php</file>
					<name>PageSection_SetupMailFrom</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="mail_from" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.mail_incoming</id>
				<name>Incoming Mail Section</name>
				<class>
					<file>api/uri/config/mail_incoming.php</file>
					<name>PageSection_SetupMailIncoming</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="mail_incoming" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.mail_outgoing</id>
				<name>Outgoing Mail Section</name>
				<class>
					<file>api/uri/config/mail_outgoing.php</file>
					<name>PageSection_SetupMailOutgoing</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="mail_outgoing" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.mail_pop3</id>
				<name>POP3 Section</name>
				<class>
					<file>api/uri/config/mail_pop3.php</file>
					<name>PageSection_SetupMailPop3</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="mail_pop3" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.mail_queue</id>
				<name>Mail Queue Section</name>
				<class>
					<file>api/uri/config/mail_queue.php</file>
					<name>PageSection_SetupMailQueue</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="mail_queue" />
				</params>
			</extension>		
		
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.mail_routing</id>
				<name>Mail Routing Section</name>
				<class>
					<file>api/uri/config/mail_routing.php</file>
					<name>PageSection_SetupMailRouting</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="mail_routing" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.mail_smtp</id>
				<name>SMTP Section</name>
				<class>
					<file>api/uri/config/mail_smtp.php</file>
					<name>PageSection_SetupMailSmtp</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="mail_smtp" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.plugins</id>
				<name>Plugins Section</name>
				<class>
					<file>api/uri/config/plugins.php</file>
					<name>PageSection_SetupPlugins</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="plugins" />
				</params>
			</extension>
		
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.portal</id>
				<name>Portal Section</name>
				<class>
					<file>api/uri/config/portal.php</file>
					<name>PageSection_SetupPortal</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="portal" />
				</params>
			</extension>
			
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.portals</id>
				<name>Portals Section</name>
				<class>
					<file>api/uri/config/portals.php</file>
					<name>PageSection_SetupPortals</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="portals" />
				</params>
			</extension>
		
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.scheduler</id>
				<name>Scheduler Section</name>
				<class>
					<file>api/uri/config/scheduler.php</file>
					<name>PageSection_SetupScheduler</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="scheduler" />
				</params>
			</extension>
		
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.security</id>
				<name>Security Section</name>
				<class>
					<file>api/uri/config/security.php</file>
					<name>PageSection_SetupSecurity</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="security" />
				</params>
			</extension>
		
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.storage_attachments</id>
				<name>Storage Attachments Section</name>
				<class>
					<file>api/uri/config/storage_attachments.php</file>
					<name>PageSection_SetupStorageAttachments</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="storage_attachments" />
				</params>
			</extension>
		
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.storage_content</id>
				<name>Storage Content Section</name>
				<class>
					<file>api/uri/config/storage_content.php</file>
					<name>PageSection_SetupStorageContent</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="storage_content" />
				</params>
			</extension>
		
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.storage_profiles</id>
				<name>Storage Profiles Section</name>
				<class>
					<file>api/uri/config/storage_profiles.php</file>
					<name>PageSection_SetupStorageProfiles</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="storage_profiles" />
				</params>
			</extension>
		
			<extension point="cerberusweb.ui.page.section">
				<id>core.page.setup.workers</id>
				<name>Workers Section</name>
				<class>
					<file>api/uri/config/workers.php</file>
					<name>PageSection_SetupWorkers</name>
				</class>
				<params>
					<param key="page_id" value="core.page.configuration" />
					<param key="uri" value="workers" />
				</params>
			</extension>
		
		<extension point="cerberusweb.page">
			<id>core.page.preferences</id>
			<name>Preferences Page</name>
			<class>
				<file>api/uri/preferences.php</file>
				<name>ChPreferencesPage</name>
			</class>
			<params>
				<param key="uri" value="preferences" />
			</params>
		</extension>
		
		<extension point="cerberusweb.page">
			<id>core.page.profiles</id>
			<name>Profiles Pages</name>
			<class>
				<file>api/uri/profiles.php</file>
				<name>Page_Profiles</name>
			</class>
			<params>
				<param key="uri" value="profiles" />
				<param key="menutitle" value="" />
			</params>
		</extension>
		
		<!-- Activity Tabs -->
		
		<extension point="cerberusweb.activity.tab">
			<id>core.activity.tab.tasks</id>
			<name>Tasks Tab</name>
			<class>
				<file>api/uri/tasks.php</file>
				<name>ChTasksActivityTab</name>
			</class>
			<params>
				<param key="uri" value="tasks" />
				<param key="title" value="activity.tab.tasks" />
			</params>
		</extension>

		<!--  Login Extensions -->

		<extension point="cerberusweb.login">
			<id>login.default</id>
			<name>Default Login</name>
			<class>
				<file>api/login.classes.php</file>
				<name>DefaultLoginModule</name>
			</class>
			<params>
				<param key="switcher_icon" value="images/plugin/mail.png" />
				<param key="switcher_label" value="Log in with email and password" />
			</params>
		</extension>

		<!-- Cron Extensions -->
		
		<extension point="cerberusweb.cron">
			<id>cron.pop3</id>
			<name>POP3 / IMAP E-Mail Importing</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>Pop3Cron</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.cron">
			<id>cron.parser</id>
			<name>Inbound E-Mail Processing</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>ParseCron</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.cron">
			<id>cron.maint</id>
			<name>Maintenance</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>MaintCron</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.cron">
			<id>cron.heartbeat</id>
			<name>Heartbeat</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>HeartbeatCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.cron">
			<id>cron.import</id>
			<name>Background Importing and Synchronization</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>ImportCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.cron">
			<id>cron.storage</id>
			<name>Storage Manager</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>StorageCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.cron">
			<id>cron.search</id>
			<name>Search Indexer</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>SearchCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.cron">
			<id>cron.mail_queue</id>
			<name>Mail Queue</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>MailQueueCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- RSS Sources -->
		
		<extension point="cerberusweb.rss.source">
			<id>core.rss.source.notification</id>
			<name>Notifications RSS</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChRssSource_Notification</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.rss.source">
			<id>core.rss.source.task</id>
			<name>Tasks RSS</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChRssSource_Task</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.rss.source">
			<id>core.rss.source.ticket</id>
			<name>Tickets RSS</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChRssSource_Ticket</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<!-- Explorer Toolbars -->
		
		<extension point="cerberusweb.explorer.toolbar">
			<id>cerberusweb.explorer.toolbar.notifications</id>
			<name>Worker Events</name>
			<class>
				<file>api/uri/preferences.php</file>
				<name>ChExplorerToolbarNotifications</name>
			</class>
			<params>
			</params>
		</extension>		
		
	</extensions>
</plugin>