<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.core</id>
	<name>[Cerb5] Core</name>
	<description>The core functionality of Cerberus Helpdesk.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/New_Changes</link>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="devblocks.core" version="2.0.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="4.0.0-alpha" revision="180" file="patches/4.x/4.0.0_alpha.php" />
		<patch version="4.0.0-beta" revision="555" file="patches/4.x/4.0.0_beta.php" />
		<patch version="4.0.0-rc1" revision="809" file="patches/4.x/4.0.0_rc1.php" />
		<patch version="4.1.0" revision="826" file="patches/4.x/4.1.0.php" />
		<patch version="4.1.1" revision="827" file="patches/4.x/4.1.1.php" />
		<patch version="4.2.0" revision="830" file="patches/4.x/4.2.0.php" />
		<patch version="4.2.1" revision="832" file="patches/4.x/4.2.1.php" />
		<patch version="4.2.3" revision="834" file="patches/4.x/4.2.3.php" />
		<patch version="4.3.0" revision="836" file="patches/4.x/4.3.0.php" />
		<patch version="4.3.1" revision="837" file="patches/4.x/4.3.1.php" />
		
		<patch version="5.0.0-alpha" revision="855" file="patches/5.x/5.0.0_alpha.php" />
		<patch version="5.0.0-beta" revision="856" file="patches/5.x/5.0.0_beta.php" />
		<patch version="5.0.0-rc1" revision="857" file="patches/5.x/5.0.0_rc1.php" />
	</patches>

	<!-- Declared Extension Points -->

	<!-- 
	<extension_points>
		<point id=""></point>
	</extension_points>
	-->

	<!-- Controller Routing -->

	<uri_routing>
		<uri name="tickets" controller="core.controller.page" />
	</uri_routing>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/plugin.classes.php">
			<class name="ChCustomFieldSource_Address" />
			<class name="ChCustomFieldSource_Org" />
			<class name="ChCustomFieldSource_Task" />
			<class name="ChCustomFieldSource_Ticket" />
			<class name="ChCustomFieldSource_Worker" />
			<class name="ChNotesSource_Org" />
			<class name="ChNotesSource_Task" />
			<class name="ChPageController" />
			<class name="ChRssSource_Notification" />
			<class name="ChRssSource_Task" />
			<class name="ChRssSource_Ticket" />
			<class name="ChTaskSource_Org" />
			<class name="ChTaskSource_Ticket" />
			<class name="ChWorkspaceSource_Address" />
			<class name="ChWorkspaceSource_Org" />
			<class name="ChWorkspaceSource_Task" />
			<class name="ChWorkspaceSource_Ticket" />
			<class name="ChWorkspaceSource_Worker" />
		</file>
		
		<file path="api/dao/address_to_worker.php">
			<class name="DAO_AddressToWorker" />
			<class name="Model_AddressToWorker" />
		</file>
		
		<file path="api/dao/address.php">
			<class name="DAO_Address" />
			<class name="Model_Address" />
			<class name="SearchFields_Address" />
			<class name="View_Address" />
		</file>
		
		<file path="api/dao/attachment.php">
			<class name="DAO_Attachment" />
			<class name="Model_Attachment" />
			<class name="SearchFields_Attachment" />
			<class name="Storage_Attachments" />
			<class name="View_Attachment" />
		</file>
		
		<file path="api/dao/bayes.php">
			<class name="CerberusBayes" />
			<class name="DAO_Bayes" />
			<class name="Model_BayesWord" />
		</file>
		
		<file path="api/dao/bucket.php">
			<class name="DAO_Bucket" />
			<class name="Model_Bucket" />
		</file>
		
		<file path="api/dao/contact_org.php">
			<class name="DAO_ContactOrg" />
			<class name="Model_ContactOrg" />
			<class name="SearchFields_ContactOrg" />
			<class name="View_ContactOrg" />
		</file>
		
		<file path="api/dao/explorer.php">
			<class name="DAO_ExplorerSet" />
			<class name="Model_ExplorerSet" />
		</file>
		
		<file path="api/dao/group.php">
			<class name="DAO_Group" />
			<class name="DAO_GroupSettings" />
			<class name="Model_Group" />
		</file>
		
		<file path="api/dao/group_inbox_filter.php">
			<class name="DAO_GroupInboxFilter" />
			<class name="Model_GroupInboxFilter" />
			<class name="SearchFields_GroupInboxFilter" />
		</file>
		
		<file path="api/dao/mail_queue.php">
			<class name="DAO_MailQueue" />
			<class name="Model_MailQueue" />
			<class name="SearchFields_MailQueue" />
			<class name="View_MailQueue" />
		</file>
		
		<file path="api/dao/message.php">
			<class name="DAO_Message" />
			<class name="DAO_MessageHeader" />
			<class name="Model_Message" />
			<class name="Search_MessageContent" />
			<class name="SearchFields_Message" />
			<class name="Storage_MessageContent" />
		</file>
		
		<file path="api/dao/message_note.php">
			<class name="DAO_MessageNote" />
			<class name="Model_MessageNote" />
		</file>
		
		<file path="api/dao/note.php">
			<class name="DAO_Note" />
			<class name="Model_Note" />
			<class name="SearchFields_Note" />
		</file>
		
		<file path="api/dao/preparse_rule.php">
			<class name="DAO_PreParseRule" />
			<class name="Model_PreParseRule" />
		</file>
		
		<file path="api/dao/snippet.php">
			<class name="DAO_Snippet" />
			<class name="Model_Snippet" />
			<class name="SearchField_Snippet" />
			<class name="View_Snippet" />
		</file>
		
		<file path="api/dao/task.php">
			<class name="DAO_Task" />
			<class name="Model_Task" />
			<class name="SearchFields_Task" />
			<class name="View_Task" />
		</file>
		
		<file path="api/dao/ticket.php">
			<class name="DAO_Ticket" />
			<class name="Model_Ticket" />
			<class name="SearchFields_Ticket" />
			<class name="View_Ticket" />
		</file>
		
		<file path="api/dao/worker.php">
			<class name="DAO_Worker" />
			<class name="DAO_WorkerPref" />
			<class name="Model_Worker" />
			<class name="SearchFields_Worker" />
			<class name="View_Worker" />
		</file>
		
		<file path="api/dao/worker_event.php">
			<class name="DAO_WorkerEvent" />
			<class name="Model_WorkerEvent" />
			<class name="SearchFields_WorkerEvent" />
			<class name="View_WorkerEvent" />
		</file>
		
	</class_loader>
	
	<!-- Event Points -->

	<event_points>
		<event id="address.peek.saved">
			<name>Address Peek Saved</name>
			<param key="address_id" />
			<param key="changed_fields" />
		</event>
		<event id="bucket.delete">
			<name>Bucket Delete</name>
			<param key="bucket_ids" />
		</event>
		<event id="cron.heartbeat">
			<name>Heartbeat</name>
		</event>
		<event id="cron.maint">
			<name>Maintenance</name>
		</event>
		<event id="group.delete">
			<name>Group Delete</name>
			<param key="group_ids" />
		</event>
		<event id="ticket.comment.create">
			<name>Ticket Comment</name>
			<param key="comment_id" />
			<param key="ticket_id" />
			<param key="address_id" />
			<param key="comment" />
		</event>
		<event id="ticket.merge">
			<name>Ticket Merge</name>
			<param key="new_ticket_id" />
			<param key="old_ticket_ids" />
		</event>
		<event id="ticket.property.pre_change">
			<name>Ticket Property Pre-Change</name>
			<param key="ticket_ids" />
			<param key="changed_fields" />
		</event>
		<event id="ticket.property.post_change">
			<name>Ticket Property Post-Change</name>
			<param key="ticket_ids" />
			<param key="changed_fields" />
		</event>
		<event id="ticket.reply.inbound">
			<name>Ticket Inbound Reply</name>
			<param key="ticket_id" />
		</event>
		<event id="ticket.reply.outbound">
			<name>Ticket Outbound Reply</name>
			<param key="ticket_id" />
			<param key="worker_id" />
		</event>
		<event id="worker.delete">
			<name>Worker Delete</name>
			<param key="worker_ids" />
		</event>
	</event_points>

	<!-- Permissions -->

	<acl>
		<!-- Addy Book -->
		<priv id="core.addybook" label="acl.core.addybook" />
		<priv id="core.addybook.actions.import" label="acl.core.addybook.actions.import" />
		<priv id="core.addybook.addy.actions.update" label="acl.core.addybook.addy.actions.update" />
		<priv id="core.addybook.addy.view.actions.export" label="acl.core.addybook.addy.view.actions.export" />
		<priv id="core.addybook.org.actions.update" label="acl.core.addybook.org.actions.update" />
		<priv id="core.addybook.org.actions.delete" label="acl.core.addybook.org.actions.delete" />
		<priv id="core.addybook.org.view.actions.export" label="acl.core.addybook.org.view.actions.export" />

		<!-- Display Ticket -->
		<priv id="core.display.actions.attachments.download" label="acl.core.display.actions.attachments.download" />
		<priv id="core.display.actions.comment" label="acl.core.display.actions.comment" />
		<priv id="core.display.actions.forward" label="acl.core.display.actions.forward" />
		<priv id="core.display.actions.note" label="acl.core.display.actions.note" />
		<priv id="core.display.actions.reply" label="acl.core.display.actions.reply" />
		<priv id="core.display.actions.split" label="acl.core.display.actions.split" />

		<!-- Mail page -->
		<priv id="core.mail.actions.auto_refresh" label="acl.core.mail.actions.auto_refresh" />
		<priv id="core.mail.log_ticket" label="acl.core.mail.log_ticket" />
		<priv id="core.mail.overview" label="acl.core.mail.overview" />
		<priv id="core.mail.search" label="acl.core.mail.search" />
		<priv id="core.mail.send" label="acl.core.mail.send" />

		<!-- Research -->
		<priv id="core.research" label="acl.core.research" />

		<!-- RSS -->
		<priv id="core.rss" label="acl.core.rss" />

		<!-- Tasks -->
		<priv id="core.tasks.actions.create" label="acl.core.tasks.actions.create" />
		<priv id="core.tasks.actions.update_nobody" label="acl.core.tasks.actions.update_nobody" />
		<priv id="core.tasks.actions.update_all" label="acl.core.tasks.actions.update_all" />
		<priv id="core.tasks.view.actions.export" label="acl.core.tasks.view.actions.export" />
		
		<!-- Tickets -->
		<priv id="core.ticket.actions.assign" label="acl.core.ticket.actions.assign" />
		<priv id="core.ticket.actions.close" label="acl.core.ticket.actions.close" />
		<priv id="core.ticket.actions.delete" label="acl.core.ticket.actions.delete" />
		<priv id="core.ticket.actions.move" label="acl.core.ticket.actions.move" />
		<priv id="core.ticket.actions.spam" label="acl.core.ticket.actions.spam" />
		<priv id="core.ticket.view.actions.broadcast_reply" label="acl.core.ticket.view.actions.broadcast_reply" />
		<priv id="core.ticket.view.actions.bulk_update" label="acl.core.ticket.view.actions.bulk_update" />
		<priv id="core.ticket.view.actions.export" label="acl.core.ticket.view.actions.export" />
		<priv id="core.ticket.view.actions.merge" label="acl.core.ticket.view.actions.merge" />
		<priv id="core.ticket.view.actions.pile_sort" label="acl.core.ticket.view.actions.pile_sort" />

		<!-- Workspaces -->
		<priv id="core.home.auto_refresh" label="acl.core.home.auto_refresh" />
		<priv id="core.home.workspaces" label="acl.core.home.workspaces" />
		
	</acl>

	<!-- Extensions -->

	<extensions>

		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>cerberusweb.listeners.event</id>
			<name>Cerberus Helpdesk Event Listener</name>
			<class>
				<file>api/listeners.classes.php</file>
				<name>ChCoreEventListener</name>
			</class>
			<params>
				<!-- Global Event Listener -->
			</params>
		</extension>
 
		<!-- Controllers -->
		
		<extension point="devblocks.controller">
			<id>core.controller.rss</id>
			<name>RSS Controller</name>
			<class>
				<file>api/uri/rss.php</file>
				<name>ChRssController</name>
			</class>
			<params>
				<param key="uri" value="rss" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.internal</id>
			<name>Internal Controller</name>
			<class>
				<file>api/uri/internal.php</file>
				<name>ChInternalController</name>
			</class>
			<params>
				<param key="uri" value="internal" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.print</id>
			<name>Print Controller</name>
			<class>
				<file>api/uri/print.php</file>
				<name>ChPrintController</name>
			</class>
			<params>
				<param key="uri" value="print" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.debug</id>
			<name>Debug Controller</name>
			<class>
				<file>api/uri/debug.php</file>
				<name>ChDebugController</name>
			</class>
			<params>
				<param key="uri" value="debug" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.files</id>
			<name>Files Controller</name>
			<class>
				<file>api/uri/files.php</file>
				<name>ChFilesController</name>
			</class>
			<params>
				<param key="uri" value="files" />
			</params>
		</extension>
		
		<extension point="devblocks.controller">
			<id>core.controller.explorer</id>
			<name>Explorer Controller</name>
			<class>
				<file>api/uri/explorer.php</file>
				<name>ChExplorerController</name>
			</class>
			<params>
				<param key="uri" value="explore" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.cron</id>
			<name>Scheduled Tasks (Cron) Controller</name>
			<class>
				<file>api/uri/cron.php</file>
				<name>ChCronController</name>
			</class>
			<params>
				<param key="uri" value="cron" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.page</id>
			<name>Cerberus Helpdesk Controller</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChPageController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.notification</id>
			<name>Notification Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChNotificationController</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Http Listeners -->
		
		<extension point="devblocks.listener.http">
			<id>core.listeners.tour</id>
			<name>Core Helpdesk Tour</name>
			<class>
				<file>api/listeners.classes.php</file>
				<name>ChCoreTour</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Storage Schemas -->
		
		<extension point="devblocks.storage.schema">
			<id>cerberusweb.storage.schema.attachments</id>
			<name>Attachments</name>
			<class>
				<file>api/dao/attachment.php</file>
				<name>Storage_Attachments</name>
			</class>
			<params>
				<param key="active_storage_profile" value="devblocks.storage.engine.disk" />
				<param key="archive_storage_profile" value="devblocks.storage.engine.disk" />
				<param key="archive_after_days" value="7" />
			</params>
		</extension>
	
		<extension point="devblocks.storage.schema">
			<id>cerberusweb.storage.schema.message_content</id>
			<name>Message Content</name>
			<class>
				<file>api/dao/message.php</file>
				<name>Storage_MessageContent</name>
			</class>
			<params>
				<param key="active_storage_profile" value="devblocks.storage.engine.database" />
				<param key="archive_storage_profile" value="devblocks.storage.engine.database" />
				<param key="archive_after_days" value="7" />
			</params>
		</extension>
		
		<!-- Search Schemas -->
		
		<extension point="devblocks.search.schema">
			<id>cerberusweb.search.schema.message_content</id>
			<name>Message Content</name>
			<class>
				<file>api/dao/message.php</file>
				<name>Search_MessageContent</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Pages -->

		<extension point="cerberusweb.page">
			<id>core.page.welcome</id>
			<name>Welcome Page</name>
			<class>
				<file>api/uri/welcome.php</file>
				<name>ChWelcomePage</name>
			</class>
			<params>
				<param key="uri" value="welcome" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.home</id>
			<name>Home Page</name>
			<class>
				<file>api/uri/home.php</file>
				<name>ChHomePage</name>
			</class>
			<params>
				<param key="uri" value="home" />
				<param key="menutitle" value="core.menu.home" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.tickets</id>
			<name>Mail Page</name>
			<class>
				<file>api/uri/tickets.php</file>
				<name>ChTicketsPage</name>
			</class>
			<params>
				<param key="uri" value="tickets" />
				<param key="menutitle" value="core.menu.mail" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.activity</id>
			<name>Activity Page</name>
			<class>
				<file>api/uri/activity.php</file>
				<name>ChActivityPage</name>
			</class>
			<params>
				<param key="uri" value="activity" />
				<param key="menutitle" value="core.menu.activity" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.research</id>
			<name>Research Page</name>
			<class>
				<file>api/uri/research.php</file>
				<name>ChResearchPage</name>
			</class>
			<params>
				<param key="uri" value="research" />
				<param key="menutitle" value="core.menu.research" />
				<param key="acl" value="core.research" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.tasks</id>
			<name>Tasks Page</name>
			<class>
				<file>api/uri/tasks.php</file>
				<name>ChTasksPage</name>
			</class>
			<params>
				<param key="uri" value="tasks" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.groups</id>
			<name>Groups Page</name>
			<class>
				<file>api/uri/groups.php</file>
				<name>ChGroupsPage</name>
			</class>
			<params>
				<param key="uri" value="groups" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.contacts</id>
			<name>Contacts Page</name>
			<class>
				<file>api/uri/contacts.php</file>
				<name>ChContactsPage</name>
			</class>
			<params>
				<param key="uri" value="contacts" />
				<param key="menutitle" value="core.menu.address_book" />
				<param key="acl" value="core.addybook" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.display</id>
			<name>Display Ticket Page</name>
			<class>
				<file>api/uri/display.php</file>
				<name>ChDisplayPage</name>
			</class>
			<params>
				<param key="uri" value="display" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.signin</id>
			<name>Signin Page</name>
			<class>
				<file>api/uri/login.php</file>
				<name>ChSignInPage</name>
			</class>
			<params>
				<param key="uri" value="login" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.configuration</id>
			<name>Configuration Page</name>
			<class>
				<file>api/uri/config.php</file>
				<name>ChConfigurationPage</name>
			</class>
			<params>
				<param key="uri" value="config" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.preferences</id>
			<name>Preferences Page</name>
			<class>
				<file>api/uri/preferences.php</file>
				<name>ChPreferencesPage</name>
			</class>
			<params>
				<param key="uri" value="preferences" />
			</params>
		</extension>
		
		<!-- Activity Tabs -->
		
		<extension point="cerberusweb.activity.tab">
			<id>core.activity.tab.tasks</id>
			<name>Tasks Tab</name>
			<class>
				<file>api/uri/tasks.php</file>
				<name>ChTasksActivityTab</name>
			</class>
			<params>
				<param key="uri" value="tasks" />
				<param key="title" value="activity.tab.tasks" />
			</params>
		</extension>
		
		<!--  Login Extensions -->

		<extension point="cerberusweb.login">
			<id>login.default</id>
			<name>Default Login Module</name>
			<class>
				<file>api/login.classes.php</file>
				<name>DefaultLoginModule</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="cerberusweb.login">
			<id>login.ldap</id>
			<name>LDAP Login Module</name>
			<class>
				<file>api/login.classes.php</file>
				<name>LDAPLoginModule</name>
			</class>
			<params>
			</params>
		</extension>
		 
		<!-- Cron Extensions -->
		
		<extension point="cerberusweb.cron">
			<id>cron.pop3</id>
			<name>POP3 / IMAP E-Mail Importing</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>Pop3Cron</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.cron">
			<id>cron.parser</id>
			<name>Inbound E-Mail Processing</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>ParseCron</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.cron">
			<id>cron.maint</id>
			<name>Maintenance</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>MaintCron</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.cron">
			<id>cron.heartbeat</id>
			<name>Heartbeat</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>HeartbeatCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.cron">
			<id>cron.import</id>
			<name>Background Importing and Synchronization</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>ImportCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.cron">
			<id>cron.storage</id>
			<name>Storage Manager</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>StorageCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.cron">
			<id>cron.search</id>
			<name>Search Indexer</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>SearchCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.cron">
			<id>cron.mail_queue</id>
			<name>Mail Queue</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>MailQueueCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Custom Field Sources -->
		
		<extension point="cerberusweb.fields.source">
			<id>cerberusweb.fields.source.address</id>
			<name>Address</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChCustomFieldSource_Address</name>
			</class>
			<params>
			</params>
		</extension>
				
		<extension point="cerberusweb.fields.source">
			<id>cerberusweb.fields.source.org</id>
			<name>Organization</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChCustomFieldSource_Org</name>
			</class>
			<params>
			</params>
		</extension>
				
		<extension point="cerberusweb.fields.source">
			<id>cerberusweb.fields.source.task</id>
			<name>Task</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChCustomFieldSource_Task</name>
			</class>
			<params>
			</params>
		</extension>
				
		<extension point="cerberusweb.fields.source">
			<id>cerberusweb.fields.source.ticket</id>
			<name>Ticket</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChCustomFieldSource_Ticket</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.fields.source">
			<id>cerberusweb.fields.source.worker</id>
			<name>Worker</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChCustomFieldSource_Worker</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<!-- Notes Sources -->
		
		<extension point="cerberusweb.notes.source">
			<id>cerberusweb.notes.source.org</id>
			<name>Organization</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChNotesSource_Org</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="cerberusweb.notes.source">
			<id>cerberusweb.notes.source.task</id>
			<name>Task</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChNotesSource_Task</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Workspace Sources -->
		
		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.address</id>
			<name>Addresses</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChWorkspaceSource_Address</name>
			</class>
			<params>
				<param key="view_class" value="View_Address" />
			</params>
		</extension>

		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.notifications</id>
			<name>Notifications</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChWorkspaceSource_Notification</name>
			</class>
			<params>
				<param key="view_class" value="View_WorkerEvent" />
			</params>
		</extension>
		
		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.org</id>
			<name>Organizations</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChWorkspaceSource_Org</name>
			</class>
			<params>
				<param key="view_class" value="View_ContactOrg" />
			</params>
		</extension>
		
		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.task</id>
			<name>Tasks</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChWorkspaceSource_Task</name>
			</class>
			<params>
				<param key="view_class" value="View_Task" />
			</params>
		</extension>
		
		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.ticket</id>
			<name>Tickets</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChWorkspaceSource_Ticket</name>
			</class>
			<params>
				<param key="view_class" value="View_Ticket" />
			</params>
		</extension>
		
		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.worker</id>
			<name>Workers</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChWorkspaceSource_Worker</name>
			</class>
			<params>
				<param key="view_class" value="View_Worker" />
			</params>
		</extension>
		
		<!-- RSS Sources -->
		
		<extension point="cerberusweb.rss.source">
			<id>core.rss.source.notification</id>
			<name>Notifications RSS</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChRssSource_Notification</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.rss.source">
			<id>core.rss.source.task</id>
			<name>Tasks RSS</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChRssSource_Task</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.rss.source">
			<id>core.rss.source.ticket</id>
			<name>Tickets RSS</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChRssSource_Ticket</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<!-- Task Sources -->
		
		<extension point="cerberusweb.task.source">
			<id>cerberusweb.tasks.org</id>
			<name>Organization Task</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChTaskSource_Org</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.task.source">
			<id>cerberusweb.tasks.ticket</id>
			<name>Ticket Task</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChTaskSource_Ticket</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Explorer Toolbars -->
		
		<extension point="cerberusweb.explorer.toolbar">
			<id>cerberusweb.explorer.toolbar.worker_events</id>
			<name>Worker Events</name>
			<class>
				<file>api/uri/home.php</file>
				<name>ChExplorerToolbarWorkerEvents</name>
			</class>
			<params>
			</params>
		</extension>		
		
	</extensions>
</plugin>