<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>example.customfield.source</id>
	<name>[Examples] Example Custom Field Source</name>
	<description>This example plugin adds an example custom field source.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerberusweb.com/wiki/5.x/Extension:cerberusweb.fields.source</link>
	
    <!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.1.0" />
	</dependencies>
    
    <!-- Exported Classes -->
   	<class_loader>
		<file path="api/classes.php">
			<class name="ExCustomFieldSource_Asset" />
		</file>
    </class_loader>
    
	<extensions>
		<extension point="cerberusweb.fields.source">
			<id>example.customfield.source.asset</id>
			<name>Assets</name>
			<class>
				<file>api/classes.php</file>
				<name>ExCustomFieldSource_Asset</name>
			</class>
			<params>
			</params>
		</extension>
	</extensions>
</plugin>