<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>example.activitytab</id>
	<name>[Examples] Example Activity Tab</name>
	<description>This example plugin adds an example tab to the activity page</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerberusweb.com/wiki/5.x/Extension:cerberusweb.activity.tab</link>
	
    <!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.1.0" />
	</dependencies>
    
    <!-- Exported Classes -->
   
	<extensions>
		<extension point="cerberusweb.activity.tab">
			<id>example.activitytab.tab</id>
			<name>Example Activity Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ExActivityTab</name>
			</class>
			<params>
				<param key="uri" value="example" />
    			<param key="title" value="example.activity.tab" />
			</params>
		</extension>
	</extensions>
</plugin>