@CHARSET "ISO-8859-1";
BODY {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333}
FORM { margin: 0px; }
H3 { color: rgb(0,180,0); }
A { color: rgb(80,80,80); }
.good { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #009900 }
.bad { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #CC0000}
.warning { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #FFAA00}
