@CHARSET "UTF-8";

BODY, TD, TH { 
	font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #333333
}

TH {
	font-weight: bold;
}

FORM {
	margin: 0px;
}

H3 {
	color: rgb(0,120,0);
}

A {
	color: rgb(80,80,80);
}

FORM INPUT, TEXTAREA, SELECT {
	font-size: 120%;
}

BUTTON[type=submit] {
	font-size: 150%;
}

UL {
	margin: 5px 0px;
	padding: 0px 0px 0px 20px;
}

.progress_complete {
	background: orange;
}

.progress_incomplete {
	background: rgb(200,200,200);
}

.good {
	font-weight: bold;
	color: #009900;
}

.bad {
	font-weight: bold;
	color:rgb(180,0,0);
}

.warning {
	font-weight: bold;
	color: #FFAA00;
}

DIV.error {
	color:rgb(180,0,0);
	font-weight:bold;
	padding:10px;
	margin:5px;
	background-color:rgb(255,230,230);
	border-radius:10px;
}