<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.crm</id>
	<name>[Cerb5] Opportunity Tracking</name>
	<description>Create opportunities (sales leads) linked to e-mail addresses. Opportunity records can be created from the Activity menu or while reading tickets.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb5.com/wiki/Features:Opportunity_Tracking</link>
	<image>plugin.png</image>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>
	
	<!-- Patches -->
	
	<patches>
		<patch version="4.0.0-alpha" revision="6" file="patches/4.0.0_alpha.php" />
		<patch version="4.1.0" revision="12" file="patches/4.1.0.php" />
		<patch version="5.1.0-dev" revision="15" file="patches/5.1.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="Extension_CrmOpportunityTab" />
			<class name="Extension_CrmOpportunityToolbarItem" />
		</file>
		<file path="api/dao/crm_opportunity.php">
			<class name="Context_CrmOpportunity" />
			<class name="DAO_CrmOpportunity" />
			<class name="Model_CrmOpportunity" />
			<class name="SearchFields_CrmOpportunity" />
			<class name="View_CrmOpportunity" />
		</file>
	</class_loader>
	
	<acl>
		<priv id="crm.opp.actions.create" label="acl.crm.opp.actions.create" />
		<priv id="crm.opp.actions.import" label="acl.crm.opp.actions.import" />
		<priv id="crm.opp.actions.update_all" label="acl.crm.opp.actions.update_all" />
		<priv id="crm.opp.actions.delete" label="acl.crm.opp.actions.delete" />
		<priv id="crm.opp.view.actions.broadcast" label="acl.crm.opp.view.actions.broadcast" />
		<priv id="crm.opp.view.actions.export" label="acl.crm.opp.view.actions.export" />
	</acl>
	
	<!-- Activity Points -->
	
	<activity_points>
		<activity point="opp.status.closed_lost">
			<param key="label_key" value="Opportunity Closed/Lost" />
		</activity>
		<activity point="opp.status.closed_won">
			<param key="label_key" value="Opportunity Closed/Won" />
		</activity>
		<activity point="opp.status.open">
			<param key="label_key" value="Opportunity Opened" />
		</activity>
	</activity_points>
	
	<!-- Events -->
	
	<event_points>
		<event id="opportunity.create">
			<name>Opportunity Create</name>
			<param key="opp_id" />
			<param key="fields" />
		</event>
	</event_points>
	
	<extensions>
	
		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.opportunity</id>
			<name>Opportunity</name>
			<class>
				<file>api/dao/crm_opportunity.php</file>
				<name>Context_Opportunity</name>
			</class>
			<params>
				<param key="view_class" value="View_CrmOpportunity" />
				<param key="options">
					<value>
						<data key="create" />
						<data key="find" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>crm.listeners.core</id>
			<name>CRM Listener</name>
			<class>
				<file>api/App.php</file>
				<name>CrmEventListener</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="cron.maint" />						
					</value>
				</param>
			</params>
		</extension>

		<!-- Activity Tabs -->
		
		<extension point="cerberusweb.activity.tab">
			<id>crm.activity.tab.opps</id>
			<name>Opportunities Tab</name>
			<class>
				<file>api/App.php</file>
				<name>CrmOppsActivityTab</name>
			</class>
			<params>
				<param key="uri" value="opps" />
				<param key="title" value="crm.tab.title" />
			</params>
		</extension>
		
		<!-- Pages -->
		
		<extension point="cerberusweb.page">
			<id>crm.page.crm</id>
			<name>CRM Page</name>
			<class>
				<file>api/App.php</file>
				<name>CrmPage</name>
			</class>
			<params>
				<param key="uri" value="crm" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<!-- Org Tabs -->
		
		<extension point="cerberusweb.org.tab">
			<id>crm.opp.tab.org</id>
			<name>Opportunity Tab</name>
			<class>
				<file>api/App.php</file>
				<name>CrmOrgOppTab</name>
			</class>
			<params>
				<param key="uri" value="opps" />
				<param key="title" value="crm.tab.title" />
			</params>
		</extension>
		
		<!-- Ticket Tabs -->
		
		<extension point="cerberusweb.ticket.tab">
			<id>crm.opp.tab.ticket</id>
			<name>Opportunity Tab</name>
			<class>
				<file>api/App.php</file>
				<name>CrmTicketOppTab</name>
			</class>
			<params>
				<param key="uri" value="opps" />
				<param key="title" value="crm.tab.title" />
			</params>
		</extension>
		
		<!-- REST Controllers -->
		
		<extension point="cerberusweb.rest.controller">
			<id>crm.rest.controller.opps</id>
			<name>Opportunities</name>
			<class>
				<file>api/rest/opps.php</file>
				<name>ChRest_Opps</name>
			</class>
			<params>
				<param key="uri" value="opps" />
			</params>
		</extension>		
		
	</extensions>
</plugin>