div.cerb-board {
	div.cerb-board-columns {
		white-space: nowrap;
	}
	
	.cerb-board-columns-set {
		width: 100%;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
		
		&::-webkit-scrollbar {
			display: none;
		}
	}

	div.cerb-board-column-add {
		text-align: center;
		vertical-align: top;
		position: relative;
		display: inline-block;
		width: 305px;
		background-color: var(--cerb-color-background);
		border: 1px dashed var(--cerb-color-background-contrast-220);
		border-radius: 5px;
		min-height: 100px;
		margin: 5px;
		padding: 5px 0;

		p {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: 0 -50% 0 0;
			transform: translate(-50%, -50%);
			color: var(--cerb-color-background-contrast-200);
			font-size: 1.5em;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.cerb-board-column-edit {
		margin-left: 2px;
		font-weight: bold;
		font-size: 1.4em;
		color: var(--cerb-color-text);
		vertical-align: middle;
	}
	
	.cerb-board-column-toolbar {
		.glyphicons-menu-hamburger {
			margin-left: 5px;
			cursor: move;
			color: var(--cerb-color-background-contrast-150);
			font-size: 0.9em;
			vertical-align: middle;
		}
	}

	.cerb-board-column {
		white-space: normal;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		width: 305px;
		background-color: var(--cerb-color-background-contrast-250);
		border: 1px solid var(--cerb-color-background-contrast-230);
		border-radius: 5px;
		min-height: 500px;
		margin: 5px;
		padding: 5px 0;

		.cerb-board-column-toolbar-buttons {
			float: right;
			margin: 0 5px 0 0;
		}

		div.cerb-board-card {
			text-align: left;
			border-radius: 5px;
			background-color: var(--cerb-color-background);
			border: 1px solid var(--cerb-color-background-contrast-230);
			display: inline-block;
			width: 280px;
			min-height: 50px;
			margin: 2px;
			padding: 0;
			cursor: move;
			overflow: hidden;
			position:relative;

			> div {
				margin: 5px;
			}
		}
	}
}