TABLE.cerb-widget-data-table {
	th {
		font-weight: bold;
		font-size: 1.25em;
		text-align: left;
		padding: 0 5px 5px 5px;
	}
	
	td {
		padding: 5px;
		white-space: normal;
		word-break: break-word;
		color: var(--cerb-color-background-contrast-100);
	}
	
	tbody:nth-child(even) td {
		background-color: var(--cerb-color-table-row-alt-background);
	}
	
	tbody {
		cursor: pointer;
		
		&.selected td {
			background-color: var(--cerb-color-table-row-selected-background);
		}
		
		&.hover tr td {
			background-color: var(--cerb-color-table-row-hover-background) !important;
		}
	}

	.cerb-sheet--row-title {
		font-size:1.1em;		
		font-weight: bold;
		color: var(--cerb-color-table-row-subject);
		padding:0 0 0 5px;
	}
}

.cerb-widget-drag-placeholder {
	flex: 1 1 100%;
	min-height: 150px;
	background-color: var(--cerb-color-background-contrast-220);
	outline:2px dashed var(--cerb-color-background-contrast-150);
	outline-offset:-10px;
}
