<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>example.support_center.page</id>
	<name>[Example] Support Center Page</name>
	<description>This plugin demonstrates adding a new page to the Support Center.</description>
	<author>WebGroup Media, LLC.</author>
	<version>0.0.1</version>
	<link>http://www.cerbweb.com/</link>
	<!--<image>plugin.png</image>-->
 
 	<!-- Requirements -->

	<requires>
		<app_version min="6.3" max="6.3.99" />
		<!--<php_extension name="curl" />-->
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="6.0.0" />
	</dependencies>

	<!-- Exported Classes -->
	
	<class_loader>
		<!--
		<file path="api/dao/example.php">
			<class name="DAO_Example" />
		</file>
		-->
	</class_loader>

	<!-- Extensions -->
 
	<extensions>

		<!-- Support Center Controller -->
		
		<extension point="usermeet.sc.controller">
		    <id>example.support_center.page.controller</id>
		    <name>Example Page</name>
		    <class>
		        <file>api/App.php</file>
		        <name>ExampleScController</name>
		    </class>
		    <params>
		        <param key="uri" value="example" />
		        <param key="menu_title" value="example.menu.label" />
		    </params>
		</extension>
		
    </extensions> 
</plugin>
