.cerb-bot-interaction-button {
	z-index:9999;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
}

.cerb-bot-interaction-button .cerb-bot-interaction-button-icon {
	position:relative;
	width:60px;
	height:60px;
	border: 3px solid #41acff;
	border-radius:60px;
	background-color:#cfddeb;
	background-size: 60px 60px;
	background-image:url(../images/icon.png);
	box-shadow:0 0 10px 0px rgb(150,150,150);
	cursor:pointer;
}

.cerb-bot-chat-window {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	width: 500px;
	min-height: 96%;
	max-height: 96%;
	height: 96%;
	height: auto !important;
	position: fixed;
	z-index: 10000;
	right: 25px;
	top: 2%;
	bottom: 2%;
	background: white;
	border-radius: 15px;
	box-shadow: 0 0 10px 0 rgb(50, 50, 50);
}

.cerb-bot-chat-window > div.cerb-bot-chat-window-close {
	z-index: 10010;
	position: absolute;
	width: 32px;
	height: 32px;
	right: -10px;
	top: -5px;
	font-size: 28px;
	line-height: 32px;
	cursor: pointer;
	background-color: rgb(95, 95, 95);
	color: white;
	text-align: center;
	border-radius: 24px;
}

.cerb-bot-chat-window > div.cerb-bot-chat-window-close:hover {
	background-color: rgb(125, 125, 125);
}

.cerb-bot-chat-window > div.cerb-bot-chat-window-avatar {
	position: absolute;
	z-index: 10010;
	width: 64px;
	height: 64px;
	left: 50%;
	margin-left: -32px;
	top: -45px;
	background-color: rgb(95, 95, 95);
	text-align: center;
	border-radius: 32px;
}

.cerb-bot-chat-window > div.cerb-bot-chat-window-avatar IMG {
	width: 56px;
	border-radius: 28px;
	margin-top: 4px;
}

.cerb-bot-chat-window > div.cerb-bot-chat-window-header {
	text-align: center;
	background-color: rgb(75, 75, 75);
	color: white;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 10px 10px 0 0;
}

.cerb-bot-chat-window > div.cerb-bot-chat-window-close:after {
	content: '✖';
	color: white;
}

.cerb-bot-chat-window > div.cerb-bot-chat-window-convo {
	overflow:auto;
	position: absolute;
	top: 40px;
	bottom: 0px;
	width: 100%;
	padding: 10px 0 20px 0;
}

.cerb-bot-chat-window div.cerb-bot-chat-message {
	margin: 5px 10px;
}

.cerb-bot-chat-window div.cerb-bot-chat-message p {
	margin: 2px;
}

.cerb-bot-chat-window div.cerb-bot-chat-message ul, .cerb-bot-chat-window div.cerb-bot-chat-message ol {
	margin: 2px;
	padding-left: 25px;
}

.cerb-bot-chat-window div.cerb-bot-chat-message-emote {
	color:rgb(150,150,150);
}

.cerb-bot-chat-window .cerb-bot-chat-left {
	float:left;
	text-align:left;
}

.cerb-bot-chat-window .cerb-bot-chat-right {
	float:right;
	text-align:right;
}

.cerb-bot-chat-window div.cerb-bot-chat-message-bubble {
	border-radius:5px;
	display:inline-block;
	padding:10px;
	margin-bottom:1px;
	text-align:left;
}

.cerb-bot-chat-window div.cerb-bot-chat-message-bubble a {
	color: #6ea032;
}

.cerb-bot-chat-window > div.cerb-bot-chat-window-convo div.cerb-bot-chat-message.cerb-bot-chat-left > div.cerb-bot-chat-message-bubble {
	background-color:rgb(240,240,240);
	border:0;
	border-radius:12px 12px 12px 0;
	margin-left:5px;
}

.cerb-bot-chat-window > div.cerb-bot-chat-window-convo div.cerb-bot-chat-message.cerb-bot-chat-right > div.cerb-bot-chat-message-bubble {
	color:white;
	background-color:rgb(35,150,255);
	border:0;
	border-radius:12px 12px 0 12px;
}

.cerb-bot-chat-window > div.cerb-bot-chat-window-convo div.cerb-bot-chat-message-time {
	color:rgb(180,180,180);
}

.cerb-bot-chat-window div.cerb-bot-chat-window-input {
	display: none;
}

/* See: https://glennmccomb.com/articles/building-a-pure-css-animated-svg-spinner/ */

svg.cerb-spinner {
	animation: 2s linear infinite cerb-spinner-animation;
	display: inline-block;
	max-width: 32px;
	margin: 5px;
	vertical-align: middle;
	opacity: 1;
}

svg.cerb-spinner circle {
	animation: 1.4s ease-in-out infinite both cerb-spinner-circle-animation;
	fill: transparent;
	stroke: #2f3d4c;
	stroke-linecap: round;
	stroke-dasharray: 283;
	stroke-dashoffset: 280;
	stroke-width: 10px;
	transform-origin: 50% 50%;
}

@keyframes cerb-spinner-animation {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg)
	}
}

@keyframes cerb-spinner-circle-animation {
	0%,
	25% {
		stroke-dashoffset: 280;
		transform: rotate(0);
	}

	50%,
	75% {
		stroke-dashoffset: 75;
		transform: rotate(45deg);
	}

	100% {
		stroke-dashoffset: 280;
		transform: rotate(360deg);
	}
}

.cerb-bot-chat-window INPUT.cerb-bot-chat-input {
	width:94%;
	margin: 10px 0px 5px 3%;
	font-size:1em;
	padding:5px 0px;
	border-radius:5px;
	border:1px solid rgb(220,220,220);
}

.cerb-bot-chat-window TEXTAREA.cerb-bot-chat-input {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	width:94%;
	margin: 10px 0px 5px 3%;
	font-size:1em;
	padding:5px 0px;
	border-radius:5px;
	border:1px solid rgb(220,220,220);
}

.cerb-bot-chat-window BUTTON.cerb-bot-chat-button {
	color: white;
	padding: 5px;
	width: 94%;
	margin: 2px 2px 2px 3%;
	font-size: 1.25em;
	font-family: inherit;
	font-weight: bold;
	border: 0;
	vertical-align: middle;
	cursor: pointer;
	background-color: #2396FF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.cerb-bot-chat-window BUTTON.cerb-bot-chat-button:hover {
	opacity:0.8;
}

.cerb-bot-chat-window BUTTON.cerb-bot-chat-button-image {
	padding: 5px;
	margin: 2px;
	border: 0;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.cerb-bot-chat-window BUTTON.cerb-bot-chat-button-image:hover {
	opacity:0.8;
}

@media (max-width: 600px) {
	.cerb-bot-chat-window {
		width: 96%;
		left: 2%;
		right: 2%;
		margin: 0;
	}
}