<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.restapi</id>
	<name>Web Services API (JSON/XML)</name>
	<description>A RESTful JSON/XML interface for integrating Cerb with other applications and tools.</description>
	<author>Webgroup Media, LLC.</author>
	<version>9.5.4</version>
	<link>http://wiki.cerbweb.com/Features:Web_Services_API</link>
	<image>plugin.png</image>

	<!-- Requirements -->

	<requires>
		<app_version min="9.5" max="9.5.99" />
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="9.4" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="6.0.0-dev" revision="1" file="patches/6.0.0.php" />
		<patch version="8.2.0" revision="2" file="patches/8.2.0.php" />
		<patch version="9.0.0" revision="3" file="patches/9.0.0.php" />
	</patches>

	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="Extension_RestController" />
			<class name="IExtensionRestController" />
			<class name="Plugin_RestAPI" />
		</file>
		<file path="api/dao/webapi_credentials.php">
			<class name="Context_WebApiCredentials" />
			<class name="DAO_WebApiCredentials" />
			<class name="Model_WebApiCredentials" />
			<class name="SearchFields_WebApiCredentials" />
			<class name="View_WebApiCredentials" />
		</file>
	</class_loader>

	<!-- Extensions -->
	
	<extensions>

		<!-- Controllers -->
	
		<extension point="devblocks.controller">
			<id>rest.controller</id>
			<name>REST Controller</name>
			<class>
				<file>api/App.php</file>
				<name>Ch_RestFrontController</name>
			</class>
			<params>
				<param key="uri" value="rest" />
			</params>
		</extension>
		
		<!-- Context -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.webapi.credential</id>
			<name>Web Api Credentials</name>
			<class>
				<file>api/dao/webapi_credentials.php</file>
				<name>Context_WebApiCredentials</name>
			</class>
			<params>
				<param key="names">
					<value>
						<data key="api key" value="singular" />
						<data key="api keys" value="plural" />
						<data key="api_key" value="singular" />
						<data key="api_keys" value="plural" />
					</value>
				</param>
				<param key="alias" value="webapi_credentials" />
				<param key="dao_class" value="DAO_WebApiCredentials" />
				<param key="view_class" value="View_WebApiCredentials" />
				<param key="options">
					<value>
						<data key="cards" />
						<data key="comments" />
						<data key="custom_fields" />
						<data key="links" />
						<data key="search" />
						<data key="snippets" />
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
				<param key="acl">
					<value>
						<data key="comment" />
						<data key="export" />
					</value>
				</param>
			</params>
		</extension>
		
		<!-- Profiles -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>api.page.profiles.webapi_credentials</id>
			<name>WebApi Credentials Section</name>
			<class>
				<file>api/profiles/webapi_credentials.php</file>
				<name>PageSection_ProfilesWebApiCredentials</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="webapi_credentials" />
			</params>
		</extension>
		
		<!-- REST Controllers -->
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.activity_log</id>
			<name>Activity Log</name>
			<class>
				<file>api/rest/activity_log.php</file>
				<name>Rest_ActivityLog</name>
			</class>
			<params>
				<param key="uri" value="activity_log" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.addresses</id>
			<name>Addresses</name>
			<class>
				<file>api/rest/addresses.php</file>
				<name>ChRest_Addresses</name>
			</class>
			<params>
				<param key="uri" value="addresses" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.attachments</id>
			<name>Attachments</name>
			<class>
				<file>api/rest/attachments.php</file>
				<name>ChRest_Attachments</name>
			</class>
			<params>
				<param key="uri" value="attachments" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.calendars</id>
			<name>Calendars</name>
			<class>
				<file>api/rest/calendars.php</file>
				<name>ChRest_Calendars</name>
			</class>
			<params>
				<param key="uri" value="calendars" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.comments</id>
			<name>Comments</name>
			<class>
				<file>api/rest/comments.php</file>
				<name>ChRest_Comments</name>
			</class>
			<params>
				<param key="uri" value="comments" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.contacts</id>
			<name>Contacts</name>
			<class>
				<file>api/rest/contacts.php</file>
				<name>ChRest_Contacts</name>
			</class>
			<params>
				<param key="uri" value="contacts" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.context</id>
			<name>Contexts</name>
			<class>
				<file>api/rest/contexts.php</file>
				<name>ChRest_Contexts</name>
			</class>
			<params>
				<param key="uri" value="contexts" />
			</params>
		</extension>

		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.custom_fields</id>
			<name>Custom Fields</name>
			<class>
				<file>api/rest/custom_fields.php</file>
				<name>ChRest_CustomFields</name>
			</class>
			<params>
				<param key="uri" value="customfields" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.data</id>
			<name>Data</name>
			<class>
				<file>api/rest/data.php</file>
				<name>ChRest_Data</name>
			</class>
			<params>
				<param key="uri" value="data" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.groups</id>
			<name>Groups</name>
			<class>
				<file>api/rest/groups.php</file>
				<name>ChRest_Groups</name>
			</class>
			<params>
				<param key="uri" value="groups" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.mail_html_templates</id>
			<name>Mail HTML Templates</name>
			<class>
				<file>api/rest/mail_html_templates.php</file>
				<name>ChRest_MailHtmlTemplates</name>
			</class>
			<params>
				<param key="uri" value="mail_html_templates" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.messages</id>
			<name>Messages</name>
			<class>
				<file>api/rest/messages.php</file>
				<name>ChRest_Messages</name>
			</class>
			<params>
				<param key="uri" value="messages" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.notifications</id>
			<name>Notifications</name>
			<class>
				<file>api/rest/notifications.php</file>
				<name>ChRest_Notifications</name>
			</class>
			<params>
				<param key="uri" value="notifications" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.orgs</id>
			<name>Orgs</name>
			<class>
				<file>api/rest/orgs.php</file>
				<name>ChRest_Orgs</name>
			</class>
			<params>
				<param key="uri" value="orgs" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.packages</id>
			<name>Packages</name>
			<class>
				<file>api/rest/packages.php</file>
				<name>ChRest_Packages</name>
			</class>
			<params>
				<param key="uri" value="packages" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.parser</id>
			<name>Parser</name>
			<class>
				<file>api/rest/parser.php</file>
				<name>ChRest_Parser</name>
			</class>
			<params>
				<param key="uri" value="parser" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.records</id>
			<name>Records</name>
			<class>
				<file>api/rest/records.php</file>
				<name>ChRest_Records</name>
			</class>
			<params>
				<param key="uri" value="records" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.saved_searches</id>
			<name>Saved Searches</name>
			<class>
				<file>api/rest/saved_searches.php</file>
				<name>ChRest_SavedSearches</name>
			</class>
			<params>
				<param key="uri" value="saved_searches" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.snippets</id>
			<name>Snippets</name>
			<class>
				<file>api/rest/snippets.php</file>
				<name>ChRest_Snippets</name>
			</class>
			<params>
				<param key="uri" value="snippets" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.tasks</id>
			<name>Tasks</name>
			<class>
				<file>api/rest/tasks.php</file>
				<name>ChRest_Tasks</name>
			</class>
			<params>
				<param key="uri" value="tasks" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.tickets</id>
			<name>Tickets</name>
			<class>
				<file>api/rest/tickets.php</file>
				<name>ChRest_Tickets</name>
			</class>
			<params>
				<param key="uri" value="tickets" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.bots</id>
			<name>Bots</name>
			<class>
				<file>api/rest/va.php</file>
				<name>ChRest_Bots</name>
			</class>
			<params>
				<param key="uri" value="bots" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.workers</id>
			<name>Workers</name>
			<class>
				<file>api/rest/workers.php</file>
				<name>ChRest_Workers</name>
			</class>
			<params>
				<param key="uri" value="workers" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.workspaces</id>
			<name>Workspaces</name>
			<class>
				<file>api/rest/workspaces.php</file>
				<name>ChRest_Workspaces</name>
			</class>
			<params>
				<param key="uri" value="workspaces" />
			</params>
		</extension>
		
	</extensions>
</plugin>