<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.restapi</id>
	<name>Web Services API (JSON/XML) *EXPERIMENTAL*</name>
	<description>A RESTful JSON/XML interface for integrating Cerb5 with other applications and tools.</description>
	<author>WebGroup Media, LLC.</author>
	<version>6.0.0</version>
	<link>http://wiki.cerb5.com/wiki/Features:Web_Services_API</link>
	<image>plugin.png</image>

	<!-- Requirements -->

	<requires>
		<app_version min="6.0" max="6.0.99" />
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="6.0.0-dev" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="6.0.0-dev" revision="1" file="patches/6.0.0.php" />
	</patches>

	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="IExtensionRestController" />
			<class name="Plugin_RestAPI" />
		</file>
		<file path="api/dao/webapi_credentials.php">
			<class name="DAO_WebApiCredentials" />
			<class name="Model_WebApiCredentials" />
			<class name="SearchFields_WebApiCredentials" />
			<class name="View_WebApiCredentials" />
		</file>
	</class_loader>

	<!-- Extensions -->
	
	<extensions>

		<!-- Controllers -->
	
		<extension point="devblocks.controller">
			<id>rest.controller</id>
			<name>REST Controller</name>
			<class>
				<file>api/App.php</file>
				<name>Ch_RestFrontController</name>
			</class>
			<params>
				<param key="uri" value="rest" />
			</params>
		</extension>
		
		<extension point="cerberusweb.preferences.tab">
			<id>rest.preferences.tab.api</id>
			<name>API Preferences Tab</name>
			<class>
				<file>api/App.php</file>
				<name>Ch_RestPreferencesTab</name>
			</class>
			<params>
				<param key="uri" value="api" />
    			<param key="title" value="webapi.common.api_credentials" />
			</params>
		</extension>

		<!-- REST Controllers -->
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.addresses</id>
			<name>Addresses</name>
			<class>
				<file>api/rest/addresses.php</file>
				<name>ChRest_Addresses</name>
			</class>
			<params>
				<param key="uri" value="addresses" />
			</params>
		</extension>		
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.attachments</id>
			<name>Attachments</name>
			<class>
				<file>api/rest/attachments.php</file>
				<name>ChRest_Attachments</name>
			</class>
			<params>
				<param key="uri" value="attachments" />
			</params>
		</extension>		
		
        <extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.comments</id>
			<name>Comments</name>
			<class>
				<file>api/rest/comments.php</file>
				<name>ChRest_Comments</name>
			</class>
			<params>
				<param key="uri" value="comments" />
			</params>
		</extension>
		
        <extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.contactperson</id>
			<name>Contact Person</name>
			<class>
				<file>api/rest/contact_person.php</file>
				<name>ChRest_ContactPerson</name>
			</class>
			<params>
				<param key="uri" value="contacts" />
			</params>
		</extension>

        <extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.custom_fields</id>
			<name>Custom Fields</name>
			<class>
				<file>api/rest/custom_fields.php</file>
				<name>ChRest_CustomFields</name>
			</class>
			<params>
				<param key="uri" value="customfields" />
			</params>
		</extension>		
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.groups</id>
			<name>Groups</name>
			<class>
				<file>api/rest/groups.php</file>
				<name>ChRest_Groups</name>
			</class>
			<params>
				<param key="uri" value="groups" />
			</params>
		</extension>
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.messages</id>
			<name>Messages</name>
			<class>
				<file>api/rest/messages.php</file>
				<name>ChRest_Messages</name>
			</class>
			<params>
				<param key="uri" value="messages" />
			</params>
		</extension>		
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.notifications</id>
			<name>Notifications</name>
			<class>
				<file>api/rest/notifications.php</file>
				<name>ChRest_Notifications</name>
			</class>
			<params>
				<param key="uri" value="notifications" />
			</params>
		</extension>		
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.orgs</id>
			<name>Orgs</name>
			<class>
				<file>api/rest/orgs.php</file>
				<name>ChRest_Orgs</name>
			</class>
			<params>
				<param key="uri" value="orgs" />
			</params>
		</extension>		
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.parser</id>
			<name>Parser</name>
			<class>
				<file>api/rest/parser.php</file>
				<name>ChRest_Parser</name>
			</class>
			<params>
				<param key="uri" value="parser" />
			</params>
		</extension>		
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.tasks</id>
			<name>Tasks</name>
			<class>
				<file>api/rest/tasks.php</file>
				<name>ChRest_Tasks</name>
			</class>
			<params>
				<param key="uri" value="tasks" />
			</params>
		</extension>		
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.tickets</id>
			<name>Tickets</name>
			<class>
				<file>api/rest/tickets.php</file>
				<name>ChRest_Tickets</name>
			</class>
			<params>
				<param key="uri" value="tickets" />
			</params>
		</extension>		
		
		<extension point="cerberusweb.rest.controller">
			<id>cerberusweb.rest.controller.workers</id>
			<name>Workers</name>
			<class>
				<file>api/rest/workers.php</file>
				<name>ChRest_Workers</name>
			</class>
			<params>
				<param key="uri" value="workers" />
			</params>
		</extension>
		
	</extensions>
</plugin>