/* Elements */

body, td, form {
	color: rgb(80, 80, 80);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

b {
	font-weight: bold;
	color: rgb(80, 80, 80);
}

optgroup {
	font-style: normal;
	font-weight: bold;
	color: rgb(80, 80, 80);
}

a {
	color: rgb(80, 80, 80);
}

h1 {
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(0,150,0);
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(102, 102, 102);
	margin-top: 0px;
	margin-bottom: 0px;
}

form {
	margin: 0px;
}

/* See: http://www.longren.org/2006/09/27/wrapping-text-inside-pre-tags/ */
pre.emailbody {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	_white-space: pre; /* IE only hack to re-specify in addition to word-wrap */
	margin:0px;
}

button {
	background-image: url(bg_ltgray.jpg);
	background-repeat: repeat-x; 
	color: rgb(30, 30, 30);
	border: 1px solid rgb(150, 150, 150);
	background-color: rgb(209,209,209);
	margin-right:1px;
	vertical-align:middle;
}

button:hover {
	background-image: url(bg_blue.jpg);
	background-repeat: repeat-x;
	background-color: rgb(160,198,254);
	border: 1px solid rgb(36,111,223);
	cursor: hand;
}

button span {
	line-height:16px;
	vertical-align:top;
}

/* Menu */

#headerMenu {
	background-color: rgb(240, 240, 240);
	color: rgb(60, 60, 60);
}

#headerMenuSelected {
	background-image: url(bg_ltblue.jpg);
	background-repeat: repeat-x;
	background-color: rgb(134, 169, 227);
}

#headerMenuSelected, #headerMenuSelected a {
	color: rgb(255, 255, 255);
}

#headerSubMenu {
	width: 100%;
	background-color: rgb(134, 169, 227);
	color: rgb(255, 255, 255);
	font-size: 11px;
	margin-bottom: 5px;
}

#headerSubMenu a {
	color: rgb(255, 255, 255);
}

/* Worklists */

table.worklist {
	border: 1px solid rgb(0, 102, 204);
	background-image: url(bg_ltblue.jpg);
	background-repeat: repeat-x;
	background-color: rgb(140, 175, 229);
}

table.worklist td {
	padding: 3px;
	color: rgb(255, 255, 255);
}

table.worklist td a {
	color: rgb(255, 255, 255);
	font-weight: normal;
}

table.worklist td span.title {
	color: rgb(255, 255, 255);
	font-weight:bold;
	font-size:18px;
}

table.worklistBody th {
	background-color: rgb(200,200,200);
	padding-bottom:2px;
	text-align: left;
}

table.worklistBody th a {
	font-size: 12px;
	font-weight: bold;
	color: rgb(80,80,80);
}

table.worklistBody td {
	font-size:11px;
}

table.worklistBody td b.subject {
	font-size: 12px;
	font-weight: bold;
	color: rgb(80,80,80);
}

table.worklistBody td a.subject {
	font-size: 12px;
	font-weight: bold;
	color: rgb(80,80,80);
}
table.worklistBody tr.even {
	background-color:rgb(254,254,254); 
}

table.worklistBody tr.odd { 
	background-color:rgb(244,244,244); 
}

table.worklistBody tr.hover {
	background-color: rgb(255, 255, 206); 
}

/* Divs */

DIV.message_note {
	padding: 5px;
	background-image: url(bg_yellow.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	background-color: rgb(252, 242, 191);
	border: 2px dotted rgb(255, 193, 0);
}

DIV.message_note H3 {
	font-weight: bold;
	font-size: 18px;
	margin: 0px;
	color: rgb(102, 102, 102);
}

DIV.ticket_comment {
	padding: 5px;
	background-color: rgb(233, 241, 255);
	border: 2px dotted rgb(70, 150, 241);
}

DIV.block {
	padding: 5px;
	background-image: url(bg_block.jpg);
	background-repeat: repeat-x;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(180, 180, 180);
}

DIV.block H2 {
	font-weight: bold;
	font-size: 18px;
	margin: 0px;
	color: rgb(0,150,0);
}

DIV.block H3 {
	font-weight: bold;
	font-size: 18px;
	margin: 0px;
	color: rgb(85, 85, 85);
}

DIV.error {
	border: 1px solid rgb(180, 0, 0);
	background-color: rgb(255, 235, 235);
	color: rgb(180, 0, 0);
	font-weight: bold;
	margin: 10px;
	padding: 5px;
}

DIV.success {
	border: 1px solid rgb(0, 180, 0);
	background-color: rgb(235, 255, 235);
	color: rgb(0, 180, 0);
	font-weight: bold;
	margin: 10px;
	padding: 5px;
}

DIV.subtle {
	background-color: rgb(235, 255, 211);
	margin: 5px;
	padding: 5px;
}

DIV.subtle2 {
	background-color: rgb(239, 245, 255);
	margin: 5px;
	padding: 5px;
}

DIV.bubble {
	line-height:1.9em;
	white-space:nowrap;
	padding:0.2em;
	display:inline;
	color:rgb(74,110,158);
	background-color:rgb(232,242,254);
	border:1px solid rgb(197,219,236);	
}

DIV.bubble A {
	color:rgb(74,110,158);
	text-decoration:none;
}

DIV.bubble A:hover {
	text-decoration:underline;
}

/* Sprite container */

.cerb-sprite { 
	background:url(cerb_icons.png);
	background-repeat:no-repeat;
	background-position:top left;
	display:inline-block;
}
button span.cerb-sprite { display:inline-block; }

/* Sprites */

.sprite-add { background-position: 0 0; width: 16px; height: 16px; } 
.sprite-calendar { background-position: -26px 0; width: 16px; height: 16px; } 
.sprite-check { background-position: -52px 0; width: 16px; height: 16px; } 
.sprite-check_gray { background-position: -78px 0; width: 16px; height: 16px; } 
.sprite-clock { background-position: -104px 0; width: 16px; height: 16px; } 
.sprite-data_find { background-position: -130px 0; width: 16px; height: 16px; } 
.sprite-delete { background-position: -156px 0; width: 16px; height: 16px; } 
.sprite-delete2 { background-position: -182px 0; width: 16px; height: 16px; } 
.sprite-delete2_gray { background-position: -208px 0; width: 16px; height: 16px; } 
.sprite-delete_gray { background-position: -234px 0; width: 16px; height: 16px; } 
.sprite-document { background-position: -260px 0; width: 16px; height: 16px; } 
.sprite-document_edit { background-position: -286px 0; width: 16px; height: 16px; } 
.sprite-document_out { background-position: -312px 0; width: 16px; height: 16px; } 
.sprite-document_plain_yellow { background-position: -338px 0; width: 16px; height: 16px; } 
.sprite-documents { background-position: -364px 0; width: 16px; height: 16px; } 
.sprite-export { background-position: -390px 0; width: 16px; height: 16px; } 
.sprite-flag_white { background-position: -416px 0; width: 16px; height: 16px; } 
.sprite-folder { background-position: -442px 0; width: 16px; height: 16px; } 
.sprite-folder_add { background-position: -468px 0; width: 16px; height: 16px; } 
.sprite-folder_gear { background-position: -494px 0; width: 16px; height: 16px; } 
.sprite-folder_ok { background-position: -520px 0; width: 16px; height: 16px; } 
.sprite-folder_out { background-position: -546px 0; width: 16px; height: 16px; } 
.sprite-forbidden { background-position: -572px 0; width: 16px; height: 16px; } 
.sprite-funnel { background-position: -598px 0; width: 16px; height: 16px; } 
.sprite-gear { background-position: -624px 0; width: 16px; height: 16px; } 
.sprite-hand_paper { background-position: -650px 0; width: 16px; height: 16px; } 
.sprite-help { background-position: -676px 0; width: 16px; height: 16px; } 
.sprite-import { background-position: -702px 0; width: 16px; height: 16px; } 
.sprite-lock { background-position: -728px 0; width: 16px; height: 16px; } 
.sprite-logo_small { background-position: -754px 0; width: 100px; height: 41px; } 
.sprite-media_pause { background-position: -864px 0; width: 16px; height: 16px; } 
.sprite-media_play_green { background-position: -890px 0; width: 16px; height: 16px; } 
.sprite-media_stop_red { background-position: -916px 0; width: 16px; height: 16px; } 
.sprite-nav_down_left_green { background-position: -942px 0; width: 16px; height: 16px; } 
.sprite-printer { background-position: -968px 0; width: 16px; height: 16px; } 
.sprite-refresh { background-position: -994px 0; width: 16px; height: 16px; } 
.sprite-rss { background-position: -1020px 0; width: 16px; height: 16px; } 
.sprite-sort_ascending { background-position: -1046px 0; width: 16px; height: 16px; } 
.sprite-sort_descending { background-position: -1072px 0; width: 16px; height: 16px; } 
.sprite-spam { background-position: -1098px 0; width: 16px; height: 16px; } 
.sprite-stopwatch { background-position: -1124px 0; width: 16px; height: 16px; } 
.sprite-text_rich { background-position: -1150px 0; width: 16px; height: 16px; } 
.sprite-tree_cap { background-position: -1176px 0; width: 16px; height: 5px; } 
.sprite-warning { background-position: -1202px 0; width: 16px; height: 16px; } 
.sprite-warning_gray { background-position: -1228px 0; width: 16px; height: 16px; } 

/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	width:98%;
	margin:5px 0 5px 0;
}
.markItUpContainer  {
	/*font:11px Verdana, Arial, Helvetica, sans-serif;*/
}
.markItUpEditor {
	/*font:12px 'Courier New', Courier, monospace;*/
	padding:5px;
	width:98%;
	height:320px;
	clear:both; display:block;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFF;
	width:99.9%;
	height:300px;
	margin:5px 0;
	border:1px solid rgb(180,180,180);
}
.markItUpFooter {
	width:100%;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(markitup/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(markitup/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;	
	background:#FFF;
	border:1px solid #000;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #000;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#FFF url(markitup/submenu.png) no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px; 
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#000;
}

/* MarkItUp Markdown */
.markItUp .h1 a {
	background-image:url(markitup/toolbar/h1.png); 
}
.markItUp .h2 a {
	background-image:url(markitup/toolbar/h2.png); 
}
.markItUp .h3 a {
	background-image:url(markitup/toolbar/h3.png); 
}
.markItUp .h4 a {
	background-image:url(markitup/toolbar/h4.png); 
}
.markItUp .h5 a {
	background-image:url(markitup/toolbar/h5.png); 
}
.markItUp .h6 a {
	background-image:url(markitup/toolbar/h6.png); 
}

.markItUp .b a {
	background-image:url(markitup/toolbar/bold.png);
}
.markItUp .i a {
	background-image:url(markitup/toolbar/italic.png);
}
.markItUp .strike a {
	background-image:url(markitup/toolbar/stroke.png);
}

.markItUp .ul a {
	background-image:url(markitup/toolbar/list-bullet.png);
}
.markItUp .ol a {
	background-image:url(markitup/toolbar/list-numeric.png);
}
.markItUp .li a {
	background-image:url(markitup/toolbar/list-item.png);
}

.markItUp .img a {
	background-image:url(markitup/toolbar/picture.png); 
}
.markItUp .a a {
	background-image:url(markitup/toolbar/link.png);
}

.markItUp .blockquote a	{
	background-image:url(markitup/toolbar/quotes.png);
}

.markItUp .code a	{
	background-image:url(markitup/toolbar/code.png);
}

.markItUp .preview a {
	background-image:url(markitup/toolbar/document_view.png);
}

.markItUp .clean a {
	background-image:url(markitup/toolbar/clean.png);
}

.markItUp .p a {
	background-image:url(markitup/toolbar/paragraph.png);
}

/* jQueryUI (Redmond theme) */

.ui-widget-content { background: #fcfdfd none; }
.ui-widget-header { background: #5c9ccc none; }
.ui-state-default, .ui-widget-content .ui-state-default { background: rgb(232,242,254) none; font-weight: normal; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { background: #d0e5f5 none; }
.ui-state-active, .ui-widget-content .ui-state-active { background: #f5f8f9 none; font-weight: bold; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight { background: #fbec88 none; }
.ui-state-error, .ui-widget-content .ui-state-error { background: #fef1ec none; } 

.ui-tabs { border: 0px; padding: 0px; }
.ui-tabs .ui-tabs-panel { background: #ffffff none; padding: 0px; margin: 5px 0px; 0px; 0px; }
.ui-tabs .ui-tabs-nav { background: #ffffff none; border: none; border-bottom: 1px solid rgb(197,219,236); }
.ui-tabs .ui-tabs-nav li { margin: 0 0.2em 0 0; background: rgb(232,242,254) none; }
.ui-tabs .ui-tabs-nav li.ui-state-default a { color: rgb(74,110,158); }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0px; background: rgb(255,255,255) none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { color: rgb(74,110,158); font-weight:bold; }

.ui-dialog .ui-dialog-titlebar { background: rgb(162,198,234) url(bg_ltblue.jpg) repeat-x; border: 0px; font-size: 14px; }

/* jQuery Validation */

label.error { color: rgb(255,0,0); padding-left: .5em; vertical-align: top; }
