body, td {
	color: rgb(80, 80, 80);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

optgroup {
	font-style: normal;
	font-weight: bold;
	color: rgb(80, 80, 80);
}

a {
	color: rgb(102, 102, 102);
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: rgb(0, 102, 255);
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: rgb(102, 102, 102);
	margin-top: 0px;
	margin-bottom: 0px;
}

form {
	margin: 0px;
}

/* See: http://www.longren.org/2006/09/27/wrapping-text-inside-pre-tags/ */
pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	_white-space: pre; /* IE only hack to re-specify in addition to word-wrap */
}

button {
	background-image: url(bg_ltgray.jpg);
	background-repeat: repeat-x; 
	color: rgb(30, 30, 30);
	border: 1px solid rgb(150, 150, 150);
	background-color: rgb(209,209,209);
	margin-right:1px;
	vertical-align:middle;
}

button:hover {
	background-image: url(bg_blue.jpg);
	background-repeat: repeat-x;
	background-color: rgb(160,198,254);
	border: 1px solid rgb(36,111,223);
	cursor: hand;
}

button span {
	line-height:16px;
	vertical-align:top;
}

#headerMenu {
	background-color: rgb(240, 240, 240);
	color: rgb(60, 60, 60);
}

#headerMenuSelected {
	background-image: url(bg_ltblue.jpg);
	background-repeat: repeat-x;
	background-color: rgb(134, 169, 227);
}

#headerMenuSelected,#headerMenuSelected a {
	color: rgb(255, 255, 255);
}

#headerMenuLinkActive {
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-decoration: none;
}

#headerSubMenu {
	width: 100%;
	background-color: rgb(134, 169, 227);
	color: rgb(255, 255, 255);
	font-size: 11px;
	margin-bottom: 5px;
}

#headerSubMenu a {
	color: rgb(255, 255, 255);
}

.tableBlue {
	border: 1px solid rgb(0, 102, 204);
	background-color: rgb(240, 240, 255);
}

.tableThBlue {
	padding: 3px;
	background-image: url(bg_ltblue.jpg);
	background-repeat: repeat-x;
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(140, 175, 229);
}

.tableBg {
	background-color: rgb(255, 255, 255);
}

.tableThBlue th a {
	color: rgb(255, 255, 255);
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.tableTh th {
	border-right: 1px solid rgb(150, 150, 150);
	border-bottom: 1px solid rgb(50, 50, 50);
	background-color: rgb(200, 200, 200);
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.tableTh a {
	font-size: 12px;
	font-weight: bold;
	color: rgb(68, 68, 68);
	font-family: Arial, Helvetica, sans-serif;
}

.tableCellBg {
	background-color: rgb(247, 247, 255);
}

.tableRowBg {
	background-color: rgb(254, 254, 254);
}

.tableRowAltBg {
	background-color: rgb(244, 244, 244);
}

.tableRowHover {
	background-color: rgb(255, 255, 206);
}

.tableRowBg TD,.tableRowAltBg TD {
	font-size: 11px;
}

.tableThLink {
	color: rgb(255, 255, 255);
	font-size: 11px;
}

DIV.message_note {
	padding: 5px;
	background-image: url(bg_yellow.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	background-color: rgb(252, 242, 191);
	border: 2px dotted rgb(255, 193, 0);
}

DIV.message_note A {
	font-family: inherit;
}

DIV.message_note H3 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0px;
	color: rgb(102, 102, 102);
}

DIV.ticket_comment {
	padding: 5px;
	background-color: rgb(233, 241, 255);
	border: 2px dotted rgb(70, 150, 241);
}

DIV.ticket_comment A {
	font-family:inherit;
}

DIV.block {
	padding: 5px;
	background-image: url(bg_block.jpg);
	background-repeat: repeat-x;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(180,180,180);
}

DIV.block A {
	font-family:inherit;
}

DIV.block H2 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0px;
	color: rgb(0, 150, 0);
}

DIV.block H3 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0px;
	color: rgb(85, 85, 85);
}

DIV.error {
	border: 1px solid rgb(180, 0, 0);
	background-color: rgb(255, 235, 235);
	color: rgb(180, 0, 0);
	font-weight: bold;
	margin: 10px;
	padding: 5px;
}

DIV.success {
	border: 1px solid rgb(0, 180, 0);
	background-color: rgb(235, 255, 235);
	color: rgb(0, 180, 0);
	font-weight: bold;
	margin: 10px;
	padding: 5px;
}

DIV.subtle {
	background-color: rgb(235, 255, 211);
	margin: 5px;
	padding: 5px;
}

DIV.subtle2 {
	background-color: rgb(239, 245, 255);
	margin: 5px;
	padding: 5px;
}

/* Sprite containers */
.cerb-sprite { 
	background:url(sprites/cerb_icons.png);
	background-repeat:no-repeat;
	background-position:top left;
	display:inline-block;
}
button span.cerb-sprite { display:inline-block; }

/* Sprites */
.sprite-add { background-position: 0 0; width: 16px; height: 16px; } 
.sprite-calendar { background-position: -26px 0; width: 16px; height: 16px; } 
.sprite-check { background-position: -52px 0; width: 16px; height: 16px; } 
.sprite-check_gray { background-position: -78px 0; width: 16px; height: 16px; } 
.sprite-clock { background-position: -104px 0; width: 16px; height: 16px; } 
.sprite-data_find { background-position: -130px 0; width: 16px; height: 16px; } 
.sprite-delete { background-position: -156px 0; width: 16px; height: 16px; } 
.sprite-delete2 { background-position: -182px 0; width: 16px; height: 16px; } 
.sprite-delete2_gray { background-position: -208px 0; width: 16px; height: 16px; } 
.sprite-delete_gray { background-position: -234px 0; width: 16px; height: 16px; } 
.sprite-document { background-position: -260px 0; width: 16px; height: 16px; } 
.sprite-document_edit { background-position: -286px 0; width: 16px; height: 16px; } 
.sprite-document_out { background-position: -312px 0; width: 16px; height: 16px; } 
.sprite-document_plain_yellow { background-position: -338px 0; width: 16px; height: 16px; } 
.sprite-documents { background-position: -364px 0; width: 16px; height: 16px; } 
.sprite-export { background-position: -390px 0; width: 16px; height: 16px; } 
.sprite-flag_white { background-position: -416px 0; width: 16px; height: 16px; } 
.sprite-folder { background-position: -442px 0; width: 16px; height: 16px; } 
.sprite-folder_add { background-position: -468px 0; width: 16px; height: 16px; } 
.sprite-folder_gear { background-position: -494px 0; width: 16px; height: 16px; } 
.sprite-folder_ok { background-position: -520px 0; width: 16px; height: 16px; } 
.sprite-folder_out { background-position: -546px 0; width: 16px; height: 16px; } 
.sprite-forbidden { background-position: -572px 0; width: 16px; height: 16px; } 
.sprite-funnel { background-position: -598px 0; width: 16px; height: 16px; } 
.sprite-gear { background-position: -624px 0; width: 16px; height: 16px; } 
.sprite-hand_paper { background-position: -650px 0; width: 16px; height: 16px; } 
.sprite-help { background-position: -676px 0; width: 16px; height: 16px; } 
.sprite-import { background-position: -702px 0; width: 16px; height: 16px; } 
.sprite-lock { background-position: -728px 0; width: 16px; height: 16px; } 
.sprite-logo_small { background-position: -754px 0; width: 100px; height: 41px; } 
.sprite-media_pause { background-position: -864px 0; width: 16px; height: 16px; } 
.sprite-media_play_green { background-position: -890px 0; width: 16px; height: 16px; } 
.sprite-media_stop_red { background-position: -916px 0; width: 16px; height: 16px; } 
.sprite-nav_down_left_green { background-position: -942px 0; width: 16px; height: 16px; } 
.sprite-printer { background-position: -968px 0; width: 16px; height: 16px; } 
.sprite-refresh { background-position: -994px 0; width: 16px; height: 16px; } 
.sprite-rss { background-position: -1020px 0; width: 16px; height: 16px; } 
.sprite-sort_ascending { background-position: -1046px 0; width: 16px; height: 16px; } 
.sprite-sort_descending { background-position: -1072px 0; width: 16px; height: 16px; } 
.sprite-spam { background-position: -1098px 0; width: 16px; height: 16px; } 
.sprite-stopwatch { background-position: -1124px 0; width: 16px; height: 16px; } 
.sprite-text_rich { background-position: -1150px 0; width: 16px; height: 16px; } 
.sprite-tree_cap { background-position: -1176px 0; width: 16px; height: 5px; } 
.sprite-warning { background-position: -1202px 0; width: 16px; height: 16px; } 
.sprite-warning_gray { background-position: -1228px 0; width: 16px; height: 16px; } 

/* jQueryUI (Redmond theme) */
.ui-tabs { border: 0px; padding: 0px; }
.ui-tabs .ui-tabs-panel { padding: 1em; }
.ui-tabs .ui-tabs-nav { background: #ffffff none; border: none; border-bottom: 1px solid #c5dbec; }
.ui-tabs .ui-tabs-panel { background: #ffffff none; }
.ui-tabs .ui-tabs-nav li { margin: 0 0.2em -1px 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0px; background: #ffffff none; }

/* jQuery Validation */
label.error { color: rgb(255,0,0); padding-left: .5em; vertical-align: top; }

/* jQuery Autocomplete */
.ac_results { padding: 0px;	border: 1px solid black; background-color: white; overflow: hidden; z-index: 99999; }
.ac_results ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
.ac_results li { margin: 0px; padding: 2px 5px; cursor: default; display: block; font: menu; font-size: 12px; line-height: 16px; overflow: hidden; }
.ac_loading { background: white url('indicator.gif') right center no-repeat; }
.ac_odd { background-color: rgb(240, 240, 240); }
.ac_over { background-color: rgb(112, 168, 210); color: rgb(255, 255, 255); }
