<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.faq</id>
	<name>Cerberus Helpdesk FAQ</name>
	<description>FAQ (Frequently Asked Questions) page to provide ticket answers through content tagging.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	
	<extensions>
	
		<!-- Patch Containers -->
		
		<extension point="devblocks.patch.container">
			<id>faq.patches</id>
			<name>Cerberus Helpdesk FAQ Patches</name>
			<class>
				<file>patch.classes.php</file>
				<name>ChFaqPatchContainer</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Http Listeners -->
		
		<extension point="devblocks.listener.http">
			<id>faq.listeners.tour</id>
			<name>FAQ Tour</name>
			<class>
				<file>listeners.classes.php</file>
				<name>ChFaqTour</name>
			</class>
			<params>
			</params>
		</extension>
	
		<extension point="cerberusweb.page">
			<id>faq.page.faq</id>
			<name>FAQ Page</name>
			<class>
				<file>classes.php</file>
				<name>ChFaqPage</name>
			</class>
			<params>
				<param key="uri" value="faq" />
				<param key="title" value="Faq" />
				<param key="menutitle" value="Faq" />
			</params>
		</extension>
		
		<!-- Display Modules -->
		
		<extension point="cerberusweb.display.module">
			<id>faq.display.module.faq</id>
			<name>Fetch &amp; Retrieve Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayFaq</name>
			</class>
			<params>
				<param key="title" value="Fetch &amp; Retrieve&amp;trade; - Suggested FAQs" />
				<param key="icon" value="images/document.gif" />
			</params>
		</extension>

		<!-- Usermeet Apps -->
		
		<extension point="usermeet.app">
			<id>faq.app</id>
			<name>FAQ Community App</name>
			<class>
				<file>usermeet.classes.php</file>
				<name>ChFaqApp</name>
			</class>
			<params>
				<param key="uri" value="faq" />
			</params>
		</extension>
		
	</extensions>
</plugin>