<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.faq</id>
	<name>Cerberus Helpdesk FAQ</name>
	<description>A FAQ (Frequently Asked Questions) page to provide ticket answers through tagging.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	
	<mapping>
		<uri value="faq" extension_id="faq.page.faq" />
	</mapping>
	
	<extensions>
	
		<!-- Patch Containers -->
		<extension point="devblocks.patch.container">
			<id>faq.patches</id>
			<name>Cerberus Helpdesk FAQ Patches</name>
			<class>
				<file>patch.classes.php</file>
				<name>ChFaqPatchContainer</name>
			</class>
			<params>
			</params>
		</extension>
	
		<extension point="cerberusweb.page">
			<id>faq.page.faq</id>
			<name>FAQ Page</name>
			<class>
				<file>classes.php</file>
				<name>ChFaqPage</name>
			</class>
			<params>
				<param key="title" value="Faq" />
				<param key="menutitle" value="Faq" />
			</params>
		</extension>
		
		<extension point="cerberusweb.display.module">
			<id>faq.display.module.faq</id>
			<name>Fetch &amp; Retrieve Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayFaq</name>
			</class>
			<params>
				<param key="title" value="Fetch &amp; Retrieve&amp;trade; - Suggested FAQs" />
				<param key="icon" value="images/document.gif" />
			</params>
		</extension>
		
	</extensions>
</plugin>