<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>example.page</id>
	<name>[Example] Example Page</name>
	<description>This example plugins adds a new page to the helpdesk.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.0.0</version>
	<link>http://www.cerb5.com/</link>
	<!--<image>plugin.png</image>-->
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.3.2" />
	</dependencies>

	<!-- Extensions -->
 
	<extensions>

		<!-- Page -->
		
 		<extension point="cerberusweb.page">
			<id>example.page</id>
			<name>Example Page</name>
			<class>
				<file>api/App.php</file>
				<name>ExamplePage</name>
			</class>
			<params>
				<param key="uri" value="example" />
				<!-- NOTE: If 'menutitle' is blank then the page won't be included in the menu 
					but it will still be accessible by the 'uri' directly -->
				<param key="menutitle" value="example.page.common.example" />
			</params>
		</extension>
		
    </extensions> 
</plugin>
