<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.feedback</id>
	<name>[Cerb5] Feedback Capture</name>
	<description>Organically capture praise or criticism and share it with decision makers.  This adds a Feedback tab to the Activity page.  You can also capture feedback while reading e-mail by highlighting a quote and clicking 'more' in the toolbar.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/</link>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>
	
	<!-- Patches -->
	
	<patches>
		<patch version="4.1.0" revision="4" file="patches/4.1.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="C4_FeedbackEntryView" />
		</file>
	</class_loader>
	
	<acl>
		<priv id="feedback.actions.create" label="acl.feedback.actions.create" />
		<priv id="feedback.actions.update_all" label="acl.feedback.actions.update_all" />
		<priv id="feedback.actions.delete_all" label="acl.feedback.actions.delete_all" />
		<priv id="feedback.view.actions.export" label="acl.feedback.view.actions.export" />
	</acl>
	
	<extensions>
	
		<!-- Activity Tabs -->
		
		<extension point="cerberusweb.activity.tab">
			<id>feedback.activity.tab</id>
			<name>Feedback Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChFeedbackActivityTab</name>
			</class>
			<params>
				<param key="uri" value="feedback" />
				<param key="title" value="feedback.activity.tab" />
			</params>
		</extension>

		<!-- Ticket Message Tabs -->
			
		<extension point="cerberusweb.message.toolbaritem">
			<id>feedback.message.toolbaritem.feedback</id>
			<name>Ticket Message Toolbar Feedback Item</name>
			<class>
				<file>api/App.php</file>
				<name>ChFeedbackMessageToolbarFeedback</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Controllers -->

		<extension point="devblocks.controller">
			<id>feedback.controller</id>
			<name>Feedback Controller</name>
			<class>
				<file>api/App.php</file>
				<name>ChFeedbackController</name>
			</class>
			<params>
				<param key="uri" value="feedback" />
			</params>
		</extension>
		
		<!-- Custom Field Source -->
		 
		<extension point="cerberusweb.fields.source">
			<id>feedback.fields.source.feedback_entry</id>
			<name>Feedback</name>
			<class>
				<file>api/App.php</file>
				<name>ChCustomFieldSource_FeedbackEntry</name>
			</class>
			<params>
			</params>
		</extension>
		 
		<!-- Workspace Sources -->
		
		<extension point="cerberusweb.workspace.source">
			<id>feedback.workspace.source.feedback_entry</id>
			<name>Feedback</name>
			<class>
				<file>api/App.php</file>
				<name>ChWorkspaceSource_FeedbackEntry</name>
			</class>
			<params>
				<param key="view_class" value="C4_FeedbackEntryView" />
			</params>
		</extension>
		 
	</extensions>
</plugin>