<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.feedback</id>
	<name>[Cerb5] Feedback Capture</name>
	<description>Organically capture praise or criticism and share it with decision makers.  This adds a Feedback tab to the Activity page.  You can also capture feedback while reading e-mail by highlighting a quote and clicking 'more' in the toolbar.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb5.com/wiki/Features:Feedback_Capture</link>
	<image>images/plugin.png</image>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>
	
	<!-- Patches -->
	
	<patches>
		<patch version="4.1.0" revision="4" file="patches/4.1.0.php" />
		<patch version="5.1.0-dev" revision="5" file="patches/5.1.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="C4_FeedbackEntryView" />
			<class name="DAO_FeedbackEntry" />
			<class name="Model_FeedbackEntry" />
			<class name="SearchFields_FeedbackEntry" />
		</file>
	</class_loader>
	
	<acl>
		<priv id="feedback.actions.create" label="acl.feedback.actions.create" />
		<priv id="feedback.actions.update_all" label="acl.feedback.actions.update_all" />
		<priv id="feedback.actions.delete_all" label="acl.feedback.actions.delete_all" />
		<priv id="feedback.view.actions.export" label="acl.feedback.view.actions.export" />
	</acl>
	
	<extensions>
	
		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.feedback</id>
			<name>Feedback</name>
			<class>
				<file>api/App.php</file>
				<name>Context_Feedback</name>
			</class>
			<params>
				<param key="view_class" value="View_FeedbackEntry" />
				<param key="options">
					<value>
						<!--<data key="create" />-->
						<!--<data key="find" />-->
						<data key="snippets" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Activity Tabs -->
		
		<extension point="cerberusweb.activity.tab">
			<id>feedback.activity.tab</id>
			<name>Feedback Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChFeedbackActivityTab</name>
			</class>
			<params>
				<param key="uri" value="feedback" />
				<param key="title" value="feedback.activity.tab" />
			</params>
		</extension>

		<!-- Ticket Message Tabs -->
			
		<extension point="cerberusweb.message.toolbaritem">
			<id>feedback.message.toolbaritem.feedback</id>
			<name>Ticket Message Toolbar Feedback Item</name>
			<class>
				<file>api/App.php</file>
				<name>ChFeedbackMessageToolbarFeedback</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Controllers -->

		<extension point="devblocks.controller">
			<id>feedback.controller</id>
			<name>Feedback Controller</name>
			<class>
				<file>api/App.php</file>
				<name>ChFeedbackController</name>
			</class>
			<params>
				<param key="uri" value="feedback" />
			</params>
		</extension>
		
		<!-- REST Controllers -->
		
		<extension point="cerberusweb.rest.controller">
			<id>feedback.rest.controller.feedback</id>
			<name>Feedback</name>
			<class>
				<file>api/rest/feedback.php</file>
				<name>ChRest_Feedback</name>
			</class>
			<params>
				<param key="uri" value="feedback" />
			</params>
		</extension>		
		 
	</extensions>
</plugin>