<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.core</id>
	<name>Cerberus Helpdesk Core</name>
	<description>The core functionality of Cerberus Helpdesk.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	
	<!-- 
	<requires>
		<plugin id="plugin.core.id" version=">= 1.0" />
	</requires>
	 -->
	
	<mapping>
		<uri value="login" extension_id="core.module.signin" />
		<uri value="tickets" extension_id="core.module.tickets" />
		<uri value="display" extension_id="core.module.display" />
		<uri value="config" extension_id="core.module.configuration" />
		<uri value="preferences" extension_id="core.module.preferences" />
		<uri value="files" extension_id="core.module.files" />
	</mapping>
	
	<extensions>

		<!-- Patch Containers -->
		<extension point="devblocks.patch.container">
			<id>core.patches</id>
			<name>Cerberus Helpdesk Core Patches</name>
			<class>
				<file>patch.classes.php</file>
				<name>ChCorePatchContainer</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Page Modules -->

		<extension point="cerberusweb.module">
			<id>core.module.tickets</id>
			<name>Tickets Module</name>
			<class>
				<file>classes.php</file>
				<name>ChTicketsModule</name>
			</class>
			<params>
				<param key="title" value="Tickets" />
				<param key="menutitle" value="Tickets" />
				<!--<param key="summary" value="support resources" />-->
			</params>
		</extension>

		<extension point="cerberusweb.module">
			<id>core.module.display</id>
			<name>Display Ticket Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayModule</name>
			</class>
			<params>
				<param key="title" value="Display" />
				<param key="menutitle" value="" />
				<!--<param key="summary" value="support resources" />-->
			</params>
		</extension>

		<extension point="cerberusweb.module">
			<id>core.module.files</id>
			<name>Files Module</name>
			<class>
				<file>classes.php</file>
				<name>ChFilesModule</name>
			</class>
			<params>
				<param key="title" value="" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.module">
			<id>core.module.signin</id>
			<name>Signin Module</name>
			<class>
				<file>classes.php</file>
				<name>ChSignInModule</name>
			</class>
			<params>
				<param key="title" value="Sign in" />
			</params>
		</extension>

		<extension point="cerberusweb.module">
			<id>core.module.configuration</id>
			<name>Configuration Module</name>
			<class>
				<file>classes.php</file>
				<name>ChConfigurationModule</name>
			</class>
			<params>
				<param key="title" value="Configuration" />
				<param key="menutitle" value="Configuration" />
			</params>
		</extension>

		<extension point="cerberusweb.module">
			<id>core.module.preferences</id>
			<name>Preferences Module</name>
			<class>
				<file>classes.php</file>
				<name>ChPreferencesModule</name>
			</class>
			<params>
				<param key="title" value="Preferences" />
			</params>
		</extension>
		
		<!-- Display Ticket Modules -->
		
		<extension point="cerberusweb.display.module">
			<id>core.display.module.workflow</id>
			<name>Ticket Workflow Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketWorkflow</name>
			</class>
			<params>
				<param key="title" value="Workflow" />
				<param key="icon" value="images/bookmark.gif" />
			</params>
		</extension>

		<extension point="cerberusweb.display.module">
			<id>core.display.module.history</id>
			<name>Ticket History Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketHistory</name>
			</class>
			<params>
				<param key="title" value="Requester Ticket History" />
				<param key="icon" value="images/scroll_view.gif" />
			</params>
		</extension>
		
		<extension point="cerberusweb.display.module">
			<id>core.display.module.log</id>
			<name>Ticket Log Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketLog</name>
			</class>
			<params>
				<param key="title" value="Audit Log" />
				<param key="icon" value="images/document_info.gif" />
			</params>
		</extension>

		<extension point="cerberusweb.display.module">
			<id>core.display.module.conversation</id>
			<name>Ticket Conversation Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketConversation</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.display.module">
			<id>core.display.module.fields</id>
			<name>Ticket Custom Fields Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketFields</name>
			</class>
			<params>
				<param key="title" value="Custom Fields" />
				<param key="icon" value="images/form_green.gif" />
			</params>
		</extension>
		
		<!--  Login Extensions -->
		
		<extension point="cerberusweb.login">
			<id>login.default</id>
			<name>Default Login Module</name>
			<class>
				<file>login.classes.php</file>
				<name>DefaultLoginModule</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.login">
			<id>login.ldap</id>
			<name>LDAP Login Module</name>
			<class>
				<file>login.classes.php</file>
				<name>LDAPLoginModule</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Cron Extensions -->
		
		<extension point="cerberusweb.cron">
			<id>cron.pop3</id>
			<name>Default POP3 Module</name>
			<class>
				<file>cron.classes.php</file>
				<name>Pop3Module</name>
			</class>
			<params>
			</params>
		</extension>		
		
	</extensions>
</plugin>