<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.core</id>
	<name>Cerberus Helpdesk</name>
	<description>The core functionality of Cerberus Helpdesk.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/New_Changes</link>
	<class>
		<file>classes.php</file>
		<name>ChCorePlugin</name>
	</class>
	
	<!-- 
	<requires>
		<plugin id="plugin.core.id" version=">= 1.0" />
	</requires>
	 -->

	<!-- 
	<extension-points>
		<point id=""></point>
	</extension-points>
	-->
	
	<!-- Event Points -->

	<event_points>
		<event id="address.peek.saved">
			<name>Address Peek Saved</name>
			<param key="address_id" />
			<param key="changed_fields" />
		</event>
		<event id="bucket.delete">
			<name>Bucket Delete</name>
			<param key="bucket_ids" />
		</event>
		<event id="cron.heartbeat">
			<name>Heartbeat</name>
		</event>
		<event id="cron.maint">
			<name>Maintenance</name>
		</event>
		<event id="group.delete">
			<name>Group Delete</name>
			<param key="group_ids" />
		</event>
		<event id="ticket.merge">
			<name>Ticket Merge</name>
			<param key="new_ticket_id" />
			<param key="old_ticket_ids" />
		</event>
		<event id="ticket.property.pre_change">
			<name>Ticket Property Pre-Change</name>
			<param key="ticket_ids" />
			<param key="changed_fields" />
		</event>
		<event id="ticket.property.post_change">
			<name>Ticket Property Post-Change</name>
			<param key="ticket_ids" />
			<param key="changed_fields" />
		</event>
		<event id="ticket.reply.inbound">
			<name>Ticket Inbound Reply</name>
			<param key="ticket_id" />
			<param key="message_id" />
		</event>
		<event id="ticket.reply.outbound">
			<name>Ticket Outbound Reply</name>
			<param key="ticket_id" />
			<param key="message_id" />
			<param key="worker_id" />
		</event>
		<event id="worker.delete">
			<name>Worker Delete</name>
			<param key="worker_ids" />
		</event>
	</event_points>

	<!-- Permissions -->

	<acl>
		<!-- Addy Book -->
		<priv id="core.addybook" label="acl.core.addybook" />
		<priv id="core.addybook.view.actions.export" label="acl.core.addybook.view.actions.export" />

		<!-- Display Ticket -->
		<priv id="core.display.actions.attachments.download" label="acl.core.display.actions.attachments.download" />
		<priv id="core.display.actions.comment" label="acl.core.display.actions.comment" />
		<priv id="core.display.actions.forward" label="acl.core.display.actions.forward" />
		<priv id="core.display.actions.note" label="acl.core.display.actions.note" />
		<priv id="core.display.actions.reply" label="acl.core.display.actions.reply" />
		<priv id="core.display.actions.split" label="acl.core.display.actions.split" />

		<!-- KB -->
		<priv id="core.kb" label="acl.core.kb" />

		<!-- Mail page -->
		<priv id="core.mail.actions.auto_refresh" label="acl.core.mail.actions.auto_refresh" />
		<priv id="core.mail.log_ticket" label="acl.core.mail.log_ticket" />
		<priv id="core.mail.overview" label="acl.core.mail.overview" />
		<priv id="core.mail.search" label="acl.core.mail.search" />
		<priv id="core.mail.send" label="acl.core.mail.send" />

		<!-- RSS -->
		<priv id="core.rss" label="acl.core.rss" />

		<!-- Tickets -->
		<priv id="core.ticket.actions.assign" label="acl.core.ticket.actions.assign" />
		<priv id="core.ticket.actions.close" label="acl.core.ticket.actions.close" />
		<priv id="core.ticket.actions.delete" label="acl.core.ticket.actions.delete" />
		<priv id="core.ticket.actions.move" label="acl.core.ticket.actions.move" />
		<priv id="core.ticket.actions.spam" label="acl.core.ticket.actions.spam" />
		<priv id="core.ticket.view.actions.bulk_update" label="acl.core.ticket.view.actions.bulk_update" />
		<priv id="core.ticket.view.actions.export" label="acl.core.ticket.view.actions.export" />
		<priv id="core.ticket.view.actions.merge" label="acl.core.ticket.view.actions.merge" />
		<priv id="core.ticket.view.actions.pile_sort" label="acl.core.ticket.view.actions.pile_sort" />
	</acl>

	<!-- Extensions -->

	<extensions>

		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>cerberusweb.listeners.event</id>
			<name>Cerberus Helpdesk Event Listener</name>
			<class>
				<file>listeners.classes.php</file>
				<name>ChCoreEventListener</name>
			</class>
			<params>
				<!-- Global Event Listener -->
			</params>
		</extension>
 
		<!-- Controllers -->
		
		<extension point="devblocks.controller">
			<id>core.controller.rss</id>
			<name>RSS Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChRssController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.internal</id>
			<name>Internal Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChInternalController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.print</id>
			<name>Print Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChPrintController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.update</id>
			<name>Update/Patch Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChUpdateController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.debug</id>
			<name>Debug Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChDebugController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.files</id>
			<name>Files Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChFilesController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.cron</id>
			<name>Scheduled Tasks (Cron) Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChCronController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.page</id>
			<name>Cerberus Helpdesk Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChPageController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.notification</id>
			<name>Notification Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChNotificationController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.tasks</id>
			<name>Tasks Controller</name>
			<class>
				<file>api/controllers/tasks.php</file>
				<name>ChTasksController</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Translations -->
		
		<extension point="devblocks.i18n.strings">
			<id>core.translations</id>
			<name>Cerberus Helpdesk Strings</name>
			<class>
				<file>classes.php</file>
				<name>ChTranslations</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Patch Containers -->
		
		<extension point="devblocks.patch.container">
			<id>core.patches</id>
			<name>Cerberus Helpdesk Patches</name>
			<class>
				<file>patch.classes.php</file>
				<name>ChCorePatchContainer</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Http Listeners -->
		
		<extension point="devblocks.listener.http">
			<id>core.listeners.tour</id>
			<name>Core Helpdesk Tour</name>
			<class>
				<file>listeners.classes.php</file>
				<name>ChCoreTour</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Pages -->

		<extension point="cerberusweb.page">
			<id>core.page.welcome</id>
			<name>Welcome Page</name>
			<class>
				<file>classes.php</file>
				<name>ChWelcomePage</name>
			</class>
			<params>
				<param key="uri" value="welcome" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.home</id>
			<name>Home Page</name>
			<class>
				<file>classes.php</file>
				<name>ChHomePage</name>
			</class>
			<params>
				<param key="uri" value="home" />
				<param key="menutitle" value="core.menu.home" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.tickets</id>
			<name>Mail Page</name>
			<class>
				<file>classes.php</file>
				<name>ChTicketsPage</name>
			</class>
			<params>
				<param key="uri" value="tickets" />
				<param key="menutitle" value="core.menu.mail" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.activity</id>
			<name>Activity Page</name>
			<class>
				<file>classes.php</file>
				<name>ChActivityPage</name>
			</class>
			<params>
				<param key="uri" value="activity" />
				<param key="menutitle" value="core.menu.activity" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.kb</id>
			<name>Knowledgebase Page</name>
			<class>
				<file>classes.php</file>
				<name>ChKbPage</name>
			</class>
			<params>
				<param key="uri" value="kb" />
				<param key="menutitle" value="core.menu.knowledgebase" />
				<param key="acl" value="core.kb" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.groups</id>
			<name>Groups Page</name>
			<class>
				<file>classes.php</file>
				<name>ChGroupsPage</name>
			</class>
			<params>
				<param key="uri" value="groups" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.contacts</id>
			<name>Contacts Page</name>
			<class>
				<file>classes.php</file>
				<name>ChContactsPage</name>
			</class>
			<params>
				<param key="uri" value="contacts" />
				<param key="menutitle" value="core.menu.address_book" />
				<param key="acl" value="core.addybook" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.display</id>
			<name>Display Ticket Page</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayPage</name>
			</class>
			<params>
				<param key="uri" value="display" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.signin</id>
			<name>Signin Page</name>
			<class>
				<file>classes.php</file>
				<name>ChSignInPage</name>
			</class>
			<params>
				<param key="uri" value="login" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.configuration</id>
			<name>Configuration Page</name>
			<class>
				<file>classes.php</file>
				<name>ChConfigurationPage</name>
			</class>
			<params>
				<param key="uri" value="config" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.preferences</id>
			<name>Preferences Page</name>
			<class>
				<file>classes.php</file>
				<name>ChPreferencesPage</name>
			</class>
			<params>
				<param key="uri" value="preferences" />
			</params>
		</extension>
		
		<!-- Activity Tabs -->
		
		<extension point="cerberusweb.activity.tab">
			<id>core.activity.tab.tasks</id>
			<name>Tasks Tab</name>
			<class>
				<file>api/controllers/tasks.php</file>
				<name>ChTasksActivityTab</name>
			</class>
			<params>
				<param key="uri" value="tasks" />
				<param key="title" value="activity.tab.tasks" />
			</params>
		</extension>
		
		<!--  Login Extensions -->

		<extension point="cerberusweb.login">
			<id>login.default</id>
			<name>Default Login Module</name>
			<class>
				<file>login.classes.php</file>
				<name>DefaultLoginModule</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="cerberusweb.login">
			<id>login.ldap</id>
			<name>LDAP Login Module</name>
			<class>
				<file>login.classes.php</file>
				<name>LDAPLoginModule</name>
			</class>
			<params>
			</params>
		</extension>
		 
		<!-- Cron Extensions -->
		
		<extension point="cerberusweb.cron">
			<id>cron.pop3</id>
			<name>POP3 / IMAP E-Mail Importing</name>
			<class>
				<file>cron.classes.php</file>
				<name>Pop3Cron</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.cron">
			<id>cron.parser</id>
			<name>Inbound E-Mail Processing</name>
			<class>
				<file>cron.classes.php</file>
				<name>ParseCron</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.cron">
			<id>cron.maint</id>
			<name>Maintenance</name>
			<class>
				<file>cron.classes.php</file>
				<name>MaintCron</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.cron">
			<id>cron.heartbeat</id>
			<name>Heartbeat</name>
			<class>
				<file>cron.classes.php</file>
				<name>HeartbeatCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.cron">
			<id>cron.import</id>
			<name>Background Importing and Synchronization</name>
			<class>
				<file>cron.classes.php</file>
				<name>ImportCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Custom Field Sources -->
		
		<extension point="cerberusweb.fields.source">
			<id>cerberusweb.fields.source.address</id>
			<name>Address</name>
			<class>
				<file>classes.php</file>
				<name>ChCustomFieldSource_Address</name>
			</class>
			<params>
			</params>
		</extension>
				
		<extension point="cerberusweb.fields.source">
			<id>cerberusweb.fields.source.org</id>
			<name>Organization</name>
			<class>
				<file>classes.php</file>
				<name>ChCustomFieldSource_Org</name>
			</class>
			<params>
			</params>
		</extension>
				
		<extension point="cerberusweb.fields.source">
			<id>cerberusweb.fields.source.task</id>
			<name>Task</name>
			<class>
				<file>classes.php</file>
				<name>ChCustomFieldSource_Task</name>
			</class>
			<params>
			</params>
		</extension>
				
		<extension point="cerberusweb.fields.source">
			<id>cerberusweb.fields.source.ticket</id>
			<name>Ticket</name>
			<class>
				<file>classes.php</file>
				<name>ChCustomFieldSource_Ticket</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<!-- Notes Sources -->
		
		<extension point="cerberusweb.notes.source">
			<id>cerberusweb.notes.source.org</id>
			<name>Organization</name>
			<class>
				<file>classes.php</file>
				<name>ChNotesSource_Org</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Workspace Sources -->
		
		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.address</id>
			<name>Addresses</name>
			<class>
				<file>classes.php</file>
				<name>ChWorkspaceSource_Address</name>
			</class>
			<params>
				<param key="view_class" value="C4_AddressView" />
			</params>
		</extension>

		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.org</id>
			<name>Organizations</name>
			<class>
				<file>classes.php</file>
				<name>ChWorkspaceSource_Org</name>
			</class>
			<params>
				<param key="view_class" value="C4_ContactOrgView" />
			</params>
		</extension>
		
		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.task</id>
			<name>Tasks</name>
			<class>
				<file>classes.php</file>
				<name>ChWorkspaceSource_Task</name>
			</class>
			<params>
				<param key="view_class" value="C4_TaskView" />
			</params>
		</extension>
		
		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.ticket</id>
			<name>Tickets</name>
			<class>
				<file>classes.php</file>
				<name>ChWorkspaceSource_Ticket</name>
			</class>
			<params>
				<param key="view_class" value="C4_TicketView" />
			</params>
		</extension>
		
		<!-- RSS Sources -->
		
		<extension point="cerberusweb.rss.source">
			<id>core.rss.source.notification</id>
			<name>Notifications RSS</name>
			<class>
				<file>classes.php</file>
				<name>ChRssSource_Notification</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.rss.source">
			<id>core.rss.source.task</id>
			<name>Tasks RSS</name>
			<class>
				<file>classes.php</file>
				<name>ChRssSource_Task</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.rss.source">
			<id>core.rss.source.ticket</id>
			<name>Tickets RSS</name>
			<class>
				<file>classes.php</file>
				<name>ChRssSource_Ticket</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<!-- Task Sources -->
		
		<extension point="cerberusweb.task.source">
			<id>cerberusweb.tasks.org</id>
			<name>Organization Task</name>
			<class>
				<file>classes.php</file>
				<name>ChTaskSource_Org</name>
			</class>
			<params>
			</params>
		</extension>		
		
		<extension point="cerberusweb.task.source">
			<id>cerberusweb.tasks.ticket</id>
			<name>Ticket Task</name>
			<class>
				<file>classes.php</file>
				<name>ChTaskSource_Ticket</name>
			</class>
			<params>
			</params>
		</extension>		
		
	</extensions>
</plugin>