<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.core</id>
	<name>Cerberus Helpdesk Core</name>
	<description>The core functionality of Cerberus Helpdesk.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	
	<!-- 
	<requires>
		<plugin id="plugin.core.id" version=">= 1.0" />
	</requires>
	 -->

	<!-- 
	<extension-points>
		<point id=""></point>
	</extension-points>
	-->

	<extensions>

		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>core.listeners.event</id>
			<name>Notifications Event Listener</name>
			<class>
				<file>listeners.classes.php</file>
				<name>ChMasterNotificationListener</name>
			</class>
			<params>
				<!-- Global Listener -->
			</params>
		</extension>

		<!-- 
		<extension point="devblocks.listener.event">
			<id>cerberusweb.listeners.event</id>
			<name>Cerberus Helpdesk Event Listener</name>
			<class>
				<file>listeners.classes.php</file>
				<name>ChCoreEventListener</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="event.name" />
					</value>
				</param>
			</params>
		</extension>
		-->
 
		<!-- Routers -->
		
		<extension point="devblocks.router">
			<id>core.router</id>
			<name>Cerberus Helpdesk Router</name>
			<class>
				<file>classes.php</file>
				<name>ChCoreRouter</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Controllers -->
		
		<extension point="devblocks.controller">
			<id>core.controller.tests</id>
			<name>Unit Testing Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChTestsController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.files</id>
			<name>Files Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChFilesController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.cron</id>
			<name>Scheduled Tasks (Cron) Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChCronController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.page</id>
			<name>Cerberus Helpdesk Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChPageController</name>
			</class>
			<params>
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.notification</id>
			<name>Notification Controller</name>
			<class>
				<file>classes.php</file>
				<name>ChNotificationController</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Translations -->
		
		<extension point="devblocks.i18n.strings">
			<id>core.translations</id>
			<name>Cerberus Helpdesk Strings</name>
			<class>
				<file>classes.php</file>
				<name>ChTranslations</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Patch Containers -->
		
		<extension point="devblocks.patch.container">
			<id>core.patches</id>
			<name>Cerberus Helpdesk Patches</name>
			<class>
				<file>patch.classes.php</file>
				<name>ChCorePatchContainer</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Http Listeners -->
		
		<extension point="devblocks.listener.http">
			<id>core.listeners.tour</id>
			<name>Core Helpdesk Tour</name>
			<class>
				<file>listeners.classes.php</file>
				<name>ChCoreTour</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Pages -->

		<extension point="cerberusweb.page">
			<id>core.page.welcome</id>
			<name>Welcome Page</name>
			<class>
				<file>classes.php</file>
				<name>ChWelcomePage</name>
			</class>
			<params>
				<param key="uri" value="welcome" />
				<param key="title" value="" />
				<param key="menutitle" value="" />
				<!--<param key="summary" value="support resources" />-->
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.tickets</id>
			<name>Tickets Page</name>
			<class>
				<file>classes.php</file>
				<name>ChTicketsPage</name>
			</class>
			<params>
				<param key="uri" value="tickets" />
				<param key="title" value="Tickets" />
				<param key="menutitle" value="Tickets" />
				<!--<param key="summary" value="support resources" />-->
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.display</id>
			<name>Display Ticket Page</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayPage</name>
			</class>
			<params>
				<param key="uri" value="display" />
				<param key="title" value="Display" />
				<param key="menutitle" value="" />
				<!--<param key="summary" value="support resources" />-->
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.signin</id>
			<name>Signin Page</name>
			<class>
				<file>classes.php</file>
				<name>ChSignInPage</name>
			</class>
			<params>
				<param key="uri" value="login" />
				<param key="title" value="Sign in" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.configuration</id>
			<name>Configuration Page</name>
			<class>
				<file>classes.php</file>
				<name>ChConfigurationPage</name>
			</class>
			<params>
				<param key="uri" value="config" />
				<param key="title" value="Configuration" />
				<param key="menutitle" value="Configuration" />
			</params>
		</extension>

		<extension point="cerberusweb.page">
			<id>core.page.preferences</id>
			<name>Preferences Page</name>
			<class>
				<file>classes.php</file>
				<name>ChPreferencesPage</name>
			</class>
			<params>
				<param key="uri" value="preferences" />
				<param key="title" value="Preferences" />
			</params>
		</extension>
		
		<!-- Display Ticket Modules -->
		
		<extension point="cerberusweb.display.module">
			<id>core.display.module.tasks</id>
			<name>Ticket Tasks Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketTasks</name>
			</class>
			<params>
				<param key="title" value="Tasks" />
				<param key="icon" value="images/hand_paper.gif" />
			</params>
		</extension>

		<extension point="cerberusweb.display.module">
			<id>core.display.module.history</id>
			<name>Ticket History Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketHistory</name>
			</class>
			<params>
				<param key="title" value="Requester Ticket History" />
				<param key="icon" value="images/scroll_view.gif" />
			</params>
		</extension>
		
		<extension point="cerberusweb.display.module">
			<id>core.display.module.log</id>
			<name>Ticket Log Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketLog</name>
			</class>
			<params>
				<param key="title" value="Audit Log" />
				<param key="icon" value="images/document_info.gif" />
			</params>
		</extension>

		<extension point="cerberusweb.display.module">
			<id>core.display.module.conversation</id>
			<name>Ticket Conversation Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketConversation</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.display.module">
			<id>core.display.module.fields</id>
			<name>Ticket Custom Fields Display Module</name>
			<class>
				<file>classes.php</file>
				<name>ChDisplayTicketFields</name>
			</class>
			<params>
				<param key="title" value="Custom Fields" />
				<param key="icon" value="images/form_green.gif" />
			</params>
		</extension>
		
		<!--  Login Extensions -->
		
		<extension point="cerberusweb.login">
			<id>login.default</id>
			<name>Default Login Module</name>
			<class>
				<file>login.classes.php</file>
				<name>DefaultLoginModule</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- 
		<extension point="cerberusweb.login">
			<id>login.ldap</id>
			<name>LDAP Login Module</name>
			<class>
				<file>login.classes.php</file>
				<name>LDAPLoginModule</name>
			</class>
			<params>
			</params>
		</extension>
		-->		
		 
		<!-- Cron Extensions -->
		
		<extension point="cerberusweb.cron">
			<id>cron.pop3</id>
			<name>Default POP3 Module</name>
			<class>
				<file>cron.classes.php</file>
				<name>Pop3Cron</name>
			</class>
			<params>
			</params>
		</extension>		
		
	</extensions>
</plugin>