<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.webapi</id>
	<name>Cerberus Helpdesk: Web Services API</name>
	<description>A RESTful XML/JSON interface for integrating Cerberus Helpdesk with other applications and tools.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/Web-API</link>
	<class>
		<file>api/Plugin.php</file>
		<name>ChRestPlugin</name>
	</class>
	
	<extensions>
		<!-- Translations -->
		
		<extension point="devblocks.i18n.strings">
			<id>webapi.translations</id>
			<name>Web API Strings</name>
			<class>
				<file>api/Plugin.php</file>
				<name>ChWebApiTranslations</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Patch Containers -->
		
		<extension point="devblocks.patch.container">
			<id>cerberusweb.patches.webapi</id>
			<name>Web Services API Patches</name>
			<class>
				<file>api/Patch.php</file>
				<name>ChWebApiPatchContainer</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Controllers -->
	
		<extension point="devblocks.controller">
			<id>cerberusweb.controller.rest</id>
			<name>REST Controller</name>
			<class>
				<file>api/App.php</file>
				<name>ChRestFrontController</name>
			</class>
			<params>
				<param key="uri" value="webapi" />
			</params>
		</extension>
		
		<!-- Config Tabs -->
		
		<extension point="cerberusweb.config.tab">
			<id>webapi.config.tab</id>
			<name>Web API Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChWebApiConfigTab</name>
			</class>
			<params>
				<param key="uri" value="webapi" />
				<param key="title" value="Web API" />
			</params>
		</extension>
		
		
	</extensions>
</plugin>